Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @jesusvazquez, @roidelapluie, @dgl

labels.Compare: simplify case where b is a prefix of a
  model/labels/labels_stringlabels.go
Owners: none

Testing go in CI
  BUILD
  go/server/decoder_arm64.go
  wal/wal_c_api/wal_c_types.h
  wal/wal_c_types.cpp
Owners: none

head_append.go: use new AppendOrCreate histogram functions
  storage/series.go
  tsdb/chunkenc/chunk.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/histogram_test.go
  tsdb/chunkenc/xor.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/querier.go
  tsdb/tsdbutil/chunks.go
Owners: @jesusvazquez

Remove unused AppendOrCreate for float series
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/xor.go
Owners: @jesusvazquez

Remove AppendHistogram and AppendFloatHistogram from the Chunk interface
  tsdb/chunkenc/chunk.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/histogram_test.go
  tsdb/chunkenc/xor.go
Owners: @jesusvazquez

stringlabels Compare: go 8 bytes at a time
  model/labels/labels_stringlabels.go
Owners: none

labels: remove some TODO comments
  model/labels/labels_stringlabels.go
Owners: none

Add sentence explaining what happens when the `for` clause is omitted
  docs/configuration/alerting_rules.md
Owners: none

typo
  cmd/prometheus/main.go
Owners: none

typo
  cmd/prometheus/main.go
Owners: none

Add sentence explaining what happens when the `for` clause is omitted (#12457)
  docs/configuration/alerting_rules.md
Owners: none

Add support for inline TLS certificates
  docs/configuration/configuration.md
Owners: none

add unit test cases
  promql/quantile_test.go
Owners: @roidelapluie

updated expected value
  promql/quantile_test.go
Owners: @roidelapluie

Hide `which` stderr output
  Makefile
  Makefile.common
Owners: none

mv labels_string.go labels_stringlabels.go (#12328)
  model/labels/labels_stringlabels.go
Owners: none

docs: update prometheus-operator link
  docs/configuration/configuration.md
Owners: none

Add feature flag to squash metadata from /api/v1/metadata (#12391)
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

rewrite `which` with `command -v`
  Makefile
  Makefile.common
Owners: none

Create release candidate 2.45.0-rc.0 (#12435)
  CHANGELOG.md
  VERSION
  go.mod
  go.sum
  web/api/v1/api.go
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
  web/web.go
Owners: @juliusv, @nexucis

Add sentence explaining what happens when the `for` clause is omitted (#12457)
  docs/configuration/alerting_rules.md
Owners: none

Remove trailing commas from Exemplar API docs
  docs/querying/api.md
Owners: none

Bump UI version (#12440)
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

updated expected value
  promql/quantile_test.go
Owners: @roidelapluie

Add support for inline TLS certificates
  docs/configuration/configuration.md
Owners: none

Scheduled OOO Compaction without dependency on in-order head Compaction
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

Fix OOO Scheduled Compaction & Add Test
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

Align OOO compaction with wall time
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

Update compaction metrics for head and ooo
  tsdb/db.go
Owners: @jesusvazquez

Update unit tests for new db metrics
  tsdb/compact_test.go
Owners: @jesusvazquez

accept linter recommandation using time.Until in tests
  tsdb/db_test.go
Owners: @jesusvazquez

Re-introduce the StoreMetadata method; make metadata to always be sent alongside any sample
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

fix: apply suggested changes
  util/fmtutil/format.go
Owners: none

Fix test helper; remove unnecessary conversion
  storage/remote/queue_manager_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Refill sender
  go/go.mod
  go/go.sum
  go/server/decoder.go
  go/server/decoder_test.go
  go/server/transport.go
  go/server/transport2_old.go
  go/server/transport_old.go
  go/server/transport_old_test.go
  go/server/transport_test.go
  go/transport/transport.go
  go/transport/transport_test.go
Owners: none

web: Initialize requestCounter metrics to 0 with handler and 200k labels.
  web/web.go
Owners: none

Revert "Improving Performance on the API Gzip Handler (#12363)"
  go.mod
  go.sum
  util/httputil/compression.go
  util/httputil/compression_test.go
Owners: none

Create 2.45.0-rc.1
  CHANGELOG.md
Owners: none

Bump version and ui version
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Create 2.45.0-rc.1 (#12478)
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
