Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

Change test to support unordered results
  promql/engine_test.go
  promql/parser/ast.go
Owners: @roidelapluie

Fix tests
  storage/series_test.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram_test.go
  tsdb/db_test.go
  tsdb/head_test.go
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

Lint
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

Clear counter reset hint for first sample in chunk
  storage/series_test.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/histogram_meta.go
  tsdb/chunkenc/histogram_test.go
  tsdb/head_test.go
Owners: @jesusvazquez

Generate web UI and embed in a way that we can include this in another
  go.mod
  go.sum
  web/ui/assets_embed.go
  web/ui/assets_embed_extra.go
  web/ui/assets_generate.go
Owners: @juliusv

Add support for parallel walking of the AST
  promql/engine.go
  promql/engine_extra.go
  promql/parser/ast.go
  promql/promqltest/test.go
Owners: @roidelapluie

fix typo
  promql/engine_extra.go
Owners: @roidelapluie

Fix edge case in findPathRange that would occationally cause panics
  promql/engine_extra.go
  promql/engine_extra_test.go
Owners: @roidelapluie

Add missing lock to ExtractSelectors
  promql/parser/ast.go
Owners: @roidelapluie

Correct error check for child walk
  promql/parser/ast.go
Owners: @roidelapluie

Fix scrape failure logs
  scrape/scrape.go
Owners: none

Fix scrape failure logs
  scrape/scrape.go
Owners: none

Simplify
  tsdb/head_append.go
Owners: @jesusvazquez

scrape: stop erroring on empty scrapes
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

add CHANGELOG entry
  CHANGELOG.md
Owners: none

[BUGFIX] TSDB: Fix race on stale values in headAppender (#15322)
  tsdb/head_append.go
Owners: @jesusvazquez

rework from suggestion
  scrape/scrape.go
Owners: none

Adjusting test cases
  promql/engine.go
  promql/engine_extra_test.go
  promql/engine_test.go
  promql/parser/parse_test.go
  storage/remote/read.go
Owners: @roidelapluie, @cstyan, @bwplotka, @tomwilkie

fix
  promql/engine.go
Owners: @roidelapluie

fix web test
  web/web.go
Owners: none

scrape: add metric for dropped targets
  scrape/metrics.go
  scrape/scrape.go
Owners: none

docs: formatting and typo fixes to 3.0 migration guide
  docs/migration.md
Owners: none

disable lint check
  .github/workflows/ci.yml
Owners: none

Address test cases
  .github/workflows/ci.yml
  promql/engine_test.go
Owners: @roidelapluie

Fixed queryier bug
  prometheus/label_matcher.h
  series_index/querier/selector_querier.h
  series_index/tests/querier/querier_tests.cpp
  series_index/tests/querier/selector_querier_tests.cpp
Owners: none

fixed bug in series_data::Serializer
  bare_bones/bit_sequence.h
  bare_bones/streams.h
  series_data/serialization/serializer.h
  series_data/tests/serialization/serializer_deserializer_tests.cpp
Owners: none

Update prometheus/common
  go.mod
  go.sum
  util/logging/file_test.go
Owners: none

lint
  scrape/scrape.go
Owners: none

Update comment
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram_meta.go
Owners: @jesusvazquez

fix typo
  tsdb/chunkenc/histogram_meta.go
Owners: @jesusvazquez

Fix ignoreCounterResets and then tests
  tsdb/db_test.go
  tsdb/testutil.go
Owners: @jesusvazquez

scrape: stop erroring on empty scrapes
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

Allow UTF-8 characters in metric and label names as opt-in feature
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_utf8.bad.yml
  config/testdata/otlp_allow_utf8.good.yml
  documentation/examples/prometheus-otlp.yml
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Fix bug where validation scheme was not validated
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_utf8.incompatible.yml
  documentation/examples/prometheus-otlp.yml
Owners: none

Making lint happy
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote-write should use a DNS resolver that shuffles resulting IPs
  storage/remote/client.go
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fixing golangci-lint issues
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fixing review findings
  config/config.go
  docs/configuration/configuration.md
  storage/remote/client.go
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

Get rid of unnecessary variables and types
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fixing golangci-lint issues
  storage/remote/client.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie
