Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

[EXPERIMENT] Try GOAMD64=v3
  Makefile.common
Owners: none

Bump to 1.24rc3
  go.mod
Owners: none

debugging https://github.com/prometheus/test-infra/issues/832
  .github/workflows/ci.yml
Owners: none

debugging https://github.com/prometheus/test-infra/issues/832
  .github/workflows/ci.yml
  Makefile
Owners: none

Further debugging.
  Makefile
Owners: none

upgrade npm first.
  Makefile
Owners: none

filter out histograms in place
  promql/functions.go
Owners: @roidelapluie

Shrink vector on shrink lss
  bare_bones/snug_composite.h
  primitives/snug_composites_filaments.h
Owners: none

[FIX] PromQL: Ignore histograms in `scalar`, `sort` and `sort_desc` functions (#15964)
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

remote-write: validate sorted labels (fixes #11505)
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

gofumt error fix
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote-write: sort labels lexicographically (fixes #11505)
  docs/configuration/configuration.md
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Apply npm audit fix to react-app
  web/ui/react-app/package-lock.json
Owners: @juliusv

update in test
  package-lock.json
Owners: none

update in test
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

updated write handler
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

whitespace
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

updates
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote-write-sorted-labels
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

improvments in test file
  model/labels/labels_stringlabels.go
  storage/remote/otlptranslator/prometheus/testutils_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points_test.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

promqltest: Small formatting improvement for native histograms
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

remote-write: validate sorted labels (fixes #11505)
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fix maxTime in converted block
  go/relabeler/block/writer.go
Owners: none

changed-mantine-ui-navbar-breakpoints
  web/ui/mantine-ui/src/App.tsx
Owners: @juliusv

Improving "Sparse postings" intersection
  tsdb/index/postings.go
  tsdb/querier_bench_test.go
Owners: @jesusvazquez

trying to make the code more readable
  tsdb/index/postings.go
Owners: @jesusvazquez

JUST A TEST, DNM
  util/runtime/statfs_linux_386.go
Owners: none

ci action: always report build_all status
  .github/workflows/ci.yml
Owners: none

push to branch
  foo
Owners: none

always build all
  .github/workflows/ci.yml
Owners: none

Change case order for switch scrapeLoop
  scrape/scrape.go
Owners: none

fixed fail on catalog start with corrupted log file
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/decoder.go
Owners: none

headIndexReader: reduce debug logging
  tsdb/head_read.go
Owners: @jesusvazquez

headIndexReader: reduce debug logging (#15993)
  tsdb/head_read.go
Owners: @jesusvazquez

add new expect lines for promql testing framework
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

rename variables
  promql/promqltest/test.go
Owners: @roidelapluie

update expect regex var name
  promql/promqltest/test.go
Owners: @roidelapluie

fix lint
  promql/promqltest/test.go
Owners: @roidelapluie

fix another lint
  promql/promqltest/test.go
Owners: @roidelapluie

docs: Update PromQL documentation to match the native histogram spec
  docs/querying/basics.md
  docs/querying/functions.md
  docs/querying/operators.md
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
