Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

[BUGFIX] TSDB: Fix race on stale values in headAppender
  tsdb/head_append.go
Owners: @jesusvazquez

Create release 2.55.1
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

test promql
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

test promql
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

Release 3.0.0-rc.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Debugging
  storage/merge.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
  tsdb/db_test.go
Owners: @jesusvazquez

Scraping: stop storing discovered labels
  cmd/promtool/sd.go
  scrape/manager_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  scrape/target_test.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @dgl

Fix hacky fix
  storage/merge.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
  tsdb/db_test.go
Owners: @jesusvazquez

Updates
  promql/promqltest/test.go
  promql/promqltest/testdata/ooo.test
  util/teststorage/storage.go
Owners: @roidelapluie

chore: Remove dead code
  cmd/prometheus/main.go
  scrape/manager.go
Owners: none

Make release 2.53.3 LTS
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Helper Function for spans
  .gitignore
  model/histogram/histogram.go
Owners: none

Update .gitignore
  .gitignore
Owners: none

Use a function to determine if an aggregation function is experimental
  promql/parser/lex.go
  promql/parser/parse.go
Owners: @roidelapluie

Change promql test to allow overriding storage layer
  promql/promqltest/test.go
Owners: @roidelapluie

fix test
  promql/promqltest/test.go
Owners: @roidelapluie

Make remote read use the new selectParams for start/end
  storage/remote/read.go
Owners: @cstyan, @bwplotka, @tomwilkie

Add methods to retrieve the router and handler from prometheus/web
  web/web.go
Owners: none

Only set CORS headers if they aren't set already
  util/httputil/cors.go
Owners: none

working commit
  cmd/promtool/main.go
  promql/engine.go
  promql/info.go
  promql/parser/ast.go
  promql/promqltest/test.go
  rules/group.go
Owners: @dgl, @roidelapluie

working commit
  promql/parser/ast.go
Owners: @roidelapluie

Return errors from populateSeries
  promql/engine.go
Owners: @roidelapluie

Add path to nodereplacer
  promql/parser/ast.go
Owners: @roidelapluie

Add SetChild for new invariant type
  promql/parser/ast.go
Owners: @roidelapluie

Pass context down to populateSeries
  promql/engine.go
Owners: @roidelapluie

[COMMENT] Remove duplicate line
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

Update prometheus/common
  go.mod
  go.sum
  util/logging/file_test.go
Owners: none

Fix auto reload when a config file with a syntax error is reverted
  cmd/prometheus/main.go
  cmd/prometheus/reload_test.go
Owners: none

MemPostings.Delete: copy without write lock
  tsdb/index/postings.go
Owners: @jesusvazquez

MemPostings.Delete(): make pauses to unlock and let the readers read (#15242)
  tsdb/index/postings.go
Owners: @jesusvazquez

Separate relabeling lss
  entrypoint/prometheus_relabeler.cpp
  entrypoint/prometheus_relabeler.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/prometheus_relabeler.go
  go/cppbridge/prometheus_relabeler_test.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/shard.go
  go/relabeler/head/task.go
  primitives/primitives.h
  primitives/tests/labels_builder_tests.cpp
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
  scripts/bazel.mk
Owners: none

Export 'go_sync_mutex_wait_total_seconds_total' metric
  cmd/prometheus/main.go
Owners: none

Fix selector / series formatting for empty metric names
  web/ui/mantine-ui/src/promql/serializeAndFormat.test.ts
  web/ui/mantine-ui/src/promql/utils.ts
Owners: @juliusv

Fix selector / series formatting for empty metric names
  web/ui/mantine-ui/src/promql/serializeAndFormat.test.ts
  web/ui/mantine-ui/src/promql/utils.ts
Owners: @juliusv

DRY code
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/native_histograms.test
  util/annotations/annotations.go
Owners: @roidelapluie

fix lint
  promql/engine.go
Owners: @roidelapluie

fix comments
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

Clear counter reset headers for non-gauge histograms
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

Add links to PR
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

Fix setting gauge histogram
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
