Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

[FIX] failing tests
  .vscode/launch.json
  .vscode/prometheus.yml
  helper.sh
Owners: none

update golangci-lint v1.63.4
  .github/workflows/ci.yml
  .golangci.yml
  Makefile.common
  scripts/golangci-lint.yml
Owners: none

fix segment.ID
  go/relabeler/remotewriter/datasource.go
Owners: none

Add additional tests for operators over incompatible nhcb (#15787)
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

promql: add vanish function
  CHANGELOG.md
  docs/querying/functions.md
  promql/functions.go
  promql/parser/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

remote/otlp: add delta test
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: use consumer.Metrics api
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: use deltatocumulative
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

util: otel pipelines
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_test.go
  util/otel/fake/fake.go
  util/otel/meter.go
  util/otel/pipeline.go
  util/otel/pipeline_test.go
  web/api/v1/api.go
Owners: @cstyan, @bwplotka, @tomwilkie

storage/otlp: otlp-delta feature flag
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  docs/querying/api.md
  storage/remote/write_handler.go
  storage/remote/write_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

util/otel: noop telemetry
  go.mod
  go.sum
  util/otel/meter.go
  util/otel/pipeline_test.go
Owners: none

storage/remote: skip deltatocumulative if no delta
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: inline deltatocumulative construction
  storage/remote/write_handler.go
  util/otel/fake/fake.go
  util/otel/meter.go
  util/otel/pipeline.go
  util/otel/pipeline_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: benchmark
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: panic on otel init failure
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

add time field
  web/api/v1/api_test.go
Owners: none

implement suggestions
  web/api/v1/api_test.go
Owners: none

refine testcases to check limit on query range
  web/api/v1/api_test.go
Owners: none

review fix v5 metrics
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

initial commit for the changes
  promql/functions.go
Owners: @roidelapluie

improve performance
  promql/functions.go
Owners: @roidelapluie

[BUGFIX] PromQL: Fix `<aggr_over_time>` functions with histograms (#15711)
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Fix issues raised by staticcheck
  .golangci.yml
  cmd/prometheus/main.go
  cmd/promtool/main.go
  promql/promqltest/test.go
  scrape/target.go
  storage/remote/metadata_watcher.go
  storage/remote/queue_manager.go
  tsdb/wlog/watcher.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Group named imports together
  cmd/promtool/main.go
Owners: @dgl

Revert explicitly enabling staticcheck
  .golangci.yml
Owners: none

use labels.FromMap
  web/api/v1/api_test.go
Owners: none

web/api: Add a limit parameter to /query and /query_range (#15552)
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

Fix issues raised by staticcheck (#15722)
  cmd/prometheus/main.go
  cmd/promtool/main.go
  promql/promqltest/test.go
  scrape/target.go
  storage/remote/metadata_watcher.go
  storage/remote/queue_manager.go
  tsdb/wlog/watcher.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Fix locks in db.reloadBlocks()
  tsdb/db.go
Owners: @jesusvazquez

Remove TestTombstoneCleanRetentionLimitsRace
  tsdb/db_test.go
Owners: @jesusvazquez

Remove unnecessary locks
  tsdb/db.go
Owners: @jesusvazquez

Wrap db.blocks read in a read lock
  tsdb/db.go
Owners: @jesusvazquez

Update comments for methods that require a lock
  tsdb/db.go
Owners: @jesusvazquez

Add release to ghcr.io
  .github/workflows/ci.yml
Owners: none

Rule Concurrency: Simpler loop for sequential (default) executions Follow-up to #15681, Supersedes #15796
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

Address PR comments
  rules/group.go
Owners: none

Address PR comments
  rules/group.go
Owners: none

Rule Concurrency: Simpler loop for sequential (default) executions (#15801)
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

for save
  go/relabeler/head/wal.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

for save
  go/relabeler/remotewriter/writeloop.go
Owners: none
