Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

Optimized chunk recoder
  Makefile
  entrypoint/index_writer.cpp
  entrypoint/index_writer.h
  entrypoint/series_data_data_storage.cpp
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/head.go
  go/cppbridge/head_test.go
  go/cppbridge/index_writer.go
  go/cppbridge/index_writer_test.go
  go/relabeler/block.go
  go/relabeler/block/writer.go
  head/chunk_recoder.h
  head/chunk_recoder_tests.cpp
  primitives/primitives.h
  scripts/bazel.mk
  series_index/prometheus/tsdb/index/index_writer.h
  series_index/prometheus/tsdb/index/section_writer/series_writer.h
  series_index/queryable_encoding_bimap.h
  series_index/tests/prometheus/tsdb/index/section_writer/postings_writer_tests.cpp
  series_index/tests/prometheus/tsdb/index/section_writer/series_writer_tests.cpp
Owners: none

Relabeler head wal encoder/decoder
  bare_bones/gorilla.h
  bare_bones/lz4_stream.h
  bare_bones/snug_composite.h
  bare_bones/tests/gorilla_tests.cpp
  entrypoint/head_wal.cpp
  entrypoint/head_wal.h
  go/cppbridge/entrypoint.h
  performance_tests/series_data_encoder_test.cpp
  prometheus/relabeler.h
  wal/decoder.h
  wal/encoder.h
  wal/tests/wal_tests.cpp
  wal/wal.h
Owners: none

fix(nhcb): created timestamp fails when keeping classic histograms (#15218)
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

perf(nhcb): optimize away most allocations in convertnhcb
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
  promql/promqltest/test.go
  util/convertnhcb/convertnhcb.go
  util/convertnhcb/convertnhcb_test.go
Owners: @roidelapluie

bugfix
  go/relabeler/head/manager/manager.go
Owners: none

refactor: reorder fields in defaultSDConfig initialization for consistency
  discovery/http/http.go
Owners: none

merge fix
  go/cppbridge/entrypoint.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/head.go
Owners: none

merge fix
  series_index/tests/codec.cpp
Owners: none

discovery/kubernetes: optimize resolvePodRef
  discovery/kubernetes/endpoints.go
  discovery/kubernetes/endpoints_test.go
Owners: @brancz

test fix
  go/frames/frames.go
  go/frames/transport_frames_test.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/test/main.go
Owners: none

refactor(tsdb): Refactor testOOOInterleavedImplicitCounterResets
  tsdb/db_test.go
Owners: @jesusvazquez

test fix
  go/relabeler/appender/appender_test.go
Owners: none

refactor(tsdb): add cases to testOOOInterleavedImplicitCounterResets
  tsdb/db_test.go
Owners: @jesusvazquez

fix(tsdb): make all OOO chunks be re-coded
  tsdb/ooo_head_read.go
Owners: @jesusvazquez

test fix
  go/relabeler/cppbridge_moq_test.go
Owners: none

discovery/kubernetes: use namespacedName
  discovery/kubernetes/endpoints.go
Owners: @brancz

tsdb.CircularExemplarStorage: Avoid racing
  tsdb/exemplar.go
  tsdb/exemplar_test.go
Owners: @jesusvazquez

perf(tsdb): do not recode single non-overlapping chunks
  tsdb/db_test.go
  tsdb/ooo_head_read.go
  tsdb/ooo_head_read_test.go
Owners: @jesusvazquez

discovery/kubernetes: optimize more gets
  discovery/kubernetes/endpointslice.go
Owners: @brancz

fix(lezer-promql): fix missing types export in package.json (#15161)
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

react-app: bump version in lock file
  web/ui/react-app/package-lock.json
Owners: @juliusv

FastRegexMatcher: use stack memory for lowercase copy of string
  model/labels/regexp.go
  model/labels/regexp_test.go
Owners: none

[REFACTORY] removing series from commit context struct
  tsdb/head_append.go
  tsdb/head_bench_test.go
Owners: @jesusvazquez

Series ids sort
  entrypoint/primitives_lss.cpp
  go/cppbridge/primitives_lss_test.go
  series_index/queryable_encoding_bimap.h
Owners: none

fix(tsdb): do not optimize for non-overlapping OOO chunks
  tsdb/db_test.go
  tsdb/ooo_head_read.go
  tsdb/ooo_head_read_test.go
Owners: @jesusvazquez

Update tsdb/ooo_head_read.go
  tsdb/ooo_head_read.go
Owners: @jesusvazquez

Move buffer allocation after zero length check
  tsdb/exemplar.go
Owners: @jesusvazquez

Apply reviewer feedback
  tsdb/exemplar_test.go
Owners: @jesusvazquez

[FEATURE] PromQL: Add experimental info function MVP (#14495)
  CHANGELOG.md
  docs/querying/functions.md
  promql/bench_test.go
  promql/engine.go
  promql/functions.go
  promql/info.go
  promql/info_test.go
  promql/parser/ast.go
  promql/parser/functions.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  web/ui/module/codemirror-promql/src/complete/promql.terms.ts
  web/ui/module/codemirror-promql/src/parser/parser.test.ts
  web/ui/module/codemirror-promql/src/parser/parser.ts
  web/ui/module/codemirror-promql/src/types/function.ts
  web/ui/module/lezer-promql/src/promql.grammar
Owners: @roidelapluie, @juliusv, @nexucis

tsdb.CircularExemplarStorage: Avoid racing (#15231)
  tsdb/exemplar.go
  tsdb/exemplar_test.go
Owners: @jesusvazquez

chore: fix function name in comment
  storage/buffer.go
Owners: none

Add --storage.tsdb.retention.percentage (#10287)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  tsdb/db.go
  util/runtime/statfs_default.go
  util/runtime/statfs_linux_386.go
  util/runtime/statfs_uint32.go
  util/runtime/statfs_unix_test.go
  util/runtime/statfs_windows.go
  util/runtime/statfs_windows_test.go
  web/web.go
Owners: @jesusvazquez

fix(tsdb): clear the counter reset hint from OOO chunks unless explicit
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
  tsdb/db_test.go
  tsdb/head_test.go
  tsdb/ooo_head.go
  tsdb/ooo_head_read.go
  tsdb/ooo_head_read_test.go
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

Update tsdb/head_bench_test.go
  tsdb/head_bench_test.go
Owners: @jesusvazquez

[REFACTORY] simplify appender commit (#15112)
  tsdb/head_append.go
  tsdb/head_bench_test.go
Owners: @jesusvazquez

External caches
  BUILD
  bare_bones/snug_composite.h
  entrypoint/prometheus_relabeler.cpp
  entrypoint/prometheus_relabeler.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/primitives_lss_test.go
  go/cppbridge/prometheus_relabeler.go
  go/cppbridge/prometheus_relabeler_test.go
  go/go.mod
  go/go.sum
  go/relabeler/appender/appender.go
  go/relabeler/appender/appender_test.go
  go/relabeler/appender/head.go
  go/relabeler/appender/rotator.go
  go/relabeler/appender/storage.go
  go/relabeler/block/writer.go
  go/relabeler/destination_group.go
  go/relabeler/distributor/distributor.go
  go/relabeler/head/head.go
  go/relabeler/head/promise.go
  go/relabeler/head/shard.go
  go/relabeler/head/task.go
  go/relabeler/interface.go
  go/relabeler/models.go
  go/relabeler/querier/multi.go
  go/relabeler/querier/querier.go
  primitives/primitives.h
  primitives/tests/labels_builder_tests.cpp
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
  series_index/querier/label_names_querier.h
  series_index/querier/label_values_querier.h
  series_index/querier/querier.h
  series_index/queryable_encoding_bimap.h
  wal/hashdex/scraper.h
  wal/hashdex/scraper_tests.cpp
Owners: none

fix CHANGELOG formatting and add entry for #14694
  CHANGELOG.md
Owners: none

rotation timer with seed. queryable storage write notifier
  go/relabeler/appender/appender_test.go
  go/relabeler/appender/rotator.go
  go/relabeler/appender/storage.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/manager/manager.go
  go/relabeler/rotate_timer.go
Owners: none

TSDB: Make mergedPostings generic
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

TSDB: extend BenchmarkMemPostings_PostingsForLabelMatching to check merge speed
  tsdb/index/postings_test.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
