Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

used bazel 7.4.1
  .bazelrc
  MODULE.bazel
  bazel/toolchain/BUILD
Owners: none

for save
  entrypoint/wal_decoder.cpp
  go/cppbridge/entrypoint.go
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
  wal/output_decoder.h
Owners: none

lint
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

add metrics
  entrypoint/wal_decoder.cpp
  go/cppbridge/entrypoint.go
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

fix naming
  entrypoint/wal_decoder.cpp
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
Owners: none

fix
  entrypoint/wal_decoder.cpp
Owners: none

metrics added
  go/relabeler/remotewriter/iterator.go
Owners: none

split count
  entrypoint/wal_decoder.cpp
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
Owners: none

fix naming
  entrypoint/wal_decoder.cpp
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
Owners: none

chore: Sign project binary on MacOS
  .gitignore
  Makefile.common
Owners: none

[CHORE] deleting blocks on startup
  cmd/promtool/backfill_test.go
  tsdb/db.go
Owners: @dgl, @jesusvazquez

Make templateData a struct
  rules/alerting.go
  template/template.go
Owners: none

metrics added
  go/cppbridge/wal_decoder.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
Owners: none

metrics added
  go/relabeler/remotewriter/decoder.go
Owners: none

refactor: Change to using v1.Range for passing start,end,step parameters around
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/query.go
  docs/command-line/promtool.md
Owners: @dgl

feat: Add support for `unittest` output for promtool queries
  cmd/promtool/main.go
Owners: @dgl

bug fix
  go/relabeler/remotewriter/iterator.go
Owners: none

bug fix
  go/relabeler/remotewriter/writeloop.go
Owners: none

bug fix
  go/relabeler/remotewriter/writeloop.go
Owners: none

for save
  go/relabeler/querier/querier.go
  go/relabeler/remotewriter/iterator.go
Owners: none

review fix
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/manager/head.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
Owners: none

review fix v2
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/log.go
Owners: none

review fix v3
  go/relabeler/head/catalog/log.go
Owners: none

populate CT from metadata.
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

Update benchmark test and comment
  tsdb/record/record.go
  tsdb/record/record_test.go
Owners: @jesusvazquez

small fix
  go/relabeler/head/wal.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

added serialize/deserialize methods to cedar
  series_index/tests/trie/cedarpp_trie_tests.cpp
  series_index/trie/cedarpp_tree.h
Owners: none

Scraping benchmark: more realistic test
  scrape/scrape_test.go
Owners: none

Scraping: Add benchmark for protobuf format
  scrape/scrape_test.go
Owners: none

[TESTS] Scrape: make caching work in benchmark
  scrape/helpers_test.go
Owners: none

scrape: Unified scrape loop benchmark.
  scrape/scrape_test.go
Owners: none

Fix issues raised by staticcheck
  .golangci.yml
  cmd/prometheus/main.go
  cmd/promtool/main.go
  promql/promqltest/test.go
  scrape/target.go
  storage/remote/metadata_watcher.go
  storage/remote/queue_manager.go
  tsdb/wlog/watcher.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

tsdb: export CheckpointPrefix constant (#15636)
  tsdb/db.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

discovery: use a more direct and less error-prone return value (#15347)
  discovery/uyuni/uyuni.go
Owners: none

template: Use cases.Title instead of deprecated strings.Title
  docs/configuration/template_reference.md
  template/template.go
Owners: none

docs: update required go version in readme to 1.22
  README.md
Owners: none

fix(main.go): avoid closing the query engine until it is guaranteed to no longer be in use.
  cmd/prometheus/main.go
  promql/engine.go
Owners: @roidelapluie

fix(main.go): avoid closing the query engine until it is guaranteed to no longer be in use.
  cmd/prometheus/main.go
  promql/engine.go
Owners: @roidelapluie

Add options to test for skipping warn and info
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

docs: update required go version in readme to 1.22 (#15447)
  README.md
Owners: none
