Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

docs(ecs): add service discovery configuration docs
  docs/configuration/configuration.md
Owners: none

remove(ecs): superfluous list services interface
  discovery/aws/ecs.go
Owners: none

adds idelta and irate functions
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

chore(deps): use version.PrometheusUserAgent
  cmd/promtool/main.go
  discovery/azure/azure.go
  discovery/digitalocean/digitalocean.go
  discovery/eureka/client.go
  discovery/hetzner/robot.go
  discovery/http/http.go
  discovery/ionos/server.go
  discovery/kubernetes/kubernetes.go
  discovery/linode/linode.go
  discovery/moby/docker.go
  discovery/moby/dockerswarm.go
  discovery/puppetdb/puppetdb.go
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/vultr/vultr.go
  discovery/xds/client.go
  notifier/notifier.go
  scrape/scrape.go
  storage/remote/client.go
Owners: @dgl, @brancz, @cstyan, @bwplotka, @tomwilkie

Add missing period
  promql/functions.go
Owners: @roidelapluie

docs: Improve documentation of promql-delayed-name-removal flag
  docs/feature_flags.md
Owners: none

Ensure metric name is present on histogram_quantile annotations (#15828)
  promql/engine_test.go
  promql/functions.go
  promql/quantile.go
Owners: @roidelapluie

add tests for irate
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

promql: use histogram stats decoder for histogram_avg
  promql/engine.go
Owners: @roidelapluie

Hashdex interface
  entrypoint/_helpers.hpp
  entrypoint/head_wal.cpp
  entrypoint/wal_decoder.cpp
  entrypoint/wal_encoder.cpp
  entrypoint/wal_hashdex.cpp
  prometheus/hashdex.h
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
  wal/hashdex.h
  wal/hashdex/basic_decoder.h
  wal/hashdex/go_model.h
  wal/hashdex/go_model_tests.cpp
  wal/hashdex/protobuf.h
  wal/hashdex/scraper/scraper.h
  wal/tests/output_decoder_tests.cpp
Owners: none

removed Bitset from VectorWithHoles
  BUILD
  bare_bones/allocated_memory.h
  bare_bones/concepts.h
  bare_bones/vector.h
  bare_bones/vector_with_holes.h
Owners: none

Fixed relabelling; allowing UTF-8 in targetLabel.
  model/relabel/relabel.go
  model/relabel/relabel_test.go
Owners: none

fix: os.MkdirTemp with t.TempDir
  tsdb/tsdbutil/dir_locker_testutil.go
Owners: @jesusvazquez

Fixed rulefmt UTF-8 expectations.
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
  model/rulefmt/testdata/utf-8_annotation.good.yaml
  model/rulefmt/testdata/utf-8_lname.good.yaml
Owners: none

created prompp_head_wal_decoder_decode_to_data_storage binding
  entrypoint/head/series_data.h
  entrypoint/head_wal.cpp
  entrypoint/head_wal.h
  entrypoint/series_data_encoder.cpp
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/head_wal.go
  go/cppbridge/head_wal_test.go
  wal/decoder.h
Owners: none

Metrics output decoder
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  go/cppbridge/wal_encode_decode_test.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

test fix
  go/relabeler/appender/appender_test.go
Owners: none

fix(nhcb): inconsistent compact number
  model/textparse/nhcbparse_test.go
  util/convertnhcb/convertnhcb.go
Owners: none

perf(nhcb): reuse calculated metric name and hash if possible
  model/textparse/nhcbparse.go
Owners: none

head: catalog: log: test fix
  go/relabeler/head/catalog/log.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/head/catalog/testdata/headv1.log
  go/relabeler/head/catalog/testdata/headv2.log
Owners: none

head: catalog: log: test fix v2
  go/relabeler/head/catalog/log_test.go
Owners: none

[EXPERIMENT] Try Go 1.24rc2
  go.mod
Owners: none

Update cmd/promtool/main.go
  cmd/promtool/main.go
Owners: @dgl

add suggestion changes
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

created BareBones::StreamVByte::CompactSequence and used it in ReverseIndex
  bare_bones/memory.h
  bare_bones/stream_v_byte.h
  bare_bones/tests/stream_v_byte_tests.cpp
  series_index/reverse_index.h
Owners: none

test(promql): some functions silently ignore native histograms
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Head load optimization
  go/relabeler/appender/appender.go
  go/relabeler/appender/appender_test.go
  go/relabeler/appender/head.go
  go/relabeler/appender/metrics.go
  go/relabeler/appender/rotator.go
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/shard.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

promtool: optimize labels slice allocation
  cmd/promtool/tsdb.go
Owners: @dgl

scrape: move allocation out of lock
  scrape/manager.go
Owners: none

Update model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt.go
Owners: none

[EXPERIMENT] Try GOAMD64=v3
  Makefile.common
Owners: none

Addressed comments.
  model/relabel/relabel.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
Owners: none

upgrade influxdb client to v2
  documentation/examples/remote_storage/go.mod
  documentation/examples/remote_storage/go.sum
  documentation/examples/remote_storage/remote_storage_adapter/README.md
  documentation/examples/remote_storage/remote_storage_adapter/influxdb/client.go
  documentation/examples/remote_storage/remote_storage_adapter/influxdb/client_test.go
  documentation/examples/remote_storage/remote_storage_adapter/main.go
Owners: none

tsdb tests: restrict some 'defer' operations
  tsdb/db_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez

tsdb tests: avoid 'defer' till end of function
  tsdb/head_test.go
Owners: @jesusvazquez

tsdb tests: avoid capture-by-reference in goroutines
  tsdb/compact_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

adds tests for sum_over_time and avg_over_time
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

adds tests for timestamp()
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

use custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  storage/remote/client.go
  storage/remote/client_test.go
  storage/remote/storage.go
  storage/remote/write.go
  template/template.go
  web/web.go
Owners: @dgl, @cstyan, @bwplotka, @tomwilkie

Call PostCreation callback only after the new series is added to the mempotings (#15579)
  tsdb/head.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
