Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

adds series with only histogram
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix TestSelectExemplar_MultiSeries assertion message
  tsdb/exemplar_test.go
Owners: @jesusvazquez

port TestSelectExemplar_MultiSeries
  tsdbv2/db_test.go
  tsdbv2/exemplar_test.go
  tsdbv2/query/labels/labels_querier.go
Owners: none

remove batch pool
  tsdbv2/batch/batch.go
Owners: none

chore: lint
  tsdbv2/exemplar_test.go
Owners: none

[BUGFIX] PromQL: Adds test for `absent`, `absent_over_time` and `deriv` func with histograms (#15667)
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Finalized chunk merger bugfix
  series_data/chunk_finalizer.h
  series_data/encoder.h
  series_data/tests/outdated_chunk_merger_tests.cpp
Owners: none

Update mixin dashboard
  documentation/prometheus-mixin/dashboards.libsonnet
  documentation/prometheus-mixin/jsonnetfile.json
Owners: @metalmatze

tweaks based on suggestions
  CHANGELOG.md
  storage/remote/client.go
  storage/remote/client_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

adds tests for with histograms
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix indentation
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

RuleDependencyController: Fix for indeterminate conditions (#15560)
  rules/fixtures/rules_indeterminates.yaml
  rules/manager.go
  rules/manager_test.go
Owners: none

fix: fails to auto-reload on changes to rule and scrape config files
  config/reload.go
  config/reload_test.go
Owners: none

Extra comment on test
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Apply suggestions from code review
  rules/group.go
Owners: none

Update rules/group.go
  rules/group.go
Owners: none

Remove `in seconds`. A duration is a duration
  rules/group.go
Owners: none

feat(ruler): Add new `RuleEvaluationTimeSum` field to groups Coupled with a metric: `rule_group_last_rule_duration_sum_seconds`
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

update links to openmetrics to reference the v1.0.0 release
  docs/feature_flags.md
  model/exemplar/exemplar.go
  model/textparse/openmetricsparse.go
  scrape/manager_test.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  tsdb/docs/format/wal.md
Owners: @aknuds1, @jesusvazquez

rules: Add new `RuleEvaluationTimeSum` field to groups (#15672)
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

Store alert state using file storage
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Remove storage hook and metrics for errors
  cmd/prometheus/main.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Update JSON nesting, fix file permissions Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/store.go
Owners: none

Fix lint errors
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Add license header to fix CI Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/alerting.go
  rules/manager.go
  rules/store.go
  rules/store_test.go
Owners: none

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

Paginate rule groups, add infinite scroll to rules within groups
  web/ui/mantine-ui/src/components/SettingsMenu.tsx
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/RulesPage.tsx
  web/ui/mantine-ui/src/state/localStorageMiddleware.ts
  web/ui/mantine-ui/src/state/settingsSlice.ts
Owners: @juliusv

expose ListPostings Length
  tsdb/index/postings.go
Owners: @jesusvazquez

feat(exemplars): exemplars support for recording rules
  cmd/prometheus/main.go
  cmd/promtool/unittest.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/lex.go
  promql/parser/lex_test.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/promqltest/test.go
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: @dgl, @roidelapluie

add tests
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Stringlabels
  go/cppbridge/entrypoint.go
  go/cppbridge/labels.go
  go/cppbridge/primitives_lss.go
  go/cppbridge/primitives_lss_test.go
  go/relabeler/querier/querier.go
Owners: none

[ENHANCEMENT] TSDB: Improve calculation of space used by labels (#13880)
  model/labels/labels.go
  model/labels/labels_dedupelabels.go
  model/labels/labels_stringlabels.go
  tsdb/head.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

fix alignment of atomic uint64 on 32-bit
  util/testutil/context.go
Owners: none

fix TestCuttingNewHeadChunks/really_large_histograms on 32-bit
  model/histogram/test_utils.go
Owners: none

fix TestOOOHeadChunkReader_Chunk on 32-bit
  scrape/manager_test.go
  storage/merge_test.go
  tsdb/db_test.go
  tsdb/head_test.go
  tsdb/ooo_head_test.go
  tsdb/querier_test.go
  tsdb/testutil.go
  tsdb/tsdbutil/histogram.go
Owners: @jesusvazquez

fix TestDropOldTimeSeries on 32-bit
  storage/remote/queue_manager_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix topk/bottomk with numbers greater than int maxsize on 32-bit
  promql/engine.go
Owners: @roidelapluie

run all tests for 386
  .github/workflows/ci.yml
Owners: none

Update comment on MemPostings.lvs
  tsdb/index/postings.go
Owners: @jesusvazquez

Join negated matchers
  tsdb/querier.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez
