Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @gouthamve, @jesusvazquez, @brancz, @roidelapluie, @dgl

Merge pull request #12848 from prometheus/dependabot/go_modules/k8s-io-815bab050d
  go.mod
  go.sum
Owners: none

Expose --storage.tsdb.retention.time in a metric
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

Release 2.48.0-rc0
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Fix possible non-counter warning for empty names and native histograms
  promql/functions.go
  util/annotations/annotations.go
Owners: @roidelapluie

Fix possible non-counter warning for empty names and native histograms
  promql/functions.go
  util/annotations/annotations.go
Owners: @roidelapluie

Fixed typos from .\README.md
  README.md
Owners: none

Fix int32 overflow issues (#12978)
  cmd/promtool/tsdb.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/index/postingsstats.go
  tsdb/ooo_head_read.go
Owners: @dgl, @jesusvazquez

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: none

Add scorecard.yml to sync_repo_files.sh
  scripts/sync_repo_files.sh
Owners: none

Added multistage Dockerfile
  Dockerfile
Owners: none

Updated readme
  README.md
Owners: none

Remove duplicate scorecard workflow
  .github/workflows/scorecard.yml
Owners: none

Update workflow name in sync script
  scripts/sync_repo_files.sh
Owners: none

nits
  CHANGELOG.md
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @gouthamve @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
