Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

Reduce stringlabels memory usage for common labels
  model/labels/labels_stringlabels.go
Owners: none

Update list of hardcoded labels
  model/labels/labels_stringlabels.go
Owners: none

head: wal: max segment size added
  go/cppbridge/head_wal.go
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
Owners: none

somefix
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
Owners: none

test fix
  go/relabeler/appender/appender_test.go
  go/relabeler/head/load.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

util/httputil: reduce heap allocations in newCompressedResponseWriter (#16001)
  util/httputil/compression.go
  util/httputil/compression_test.go
Owners: none

Adding t.Parallel() for tests in model package
  model/histogram/float_histogram_test.go
  model/histogram/generic_test.go
  model/histogram/histogram_test.go
  model/labels/labels_dedupelabels_test.go
  model/labels/labels_test.go
  model/labels/matcher_test.go
  model/labels/regexp_test.go
  model/labels/sharding_test.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
Owners: none

Removing redundant comments and range var capture
  model/histogram/float_histogram_test.go
  model/histogram/generic_test.go
  model/histogram/histogram_test.go
  model/labels/labels_test.go
  model/labels/matcher_test.go
  model/labels/regexp_test.go
  model/labels/sharding_test.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
Owners: none

fix
  go/relabeler/head/head.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
Owners: none

updates due to review comments
  docs/querying/basics.md
  promql/engine.go
  promql/parser/functions.go
  promql/promqltest/testdata/duration_arithmetic.test
Owners: @roidelapluie

Bump promci to latest to avoid deprecated actions/cache CI issue.
  .github/workflows/ci.yml
Owners: none

Bump promci to latest to avoid deprecated actions/cache CI issue. (#16013)
  .github/workflows/ci.yml
Owners: none

promql: Fix counter reset detection in subqueries with histograms
  promql/engine.go
Owners: @roidelapluie

promql: Expose problem with histogram counter resets in subquery
  promql/promqltest/testdata/subquery.test
Owners: @roidelapluie

chore: enable all rules of perfsprint lint
  .golangci.yml
  cmd/prometheus/main.go
  cmd/prometheus/query_log_test.go
  discovery/digitalocean/mock_test.go
  discovery/hetzner/mock_test.go
  discovery/ionos/server_test.go
  discovery/kubernetes/service_test.go
  discovery/linode/mock_test.go
  discovery/vultr/mock_test.go
  discovery/xds/client.go
  promql/bench_test.go
  promql/engine.go
  promql/parser/prettier.go
  rules/alerting.go
  rules/manager_test.go
  tsdb/chunks/chunks.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/ooo_head_read_test.go
  util/documentcli/documentcli.go
  web/api/v1/api_test.go
Owners: @brancz, @roidelapluie, @jesusvazquez

apply pooling fully metadata, apply for exemplars, histograms, and bucketspans
  prompb/io/prometheus/write/v2/codec.go
  storage/remote/codec_test.go
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

promql_parser: Fix invalid format return by `/format_query`.
  promql/parser/printer.go
Owners: @roidelapluie

autocomplete_ui: Improve metric autocomplete.
  web/ui/module/codemirror-promql/src/complete/hybrid.ts
Owners: @juliusv, @nexucis

Expose query log in API
  model/querylog/querylog.go
  promql/engine.go
  promql/engine_test.go
  util/logging/file.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @roidelapluie

Expose query log in API
  model/querylog/querylog.go
  promql/engine.go
  promql/engine_test.go
  util/logging/file.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @roidelapluie

promql: emit correct annotation in `quantile_over_time` when run over a range with histograms and floats
  promql/functions.go
Owners: @roidelapluie

model/textparse: Change parser interface Metric(...) string to Labels(...)
  cmd/promtool/backfill.go
  model/textparse/benchmark_test.go
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  scrape/scrape.go
  scrape/scrape_test.go
  web/federate_test.go
Owners: @dgl

textparse: Optimized protobuf parser with custom streaming decoder.
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  prompb/io/prometheus/client/decoder.go
  prompb/io/prometheus/client/decoder_test.go
  scrape/scrape_test.go
Owners: none

fix load
  go/relabeler/block.go
  go/relabeler/block/writer.go
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/manager/manager.go
Owners: none

promtool: support creating tsdb blocks from a pipe
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_posix_test.go
Owners: @dgl

head load number of segments fix
  go/relabeler/head/load.go
  go/relabeler/head/manager/manager.go
Owners: none

textparse: Use cache for protoparse labels, break interface.
  model/textparse/benchmark_test.go
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  prompb/io/prometheus/client/decoder.go
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

Fixed comments; optimized not needed copy for om and text.
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
Owners: none

define constants for type and unit labels
  model/labels/labels_common.go
Owners: none

set ttlAutopurge to true as ttl is set for codemirror prometheus client cache
  web/ui/module/codemirror-promql/src/client/prometheus.ts
Owners: @juliusv, @nexucis

Make theme switcher a single three-state toggle button (#16000)
  web/ui/mantine-ui/src/components/ThemeSelector.tsx
Owners: @juliusv

Add type and unit in scrape loop; changed textparse Metric for it.
  cmd/promtool/backfill.go
  model/textparse/benchmark_test.go
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  scrape/scrape.go
  scrape/scrape_test.go
  web/federate_test.go
Owners: @dgl

set ttlAutopurge to true as ttl is set for codemirror prometheus client cache (#16024)
  web/ui/module/codemirror-promql/src/client/prometheus.ts
Owners: @juliusv, @nexucis

model/textparse: Change parser interface Metric(...) string to Labels(...) (#16012)
  cmd/promtool/backfill.go
  model/textparse/benchmark_test.go
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  scrape/scrape.go
  scrape/scrape_test.go
  web/federate_test.go
Owners: @dgl

textparse: Optimized protobuf parser with custom streaming decoder.
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  prompb/io/prometheus/client/decoder.go
  prompb/io/prometheus/client/decoder_test.go
  scrape/scrape_test.go
Owners: none

ci: Add GH action that clicks "enable auto-merge" on dependabot PRs
  .github/workflows/automerge-dependabot.yml
Owners: none

ci: Add GH action that clicks "enable auto-merge" on dependabot PRs (#15967)
  .github/workflows/automerge-dependabot.yml
Owners: none

single-button-theme-toggle-and-responsive-logo
  web/ui/mantine-ui/src/App.tsx
  web/ui/mantine-ui/src/components/ThemeSelector.tsx
Owners: @juliusv

single-button-theme-toggle-and-responsive-logo (#16021)
  web/ui/mantine-ui/src/App.tsx
  web/ui/mantine-ui/src/components/ThemeSelector.tsx
Owners: @juliusv

Updating comment
  scrape/scrape.go
Owners: none
