Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @codesome, @roidelapluie, @dgl

feat: health and readiness check of prometheus server in CLI (promtool) (#12096)
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

Check health & ready: move to flags
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

Addressed style feedback on comments
  rules/manager.go
Owners: none

Another comment fix
  rules/manager.go
Owners: none

add label validation to remote write receiver
  storage/remote/codec.go
  storage/remote/codec_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Allow populate block logic in compact to be overriden outside Prometheus (#11711)
  tsdb/compact.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/querier.go
Owners: @codesome

Generalized rule group iteration evaluation hook (#11885)
  rules/manager.go
  rules/manager_test.go
Owners: none

Check health & ready: move to flags (#12223)
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

promtool: read from stdin if no filenames are provided in check rules
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

Validate the metric names and labels in the remote write handler
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  web/api/v1/api.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

fix: apply suggested changes
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

storage/remote: allow propagating HTTPClientOptions to clients
  cmd/prometheus/main.go
  storage/remote/client.go
  storage/remote/client_test.go
  storage/remote/queue_manager_test.go
  storage/remote/read_test.go
  storage/remote/storage.go
  storage/remote/storage_test.go
  storage/remote/write.go
  storage/remote/write_test.go
  tsdb/agent/db_test.go
  web/api/v1/api_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @codesome

fix: RLIM_INFINITY type is uint64 on loong64
  util/runtime/limits_default.go
Owners: none

Adjust samplesPerChunk from 120 to 220
  tsdb/head_append.go
Owners: @codesome

Add comment linking to PR
  tsdb/head_append.go
Owners: @codesome

Test fixes
  storage/remote/read_handler_test.go
  tsdb/db_test.go
  tsdb/head_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @codesome

Add support for native histograms to concreteSeriesIterator
  storage/remote/codec.go
  storage/remote/codec_test.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  tsdb/chunkenc/chunk.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @codesome

Update storage/remote/codec.go
  storage/remote/codec.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

tsdb: Improve a couple of histogram documentation comments
  tsdb/head_append.go
Owners: @codesome

yamllint: don’t check keys and add file extension to config file
  .yamllint.yml
Owners: none

enable nonamedreturns linter
  .golangci.yml
Owners: none

up
  cmd/prometheus/main.go
  cmd/promtool/backfill.go
  cmd/promtool/rules.go
  discovery/kubernetes/kubernetes.go
  model/histogram/float_histogram.go
  model/labels/regexp.go
  model/relabel/relabel.go
  model/rulefmt/rulefmt.go
  model/textparse/protobufparse.go
  promql/engine.go
  promql/functions.go
  promql/parser/parse.go
  promql/value.go
  scrape/scrape.go
  storage/fanout.go
  storage/memoized_iterator.go
  storage/merge.go
  storage/remote/codec_test.go
  storage/remote/read.go
  storage/remote/read_test.go
  util/logging/dedupe_test.go
  util/testutil/context.go
  util/testutil/directory.go
Owners: @dgl, @brancz, @roidelapluie, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

up
  promql/engine.go
  promql/parser/parse.go
  storage/fanout.go
Owners: @roidelapluie

Add mlock when reading symbols in index reader
  tsdb/index/index.go
  tsdb/index/reader_builder_default.go
  tsdb/index/reader_builder_windows.go
Owners: @codesome

Fix windows compilation error
  tsdb/index/reader_builder_windows.go
Owners: @codesome

Introducing HeadOptions.MemPostingsEnsureOrderConcurrency flag
  tsdb/head.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @codesome

Implementing review findings
  tsdb/db.go
  tsdb/head.go
  tsdb/index/postings.go
Owners: @codesome

use consistent error for instant and range query 400
  web/api/v1/api.go
Owners: none

Get Series Optimization
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

gofmt
  web/api/v1/api_test.go
Owners: none

go ling
  web/api/v1/api_test.go
Owners: none

Get rid of MemPostingsEnsureOrderConcurrency flags
  tsdb/db.go
  tsdb/head.go
  tsdb/index/postings.go
Owners: @codesome

Add query_samples_total metric
  promql/engine.go
Owners: @roidelapluie

Rename PopulateBlockFunc to BlockPopulator
  tsdb/compact.go
  tsdb/compact_test.go
Owners: @codesome

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @codesome
/promql @roidelapluie
/cmd/promtool @dgl
