Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

promqltest: allow running tests with custom storage implementation
  promql/promqltest/test.go
Owners: @roidelapluie

remote write
  go/relabeler/appender/head.go
  go/relabeler/appender/storage.go
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/decoder.go
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
  go/relabeler/interface.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

Call PostCreation callback only after the new series is added to the mempotings
  tsdb/head.go
Owners: @jesusvazquez

Add WAL segment versioning; add flag (only v1 allowed).
  cmd/prometheus/main.go
  tsdb/agent/db.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/docs/format/wal.md
  tsdb/head.go
  tsdb/head_test.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/live_reader.go
  tsdb/wlog/reader.go
  tsdb/wlog/reader_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
  tsdb/wlog/wlog.go
  tsdb/wlog/wlog_test.go
Owners: @jesusvazquez

promql: Purge Holt-Winters from a doc comment
  promql/functions.go
Owners: @roidelapluie

config: Remove validation GetScrapeConfigs to avoid race and wrties.
  cmd/prometheus/main.go
  config/config.go
Owners: none

Dependabot: Update UI deps in a single PR
  .github/dependabot.yml
Owners: none

config: Remove validation GetScrapeConfigs; require using config.Load.
  cmd/prometheus/main.go
  config/config.go
  config/config_default_test.go
  config/config_test.go
  config/config_windows_test.go
  scrape/manager_test.go
Owners: none

created single destructor for all hashdexes
  entrypoint/wal_hashdex.cpp
  entrypoint/wal_hashdex.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_hashdex.go
Owners: none

OTLP receiver: Use stdlib for splitting metric name in classical mode (#15573)
  storage/remote/otlptranslator/prometheus/normalize_name.go
Owners: @aknuds1, @jesusvazquez

Don't return an error when tracker is closed
  promql/query_logger.go
Owners: @roidelapluie

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

Revert changes made to BuildCompliantName
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

Add option for metric names that don't follow Prometheus conventions
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

Remove unused file
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
Owners: @aknuds1, @jesusvazquez

fix ci
  tsdbv2/encoding/blob/proto.go
Owners: none

Benchmark encoding classic and nhcb
  tsdb/record/record_test.go
Owners: @jesusvazquez

Apply suggestions from code review
  config/config.go
Owners: none

Improved error.
  config/config.go
  config/config_test.go
Owners: none

tsdb: export checkpointPrefix constant
  tsdb/db.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

Fix lint errors
  tsdb/record/record_test.go
Owners: @jesusvazquez

Fix unused import
  tsdb/record/record_test.go
Owners: @jesusvazquez

Fix lint for real
  tsdb/record/record_test.go
Owners: @jesusvazquez

Add specific Azure permissions required for Azure SD (#15549)
  docs/configuration/configuration.md
Owners: none

lint
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Testing idea of caching _all_ symbols read from chunks
  promql/cache_symbols_test.go
  tsdb/index/index.go
Owners: @roidelapluie, @jesusvazquez

Updating test to report memory
  promql/cache_symbols_test.go
Owners: @roidelapluie

Fix up CI errors from benchmark
  promql/cache_symbols_test.go
Owners: @roidelapluie

used bazel 7.4.1
  .bazelrc
  MODULE.bazel
  bazel/toolchain/BUILD
Owners: none

adds test for some func with histograms
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix tab size
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Store alert state using file storage
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Fix lint errors
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

implement suggestions
  docs/querying/api.md
  web/api/v1/api.go
Owners: none

add limit param to query and rangeQuery
  web/api/v1/api.go
Owners: none

Remove storage hook and metrics for errors
  cmd/prometheus/main.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

fix lint issue
  web/api/v1/api.go
Owners: none

Update JSON nesting, fix file permissions Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/store.go
Owners: none

Add license header to fix CI Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/manager.go
  rules/store.go
  rules/store_test.go
Owners: none

Add an option to restore new rule groups added to existing rule manager
  rules/fixtures/alert_rule.yaml
  rules/fixtures/alert_rule1.yaml
  rules/manager.go
  rules/manager_test.go
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
