Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

[fix] - doc
  docs/configuration/configuration.md
Owners: none

Add additional tests for operators over incompatible nhcb
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

move the long scrape interval config and look back delta config to lint config check
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

Add changelog entry
  CHANGELOG.md
Owners: none

fix test file
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.long_scrape_interval.yml
  cmd/promtool/testdata/prometheus-config.lint.yml
Owners: @dgl

Improve the tests
  cmd/promtool/main.go
  cmd/promtool/main_test.go
Owners: @dgl

PromTool: Support Scrape Interval Lint Checking
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.yml
  docs/command-line/promtool.md
Owners: @dgl

Separate rules from scrape config linting
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.long_scrape_interval.yml
  cmd/promtool/testdata/prometheus-config.lint.too_long_scrape_interval.yml
  docs/command-line/promtool.md
Owners: @dgl

remove misleading test case
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

[Docs] Note that scrape_timeout cannot be greater than scrape_interval (#15786)
  docs/configuration/configuration.md
Owners: none

Move check config --lint.lookback-delta flag to check --query.lookback-delta
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

otlp/translator: Use separate function for metric names with UTF8 characters (#15664)
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

fix: fix docs typo
  docs/configuration/configuration.md
Owners: none

Address PR comments
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

Apply suggestions from code review
  rules/manager.go
Owners: none

`RuleConcurrencyController`: Add `SplitGroupIntoBatches` method (#15681)
  rules/fixtures/rules_chain.yaml
  rules/fixtures/rules_multiple_dependents_on_base.yaml
  rules/fixtures/rules_multiple_groups.yaml
  rules/group.go
  rules/manager.go
  rules/manager_test.go
Owners: none

Rules: Store dependencies instead of boolean To improve https://github.com/prometheus/prometheus/pull/15681 further, we'll need to store the dependencies and dependents of each
  rules/alerting.go
  rules/alerting_test.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: none

Store a slice of Rule instead
  rules/alerting.go
  rules/alerting_test.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: none

Add `BenchmarkRuleDependencyController_AnalyseRules` for future reference
  rules/manager_test.go
Owners: none

Rules: Store dependencies instead of boolean (#15689)
  rules/alerting.go
  rules/alerting_test.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: none

Rule Concurrency: Calculate evaluation batches using full dependency information
  rules/fixtures/rules_topological_sort_needed.json
  rules/manager.go
  rules/manager_test.go
Owners: none

api: Add two new fields Node and ServerTime.
  docs/querying/api.md
  web/api/v1/api.go
  web/ui/mantine-ui/src/pages/StatusPage.tsx
  web/web.go
Owners: @juliusv

Improve flaky limitk test
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

docs: fix spelling
  docs/http_sd.md
Owners: none

Expose ListPostings Length via Len() method (#15678)
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db.go
  tsdb/head.go
  tsdb/head_wal.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  cmd/promtool/backfill_test.go
  tsdb/db_test.go
Owners: @dgl, @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

promqltest: make eval_ordered ignore annotations
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

docs: Document eval_warn and eval_info
  promql/promqltest/README.md
Owners: @roidelapluie

Rule Concurrency: Test safe abort of rule evaluations (#15797)
  rules/manager_test.go
Owners: none

initial step
  storage/remote/read.go
Owners: @cstyan, @bwplotka, @tomwilkie

removed comments
  storage/remote/read.go
Owners: @cstyan, @bwplotka, @tomwilkie

[FIX] failing tests
  .vscode/launch.json
  .vscode/prometheus.yml
  helper.sh
  tsdb/db_test.go
Owners: @jesusvazquez

[FIX] failing tests
  tsdb/db_test.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
