Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @codesome, @roidelapluie

Scaleway SD: Add instance test
  discovery/scaleway/instance_test.go
  discovery/scaleway/testdata/instance.json
Owners: none

Scaleway SD: Add more labels to the instance role
  discovery/scaleway/instance.go
  discovery/scaleway/instance_test.go
  docs/configuration/configuration.md
Owners: none

Document lack of metadata deletion in deletion API
  docs/querying/api.md
Owners: none

WIP
  docs/querying/api.md
Owners: none

Improve wordings
  docs/querying/api.md
Owners: none

Fix sample deduplication in chainSampleIterator
  storage/merge.go
  storage/merge_test.go
Owners: none

use golang/snappy v0.0.3
  go.mod
  go.sum
Owners: none

Rename to or ID
  discovery/scaleway/instance.go
  discovery/scaleway/instance_test.go
  docs/configuration/configuration.md
Owners: none

Fix exemplar query api null vs empty array issue.
  tsdb/exemplar.go
  web/api/v1/api_test.go
Owners: @codesome

Fix some comments, clean up exemplar metrics struct and exemplar tests.
  pkg/exemplar/exemplar.go
  storage/interface.go
  tsdb/exemplar.go
  tsdb/exemplar_test.go
Owners: @codesome

Add circular in-memory exemplars storage
  cmd/prometheus/main.go
  docs/querying/api.md
  pkg/exemplar/exemplar.go
  pkg/textparse/openmetricsparse_test.go
  promql/parser/ast.go
  promql/parser/parse_test.go
  promql/test.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler_test.go
  tsdb/db.go
  tsdb/exemplar.go
  tsdb/exemplar_test.go
  tsdb/head.go
  tsdb/head_test.go
  util/teststorage/storage.go
  web/api/v1/api.go
  web/api/v1/api_test.go
  web/web.go
Owners: @codesome, @roidelapluie, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

use golang/snappy v0.0.3 (backport #8593)
  go.mod
  go.sum
Owners: none

Fix subqueries with default resolution in promql unit tests (backport #8569)
  cmd/promtool/testdata/rules.yml
  cmd/promtool/unittest.go
  docs/configuration/unit_testing_rules.md
  promql/test.go
Owners: @codesome, @roidelapluie

Fix sample deduplication in chainSampleIterator (backport #8591)
  storage/merge.go
  storage/merge_test.go
Owners: none

Ignore k8s' updateUnfinishedWorkLoop go routine in goleak tests
  util/testutil/testing.go
Owners: none

Release Prometheus 2.25.1
  CHANGELOG.md
  VERSION
Owners: none

add block alignment and write in 2 hr blocks
  .gitignore
  cmd/promtool/main.go
  cmd/promtool/rules.go
Owners: none

Update storage/memoized_iterator.go
  storage/memoized_iterator.go
Owners: none

Ensure that timestamp comparison uses wall clock time
  scrape/scrape.go
Owners: none

Added tracing span to evaluator.eval()
  promql/engine.go
Owners: @codesome, @roidelapluie

fix block alignment, add sample alignment
  cmd/promtool/main.go
  cmd/promtool/rules.go
  cmd/promtool/rules_test.go
Owners: none

Document lack of metadata deletion in deletion API (#8376)
  docs/querying/api.md
Owners: none

Improve sync_repo_files.sh
  scripts/sync_repo_files.sh
Owners: none

Add circular in-memory exemplars storage (#6635)
  cmd/prometheus/main.go
  docs/querying/api.md
  pkg/exemplar/exemplar.go
  pkg/textparse/openmetricsparse_test.go
  promql/parser/ast.go
  promql/parser/parse_test.go
  promql/test.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler_test.go
  tsdb/db.go
  tsdb/exemplar.go
  tsdb/exemplar_test.go
  tsdb/head.go
  tsdb/head_test.go
  util/teststorage/storage.go
  web/api/v1/api.go
  web/api/v1/api_test.go
  web/web.go
Owners: @codesome, @roidelapluie, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Avoid overflow on /rules page
  web/ui/react-app/src/pages/rules/RulesContent.tsx
Owners: @juliusv

Avoid overflow on /targets page
  web/ui/react-app/src/pages/targets/ScrapePoolPanel.tsx
Owners: @juliusv

Ensure that timestamp comparison uses wall clock time (backport #8601)
  scrape/scrape.go
Owners: none

Release 2.25.2
  CHANGELOG.md
  VERSION
Owners: none

Optimize aggregations in PromQL engine
  promql/engine.go
Owners: @codesome, @roidelapluie

Fixed linter
  promql/engine.go
Owners: @codesome, @roidelapluie

Added benchmark on count_values()
  promql/bench_test.go
Owners: @codesome, @roidelapluie

Avoid overflow on /targets page (#8609)
  web/ui/react-app/src/pages/targets/ScrapePoolPanel.tsx
Owners: @juliusv

Avoid overflow on /rules page (#8608)
  web/ui/react-app/src/pages/rules/RulesContent.tsx
Owners: @juliusv

Speed up PR builds
  .circleci/config.yml
  Makefile.common
Owners: none

Further increase max log line in remote write client
  storage/remote/client.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

[rule] Update rule health for append/commit fails
  rules/manager.go
  rules/recording.go
Owners: none

Add test for updating health on append fails
  rules/manager_test.go
Owners: none

TSDB: optimize series creation on PreCreation() failure
  tsdb/head.go
  tsdb/head_bench_test.go
Owners: @codesome

[rule] Update rule health for append/commit fails (#8619)
  rules/manager.go
  rules/manager_test.go
  rules/recording.go
Owners: none

TSDB: optimize series creation on PreCreation() failure (#8620)
  tsdb/head.go
  tsdb/head_bench_test.go
Owners: @codesome

.github/CODEOWNERS:

/web/ui @juliusv
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @codesome
/promql @codesome @roidelapluie
