Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

otlp: Create experimental no-translation mode
  config/config.go
  config/config_test.go
  config/testdata/otlp_no_translation.good.yml
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

scrape: add options to manager to allow scraping at startup and shutdown
  scrape/manager.go
  scrape/manager_test.go
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

notifier: return true from SendAll when all alerts are dropped
  notifier/notifier.go
  notifier/notifier_test.go
Owners: none

doc: fix broken kuma.io link
  docs/configuration/configuration.md
Owners: none

promtool: support creating tsdb blocks from a pipe (#16011)
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_posix_test.go
Owners: @dgl

fulefmt: add tests with YAML aliases for Alert/Record/Expr
  model/rulefmt/rulefmt_test.go
  model/rulefmt/testdata/test_aliases.yaml
Owners: none

rulefmt: Add test for YAML merge combined with aliases
  model/rulefmt/rulefmt_test.go
  model/rulefmt/testdata/test_aliases.yaml
Owners: none

rulefmt: support YAML aliases for Alert/Record/Expr
  cmd/promtool/main.go
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
  rules/manager.go
  rules/manager_test.go
Owners: @dgl

rulefmt: Rebase to latest changes
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
Owners: none

Resolve issues with recent changes to QueryLogger interface
  promql/engine.go
  promql/engine_test.go
  web/api/v1/api_test.go
Owners: @roidelapluie

Fix formatting recommended by golangci-lint
  model/querylog/querylog.go
  promql/engine.go
  web/api/v1/api_test.go
Owners: @roidelapluie

Fix gofumpt errors in api_test
  web/api/v1/api_test.go
Owners: none

rulefmt: support YAML aliases for Alert/Record/Expr (#14957)
  cmd/promtool/main.go
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
  model/rulefmt/testdata/test_aliases.yaml
  rules/manager.go
  rules/manager_test.go
Owners: @dgl

prw2: Split PRW2.0 from metadata-wal-records feature
  cmd/prometheus/main.go
  docs/feature_flags.md
  storage/remote/queue_manager_test.go
  storage/remote/read_test.go
  storage/remote/storage.go
  storage/remote/storage_test.go
  storage/remote/write.go
  storage/remote/write_test.go
  tsdb/agent/db_test.go
  web/api/v1/api_test.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Update model/textparse/protobufparse.go
  model/textparse/protobufparse.go
Owners: none

textparse: Optimized protobuf parser with custom streaming unmarshal. (#15731)
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  prompb/io/prometheus/client/decoder.go
  prompb/io/prometheus/client/decoder_test.go
  scrape/scrape_test.go
Owners: none

Add checkpoint to TestHead_WALMultiRef
  tsdb/head_test.go
Owners: @jesusvazquez

prw2: Split PRW2.0 from metadata-wal-records feature (#16030)
  cmd/prometheus/main.go
  docs/feature_flags.md
  storage/remote/queue_manager_test.go
  storage/remote/read_test.go
  storage/remote/storage.go
  storage/remote/storage_test.go
  storage/remote/write.go
  storage/remote/write_test.go
  tsdb/agent/db_test.go
  web/api/v1/api_test.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

scrape: reorder the switch case of errors (#15991)
  scrape/scrape.go
Owners: none

Update index.md
  tsdb/docs/format/index.md
Owners: @jesusvazquez

feat: add support for parsing ct@ created timestamps
  model/textparse/openmetricslex.l
  model/textparse/openmetricslex.l.go
  model/textparse/promparse.go
Owners: none

build: Ignore timestamps recording in gzip metadata
  scripts/compress_assets.sh
Owners: none

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

wip
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

Update LinkForExpression functions to generate v3 URL format
  util/strutil/strconv.go
Owners: none

Update strconv_test.go
  util/strutil/strconv_test.go
Owners: none

tt
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

Update template_test.go
  template/template_test.go
Owners: none

Update main_test.go
  cmd/prometheus/main_test.go
Owners: none

Use a slice instead of an array
  model/labels/labels_stringlabels.go
Owners: none

Add a test for aggregation wrapped in ParenExpr
  promql/parser/parse_test.go
Owners: @roidelapluie

Prepare release 3.2.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

fix-alerts-accordion-theme
  web/ui/mantine-ui/src/pages/AlertsPage.module.css
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
Owners: @juliusv

stable and definitely unique card UI key in /alerts
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
Owners: @juliusv

fix-ci-errors
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
Owners: @juliusv

serve metrics from custom registry, rename var name, promtool has its own custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  web/web.go
Owners: @dgl

Update cmd/promtool/main.go
  cmd/promtool/main.go
Owners: @dgl

use custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  storage/remote/client.go
  storage/remote/client_test.go
  storage/remote/storage.go
  storage/remote/write.go
  template/template.go
  web/web.go
Owners: @dgl, @cstyan, @bwplotka, @tomwilkie

refactor(treecache): remove global prometheus registration
  discovery/zookeeper/metrics.go
  discovery/zookeeper/zookeeper.go
  util/treecache/treecache.go
Owners: none

fix test failure
  storage/remote/client.go
  storage/remote/storage.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
