Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

final changes
  storage/fanout.go
Owners: none

log error
  rules/manager_test.go
Owners: none

updated changelog
  CHANGELOG.md
Owners: none

Revert "updated changelog"
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Partial address of comments
  cmd/prometheus/main.go
  scrape/helpers_test.go
  storage/interface.go
Owners: none

Rename SetHints to SetOptions
  cmd/prometheus/main.go
  rules/group.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler_test.go
  tsdb/agent/db.go
  tsdb/head_append.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

More suggestions accomodated
  storage/fanout.go
  storage/interface.go
  tsdb/agent/db.go
  tsdb/head_append.go
Owners: @jesusvazquez

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Rename SetHints to SetOptions
  storage/interface.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

Update Changelog
  CHANGELOG.md
Owners: none

TSDB: Fix some edge cases when OOO is enabled (#14710)
  CHANGELOG.md
  cmd/prometheus/main.go
  rules/fixtures/rules1.yaml
  rules/group.go
  rules/manager_test.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler_test.go
  tsdb/agent/db.go
  tsdb/head_append.go
  util/teststorage/storage.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Ingest CT (float) samples in Agent DB
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Remove unused option from HeadOptions
  tsdb/head.go
Owners: @jesusvazquez

allow for ingestion of CT native histogram
  tsdb/agent/db.go
Owners: @jesusvazquez

Improve docs for appendable() method in head appender
  tsdb/head_append.go
Owners: @jesusvazquez

adding case for validations
  tsdb/agent/db_test.go
Owners: @jesusvazquez

checking the wal for written samples
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Checking for samples in test
  tsdb/agent/db_test.go
Owners: @jesusvazquez

adding some verification for ct ts
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Validating CT histogram before append and add newly created series to pending series
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

unite tests, use table testing
  tsdb/agent/db_test.go
Owners: @jesusvazquez

adding error case to test
  tsdb/agent/db_test.go
Owners: @jesusvazquez

fixing comparison when dedupelabels is enabled
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Implement CT related methods in timestampTracker for write storage
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

add unit to table and tooltip
  web/ui/mantine-ui/src/pages/query/DataTable.tsx
  web/ui/mantine-ui/src/pages/query/uPlotChartHelpers.ts
  web/ui/react-app/src/pages/graph/GraphHelpers.ts
Owners: @juliusv

test: fix json file logger regex
  util/logging/file_test.go
Owners: none

fix: avoid data race in log deduper
  util/logging/dedupe.go
Owners: none

ref: remove unused deduper log wrapper methods
  util/logging/dedupe.go
Owners: none

feat(nhcb): implement created timestamp handling (#15198)
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse.go
Owners: none

doc: fix formatting
  docs/querying/api.md
Owners: none

docs(discovery/aliyun): add PRESSURE_TEST.md (#11)
  discovery/aliyun/PRESSURE_TEST.md
  discovery/aliyun/README.md
Owners: none

Update tsdb/head_append.go
  tsdb/head_append.go
Owners: @jesusvazquez

migration: address more comments
  docs/migration.md
Owners: none

fix(nhcb): do not return nhcb from parse if exponential is present
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

removing unused fields
  promql/parser/generated_parser.y.go
  tsdb/agent/db_test.go
Owners: @roidelapluie, @jesusvazquez

wip
  bare_bones/snug_composite.h
  entrypoint/head_wal.cpp
  entrypoint/head_wal.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/head_wal.go
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encoder.go
  go/frames/binary_body.go
  go/frames/write_frame.go
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
  go/relabeler/head/wal_test.go
  wal/encoder.h
  wal/wal.h
Owners: none

FastRegexMatcher: Extract longer prefixes
  model/labels/regexp.go
  model/labels/regexp_test.go
Owners: none

migration: add log format and `le` normalization
  docs/migration.md
Owners: none

aliyun ecs discovery.
  discovery/config/config.go
  discovery/ecs/README.md
  discovery/ecs/ecs.go
Owners: none
