Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

fix zookeeper test
  discovery/zookeeper/zookeeper_test.go
Owners: none

fix lint
  discovery/zookeeper/metrics.go
Owners: none

Test
  bazel/toolchain/BUILD
  entrypoint/common.cpp
  entrypoint/series_data_encoder.cpp
  go/cppbridge/c_garbage_collector.go
  go/cppbridge/common.go
  go/cppbridge/head.go
  go/cppbridge/prometheus_relabeler.go
  go/relabeler/appender/rotator.go
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
  scripts/bazel.mk
  scripts/ci_run_unit_tests.sh
  series_data/tests/querier/query_tests.cpp
  third_party/jemalloc.BUILD
  third_party/lru_cache/lru_cache/lru_cache_impl_tests.cpp
  wal/decoder.h
  wal/encoder.h
Owners: none

Ruler Concurrency: Consider `__name__` matchers (#16039)
  rules/group.go
  rules/manager_test.go
Owners: none

discovery: kubernetes: reduce infromers' cache footprint by dropping unneeded fields from resources before storing them in the cache.
  discovery/kubernetes/kubernetes.go
Owners: @brancz

ct: Support CTs in WAL; change sample record; use in PRW 2.0
  cmd/prometheus/main.go
  docs/feature_flags.md
  scrape/helpers_test.go
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/fanout.go
  storage/interface.go
  storage/remote/queue_manager.go
  storage/remote/write.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  storage/remote/write_test.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Prepare release 3.2.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

gofmt
  storage/interface.go
  web/api/v1/api.go
Owners: none

Add from and to LabelHints
  storage/interface.go
  web/api/v1/api.go
Owners: none

CVE-2024-45338
  go.mod
Owners: none

tidy
  go.mod
  go.sum
Owners: none

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

fix: set gogc default value when config body is empty
  config/config.go
  config/config_test.go
Owners: none

notifier: return true from SendAll when all alerts are dropped
  notifier/notifier.go
  notifier/notifier_test.go
Owners: none

Update docs/querying/basics.md
  docs/querying/basics.md
Owners: none

[TEST] adding test for startup retention period cleanup
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

promql: fix double quoting in invalid label name error from `count_values`
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
Owners: @roidelapluie

Add note about installing goyacc in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

stable and unique key for /rules page and key fixes
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/RulesPage.tsx
Owners: @juliusv

removed comments
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/RulesPage.tsx
Owners: @juliusv

Example config: Add labels to static_configs (#13327)
  documentation/examples/prometheus.yml
Owners: none

Add function_call as another special case
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/promqltest/testdata/duration_arithmetic.test
Owners: @roidelapluie

Test to demonstrate dropped samples when duplicate series reference dropped during checkpoint
  tsdb/head_test.go
Owners: @jesusvazquez

WAL: Keep duplicate series records during checkpoint
  tsdb/agent/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

ci: fix build-all status trigger to contain always
  .github/workflows/ci.yml
Owners: none

scraper: fix UTF-8 scraping header always sent with PrometheusText1.0.0
  config/config.go
  scrape/scrape_test.go
Owners: none

Automatically select common strings to map from last tsdb block
  cmd/prometheus/labels.go
  cmd/prometheus/labels_stringlabels.go
  cmd/prometheus/main.go
  model/labels/labels_stringlabels.go
Owners: none

Reduce stringlabels memory usage for common labels
  model/labels/labels_stringlabels.go
Owners: none

Use a slice instead of an array
  model/labels/labels_stringlabels.go
Owners: none

Update list of hardcoded labels
  model/labels/labels_stringlabels.go
Owners: none

Update collision hashes for stringlabels
  tsdb/agent/series_test.go
  tsdb/head_test.go
Owners: @jesusvazquez

Add more documentation for time expressions
  docs/querying/basics.md
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

Address PR feedback: simplify expression
  promql/engine.go
Owners: @roidelapluie

doc: fix broken kuma.io link (#16028)
  docs/configuration/configuration.md
Owners: none

promql: fix double quoting in invalid label name error from `count_values` (#16054)
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
Owners: @roidelapluie

promtool: add dump-series
  cmd/promtool/main.go
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_test.go
  docs/command-line/promtool.md
Owners: @dgl

Add labels.MapLabels() for setting mapped labels
  cmd/prometheus/labels_stringlabels.go
  model/labels/labels_stringlabels.go
Owners: none

Snappy protobuf hashdex
  bare_bones/streams.h
  entrypoint/wal_hashdex.cpp
  entrypoint/wal_hashdex.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/exception_test.go
  go/cppbridge/prometheus_relabeler_test.go
  go/cppbridge/wal_encode_decode_test.go
  go/cppbridge/wal_encoder_test.go
  go/cppbridge/wal_hashdex.go
  go/cppbridge/wal_hashdex_test.go
  go/cppbridge/wal_open_metrics_scraper_hashdex_test.go
  go/cppbridge/wal_prometheus_scraper_hashdex_test.go
  go/relabeler/appender/appender_test.go
  go/relabeler/models.go
  wal/hashdex/protobuf.h
Owners: none

Apply my own review comments
  promql/engine.go
Owners: @roidelapluie
