Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

Clarify the NoUTF8EscapingWithSuffixes and UnderscoreEscapingWithSuffixes modes (#15567)
  config/config.go
  docs/configuration/configuration.md
  documentation/examples/prometheus-otlp.yml
Owners: none

Rename method
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

prombench: Extend GH job for the upcoming custom benchmark feature.
  .github/workflows/prombench.yml
Owners: none

Protobuf hashdex metadata
  entrypoint/_helpers.hpp
  entrypoint/wal_hashdex.cpp
  entrypoint/wal_hashdex.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_hashdex.go
  go/cppbridge/wal_hashdex_test.go
  go/relabeler/main_test.go
  prometheus/metadata.h
  prometheus/metric.h
  wal/hashdex.h
  wal/hashdex/abstract.h
  wal/hashdex/metric.h
  wal/hashdex/protobuf.h
  wal/hashdex/protobuf_tests.cpp
  wal/hashdex/scraper/scraper.h
  wal/hashdex/scraper/scraper_tests.cpp
  wal/hashdex/test_fixture.h
Owners: none

Skip series in wal output decoder
  bare_bones/serializer.h
  entrypoint/head_wal.cpp
  wal/output_decoder.h
  wal/tests/wal_tests.cpp
  wal/wal.h
Owners: none

Fix bug in lbl!~".+" shortcut
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

Fix bug in lbl!~".+" shortcut (#15684)
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

Tidy up TestPopulateLabels
  scrape/manager_test.go
Owners: none

Ruler: Move inner `eval` function Refactoring in prevision of https://github.com/prometheus/prometheus/pull/15681
  rules/group.go
Owners: none

Ruler: Move inner `eval` function (#15688)
  rules/group.go
Owners: none

Add kahanSumInc and kahanSumDec helper functions
  model/histogram/float_histogram.go
Owners: none

Add kahanAddBuckets and kahanReduceResolution functions
  model/histogram/float_histogram.go
  model/histogram/generic.go
Owners: none

Update test cases for Add and Sub operations
  model/histogram/float_histogram_test.go
Owners: none

Add NewCompensationHistogram method
  model/histogram/float_histogram.go
Owners: none

Implement kahanAdd and kahanSub methods
  model/histogram/float_histogram.go
Owners: none

fix indentation
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix promql func with histograms
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix typo
  promql/functions.go
Owners: @roidelapluie

remote write v1
  go/go.mod
  go/go.sum
  go/relabeler/appender/appender_test.go
  go/relabeler/appender/head.go
  go/relabeler/appender/storage.go
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/decoder.go
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
  go/relabeler/remotewriter/README.md
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/cursor_test.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/errors.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
  go/util/optional/optional.go
Owners: none

Rules: Store dependencies instead of boolean To improve https://github.com/prometheus/prometheus/pull/15681 further, we'll need to store the dependencies and dependents of each
  rules/alerting.go
  rules/alerting_test.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: none

upgrade crypto to fix vulnerability issue
  go.mod
  go.sum
Owners: none

upgrade crypto to fix vulnerability issue
  go.mod
  go.sum
Owners: none

feat: Add support for `unittest` output for promtool queries
  cmd/promtool/main.go
Owners: @dgl

refactor: Change to using v1.Range for passing start,end,step parameters around
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/query.go
Owners: @dgl

Update go dependencies
  documentation/examples/remote_storage/go.mod
  documentation/examples/remote_storage/go.sum
  go.mod
  go.sum
  web/ui/mantine-ui/src/promql/tools/go.mod
Owners: @juliusv

remote write v2
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
  go/relabeler/remotewriter/writer.go
Owners: none

ci: We removed funbench functionality from test-infra, removing CI job too.
  .github/workflows/funcbench.yml
Owners: none

Apply suggestions from code review
  docs/querying/api.md
  web/api/v1/api.go
Owners: none

return bool when truncated
  web/api/v1/api.go
Owners: none

adds counter_reset_hint in histogram
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

remote write v2
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

apply suggestions
  promql/functions.go
  promql/promqltest/testdata/functions.test
  util/annotations/annotations.go
Owners: @roidelapluie

merge fix
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  go/relabeler/head/load_test.go
  go/relabeler/remotewriter/iterator.go
Owners: none

PLATTFORM-2288 Document changes and build
  README.md
Owners: none

[DEPS] Pin fsnotify to avoid deadlock bug
  go.mod
  go.sum
Owners: none

Prepare release 3.1.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

some test cases with warningCount defined
  web/api/v1/api_test.go
Owners: none

fix(deduper): use ptr to sync.RWMutex, fix panic during concurrent use
  util/logging/dedupe.go
  util/logging/dedupe_test.go
Owners: none

[BUGFIX] PromQL: Fix `deriv`, `predict_linear` and `double_exponential_smoothing` with histograms (#15686)
  promql/functions.go
  promql/promqltest/testdata/functions.test
  util/annotations/annotations.go
Owners: @roidelapluie

PromQL: Adds tests for `delta` with histograms (#15674)
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
