Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

hot reload always_scrape_classic_histograms and convert_classic_histograms_to_nhcb configs properly
  scrape/scrape.go
Owners: none

chore: enable all rules of perfsprint lint
  .golangci.yml
  cmd/prometheus/main.go
  cmd/prometheus/query_log_test.go
  discovery/azure/azure.go
  discovery/digitalocean/digitalocean.go
  discovery/digitalocean/mock_test.go
  discovery/eureka/client.go
  discovery/hetzner/mock_test.go
  discovery/hetzner/robot.go
  discovery/http/http.go
  discovery/ionos/server.go
  discovery/ionos/server_test.go
  discovery/kubernetes/kubernetes.go
  discovery/kubernetes/service_test.go
  discovery/linode/linode.go
  discovery/linode/mock_test.go
  discovery/moby/dockerswarm.go
  discovery/puppetdb/puppetdb.go
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/vultr/mock_test.go
  discovery/vultr/vultr.go
  discovery/xds/client.go
  notifier/notifier.go
  promql/bench_test.go
  promql/engine.go
  promql/parser/prettier.go
  rules/alerting.go
  rules/manager_test.go
  scrape/scrape.go
  storage/remote/client.go
  tsdb/chunks/chunks.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/ooo_head_read_test.go
  util/documentcli/documentcli.go
  web/api/v1/api_test.go
Owners: @brancz, @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

add timestamp limit
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
Owners: none

scrape: fix nil panic after scrape loop reload
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

ref: make query logger more efficient by building list of attrs
  promql/engine.go
Owners: @roidelapluie

test: make promql engine_test use files to exercise query logger
  promql/engine_test.go
Owners: @roidelapluie

Set Docker permissions to user and group ID 0
  Dockerfile
Owners: none

wip
  go/cppbridge/wal_decoder.go
  go/relabeler/head/wal.go
  go/relabeler/remotewriter/batch.go
  go/relabeler/remotewriter/block.go
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/cursor_test.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/errors.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
  go/relabeler/remotewriter/writer.go
Owners: none

fix: fixed the token-permission and pinned dependencies issue
  .github/workflows/ci.yml
  .github/workflows/funcbench.yml
  .github/workflows/prombench.yml
Owners: none

tsdb documenation: Improve Chunk documentation
  tsdb/docs/format/chunks.md
Owners: @jesusvazquez

fix resets function for histograms
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

documentation: put back trailing punctuation.
  tsdb/docs/format/chunks.md
Owners: @jesusvazquez

remote/otlp: use consumer.Metrics api
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: add delta test
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

util: otel pipelines
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_test.go
  util/otel/fake/fake.go
  util/otel/meter.go
  util/otel/pipeline.go
  util/otel/pipeline_test.go
  web/api/v1/api.go
Owners: @cstyan, @bwplotka, @tomwilkie

doc(nomad): adjust sections about nomad_sd_config's server
  discovery/nomad/nomad_test.go
  docs/configuration/configuration.md
Owners: none

docs: improve section about Prometheus graceful shutdown.
  docs/getting_started.md
Owners: none

wip
  go/cppbridge/wal_decoder.go
  go/relabeler/remotewriter/batch.go
  go/relabeler/remotewriter/block.go
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/remotewriter_test.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
  go/relabeler/remotewriter/writer.go
Owners: none

Don't panic if ActiveQueryTracker is closed
  promql/query_logger.go
  promql/query_logger_test.go
Owners: @roidelapluie

fix indentation
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

[TEST] PromQL: Adds tests with histograms for simple functions (#15488)
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

OTLP receiver: Don't call NormalizeLabel in NoUTF8EscapingWithSuffixes mode
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
Owners: @aknuds1, @jesusvazquez

test: add TestTargetsFromGroupWithLabelKeepDrop to reinforce a relabelling behaviour.
  scrape/target_test.go
Owners: none

promql: Fix various UTF-8 bugs related to quoting
  model/labels/labels_common.go
  model/labels/labels_test.go
  promql/engine_test.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/parser/printer.go
  promql/promqltest/test.go
  promql/promqltest/test_test.go
  storage/remote/codec_test.go
Owners: @roidelapluie, @cstyan, @bwplotka, @tomwilkie

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

discovery: add openstack load balancer discovery
  discovery/openstack/loadbalancer.go
  discovery/openstack/loadbalancer_test.go
  discovery/openstack/mock_test.go
  discovery/openstack/openstack.go
  docs/configuration/configuration.md
Owners: none

fix: remove new line
  discovery/openstack/mock_test.go
Owners: none

fix: fix comment
  discovery/openstack/loadbalancer.go
Owners: none

fix: fix docs typo
  docs/configuration/configuration.md
Owners: none

chore(deps): bump github.com/prometheus/common from 0.60.0 to 0.61.0 and use version.PrometheusUserAgent
  cmd/promtool/main.go
  discovery/azure/azure.go
  discovery/digitalocean/digitalocean.go
  discovery/eureka/client.go
  discovery/hetzner/robot.go
  discovery/http/http.go
  discovery/ionos/server.go
  discovery/kubernetes/kubernetes.go
  discovery/linode/linode.go
  discovery/moby/dockerswarm.go
  discovery/puppetdb/puppetdb.go
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/vultr/vultr.go
  discovery/xds/client.go
  go.mod
  go.sum
  notifier/notifier.go
  scrape/scrape.go
  storage/remote/client.go
Owners: @dgl, @brancz, @cstyan, @bwplotka, @tomwilkie

wip
  entrypoint/wal_decoder.cpp
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/decoder.go
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/catalog/record_test.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/ready/ready.go
  go/relabeler/remotewriter/block.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/remotewriter_test.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

remote/otlp: use deltatocumulative
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

storage/otlp: otlp-delta feature flag
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  docs/querying/api.md
  storage/remote/write_handler.go
  storage/remote/write_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

util/otel: noop telemetry
  go.mod
  go.sum
  util/otel/meter.go
  util/otel/pipeline_test.go
Owners: none

remote/otlp: panic on otel init failure
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: benchmark
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

RELEASE.md: schedule 3.1 release
  RELEASE.md
Owners: none

Attempt for record type
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/docs/format/wal.md
  tsdb/encoding/encoding.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/testutil.go
  tsdb/tsdbutil/histogram.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

Add separate handling for histograms and custom bucket histograms
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/head_append.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

Extend tsdb agent tests with custom bucket histograms
  tsdb/agent/db_test.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
