Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

Take ignoreCounterResets into account in requireEqualSeries
  tsdb/testutil.go
Owners: @jesusvazquez

Fix test after counter reset logic change
  tsdb/db_test.go
Owners: @jesusvazquez

Add failing test for interleaved chunks
  tsdb/db_test.go
Owners: @jesusvazquez

Add OOO test cases to PromQL tests
  promql/promqltest/test.go
  promql/promqltest/test_test.go
  promql/promqltest/testdata/ooo.test
  tsdb/db.go
Owners: @roidelapluie, @jesusvazquez

storage: add new interface to append with CT
  scrape/scrape.go
  storage/interface.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

Pause more often.
  tsdb/index/postings.go
Owners: @jesusvazquez

smal fix
  entrypoint/series_data_decode_iterator.cpp
  go/relabeler/head/load_test.go
  go/relabeler/querier/querier.go
  series_data/serialization/serializer.h
Owners: none

add go asan
  scripts/ci_get_go_test_flags.sh
Owners: none

Detect when iterator has changed
  storage/merge.go
Owners: none

Add FIXME for read only issue
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

fix script
  scripts/ci_get_go_test_flags.sh
Owners: none

rotation heap profiling
  go/relabeler/appender/head.go
  go/util/profile.go
Owners: none

head: reference counter removed
  go/relabeler/appender/appender.go
  go/relabeler/appender/head.go
  go/relabeler/appender/storage.go
  go/relabeler/head/head.go
  go/relabeler/head/manager/head.go
  go/relabeler/interface.go
Owners: none

MemPostings.Delete() batches without holding Lock()
  tsdb/index/postings.go
Owners: @jesusvazquez

[BUILD] React-app: replace 0.55.0-rc.0 with 0.55.0
  web/ui/react-app/package-lock.json
Owners: @juliusv

Fix typos in tests
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

review fix
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/configurator.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/shard.go
Owners: none

test fix
  go/relabeler/appender/appender_test.go
Owners: none

Fix typos in tests (#15312)
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

print current go and node versions in version check script
  scripts/check-runtime-versions.sh
Owners: none

bugfix: Fix otlp translator switching colons to undescores (#15251)
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Revert "Fix `MemPostings.Add` and `MemPostings.Get` data race (#15141)"
  tsdb/head_bench_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

otlptranslator: Harmonize non-UTF8 sanitization w/ naming rules.
  CHANGELOG.md
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
Owners: @aknuds1, @jesusvazquez

Modify changelog item
  CHANGELOG.md
Owners: none

otlptranslator: Harmonize non-UTF8 sanitization w/ naming rules. (#15314)
  CHANGELOG.md
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
Owners: @aknuds1, @jesusvazquez

.DS_STORE
  .gitignore
Owners: none

Refactored spansMatch
  model/histogram/histogram.go
Owners: none

Helper function mergeZeroLengthSpans added
  model/histogram/histogram.go
Owners: none

Comments Removed
  model/histogram/histogram.go
Owners: none

Stock .gitignore
  .gitignore
Owners: none

Refactor spansMatch function for improved readability
  .DS_Store
  model/.DS_Store
  model/histogram/histogram.go
Owners: none

Refactor spansMatch function for improved readability
  .gitignore
Owners: none

Stock.gitignore
  .gitignore
Owners: none

Delete .DS_Store
  .DS_Store
Owners: none

Delete model/.DS_Store
  model/.DS_Store
Owners: none

support for tracing client including tlsconfig with support for nextprotos
  tracing/tracing.go
  tracing/tracing_test.go
Owners: none

Add hidden flag for the delayed compaction random time window (#14919)
  cmd/prometheus/main.go
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

Fix comment typo
  tsdb/index/postings.go
Owners: @jesusvazquez

CI Build: re-enable race detector
  .github/workflows/ci.yml
Owners: none

Make hacky fix to read-only slice issue
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez
