Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @gouthamve, @jesusvazquez, @brancz, @roidelapluie, @dgl

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @gouthamve @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl

Add trace ID to log lines emitted during rule evaluation
  rules/manager.go
Owners: none

Use alpine as base build container
  .clang-tidy
  BUILD
  Makefile
  WORKSPACE
  bazel/toolchain/BUILD
  bazel/toolchain/cc_toolchain_config.bzl
  third_party/jemalloc.BUILD
Owners: none

Additionally wrap WBL replay error
  tsdb/db.go
  tsdb/head.go
Owners: @jesusvazquez

Rename OOO WAL to WBL in error messages
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head.go
Owners: @jesusvazquez

Remove unused isErrLoadOOOWal func
  tsdb/head_wal.go
Owners: @jesusvazquez

Fix pass the right err
  tsdb/db.go
Owners: @jesusvazquez

Fix int32 overflow issues
  cmd/promtool/tsdb.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/index/postingsstats.go
  tsdb/ooo_head_read.go
Owners: @dgl, @jesusvazquez

Add missing unit test
  tsdb/head_test.go
Owners: @jesusvazquez

Verify number of OOO samples appended
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Additionally wrap WBL replay error (#12406)
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

tsdb/agent: allow ingestion of OOO samples (#12897)
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Wise cgc
  .clang-tidy
  WORKSPACE
  go/common/internal/init.go
  go/common/internal/init_fastcgo.go
  go/common/internal/package_test.go
  go/common/internal/types.go
  go/common/internal/wal_c_types.h
  third_party/patches/jemalloc/BUILD
  wal/wal_c_go_uni_api.cpp
  wal/wal_c_types_api.h
Owners: none

Parse created timestamps from Prometheus Protobuf
  model/textparse/interface.go
  model/textparse/openmetricsparse.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
Owners: none

Update Azure SDK For Go
  discovery/azure/azure.go
  discovery/azure/azure_test.go
  go.mod
  go.sum
Owners: none

Fix: Exempt "_bucket" suffix from PossibleNonCounterInfo warning
  promql/functions.go
  util/annotations/annotations.go
Owners: @roidelapluie

Update dependencies
  go.mod
  go.sum
Owners: none

Bump semconv version
  storage/remote/queue_manager.go
  tracing/tracing.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Mention bucket values in the comment
  model/histogram/float_histogram.go
Owners: none

enhance promtool tsdb analyze command (#12869)
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_test.go
Owners: @dgl

Fix: Exempt "_bucket" suffix from PossibleNonCounterInfo warning (#12982)
  promql/functions.go
  util/annotations/annotations.go
Owners: @roidelapluie

Build: downgrade nomad/api to v1.6.1 for compatibility with Go 1.20
  go.mod
  go.sum
Owners: none

tsdb/agent: allow ingestion of OOO samples (#12897)
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Update Azure SDK For Go
  discovery/azure/azure.go
  discovery/azure/azure_test.go
  go.mod
  go.sum
Owners: none

Additionally wrap WBL replay error (#12406)
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

Reduced remote_timeout to 15s
  config/testdata/conf.good.yml
Owners: none

enhance promtool tsdb analyze command (#12869)
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_test.go
Owners: @dgl

web.enable-lifecycle set to true
  cmd/prometheus/main.go
Owners: none

Committing my changes to conf.good.yml
  config/testdata/conf.good.yml
Owners: none

Remove exclude
  go.mod
Owners: none

Update dependencies for 2.48 (#12964)
  go.mod
  go.sum
  storage/remote/queue_manager.go
  tracing/tracing.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Fix: Exempt "_bucket" suffix from PossibleNonCounterInfo warning (#12982)
  promql/functions.go
  util/annotations/annotations.go
Owners: @roidelapluie

Merge pull request #12912 from prometheus/dependabot/go_modules/github.com/aws/aws-sdk-go-1.45.19
  go.mod
  go.sum
Owners: none

Merge pull request #11860 from mmorel-35/azure-sdk-for-go
  discovery/azure/azure.go
  discovery/azure/azure_test.go
  go.mod
  go.sum
Owners: none

tsdb/agent: allow ingestion of OOO samples (#12897)
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Merge pull request #12819 from prometheus/dependabot/go_modules/golang.org/x/net-0.15.0
  go.mod
  go.sum
Owners: none

Update dependencies for 2.48 (#12964)
  go.mod
  go.sum
  storage/remote/queue_manager.go
  tracing/tracing.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Additionally wrap WBL replay error (#12406)
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

enhance promtool tsdb analyze command (#12869)
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_test.go
Owners: @dgl

Add created timestamps to prompb (#12936)
  prompb/io/prometheus/client/metrics.pb.go
  prompb/io/prometheus/client/metrics.proto
Owners: none

Merge pull request #12981 from prometheus/dependabot/go_modules/documentation/examples/remote_storage/github.com/prometheus/prometheus-0.47.2
  documentation/examples/remote_storage/go.mod
  documentation/examples/remote_storage/go.sum
Owners: none
