Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

changes
  cmd/tsdb2columnar/columnar.go
  cmd/tsdb2columnar/tsdb.go
Owners: none

add chunk mint and maxt to schemas
  cmd/tsdb2columnar/columnar.go
Owners: none

start defining the index
  tsdb/columnar/index.go
Owners: @jesusvazquez

start defining the index (#4)
  cmd/tsdb2columnar/columnar.go
  tsdb/columnar/index.go
Owners: @jesusvazquez

Use more informative error msg for timeouts on remote read
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

Set encodings
  cmd/tsdb2columnar/columnar.go
Owners: none

remove testdata
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/chunks/000001
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/index
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/meta.json
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/tombstones
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_0.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_1.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_2.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_3.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_4.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_5.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_6.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_7.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_8.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_9.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/meta.json
Owners: none

new testdata
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK/chunks/000001
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK/index
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK/meta.json
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK/tombstones
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_0.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_1.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_2.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_3.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_4.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_5.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_6.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_7.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_8.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/data/tsdb2columnar_gauge_9.parquet
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/index.yaml
  cmd/tsdb2columnar/testdata/01JNEESHZDHVFFMBMDGE7RJPQK_columnar/meta.json
Owners: none

Set parquet in compaction hint (#5)
  cmd/tsdb2columnar/columnar.go
  tsdb/block.go
  tsdb/block_test.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/repair.go
  tsdb/repair_test.go
Owners: @jesusvazquez

allow limiting label values calls
  cmd/promtool/tsdb.go
  tsdb/block.go
  tsdb/block_test.go
  tsdb/head_read.go
  tsdb/head_test.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/index/postings.go
  tsdb/ooo_head_read.go
  tsdb/ooo_head_read_test.go
  tsdb/querier.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
Owners: @dgl, @jesusvazquez

read the index memory on block load (#6)
  cmd/parquettest/main.go
  cmd/tsdb2columnar/columnar.go
  cmd/tsdb2columnar/main.go
  cmd/tsdb2columnar/tsdb.go
  tsdb/columnar/block.go
  tsdb/columnar/index.go
Owners: @jesusvazquez

do not depend on mimir for block meta read/write (#8)
  cmd/tsdb2columnar/columnar.go
  cmd/tsdb2columnar/tsdb.go
  go.mod
  go.sum
  tsdb/columnar/block.go
Owners: @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
