Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

Revert "chore(deps): bump github.com/fsnotify/fsnotify from 1.7.0 to 1.8.0 (#15300)" (#15466)
  go.mod
  go.sum
Owners: none

[PERF] RW: Remove interning hook
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fix typo
  docs/migration.md
Owners: none

TSDB: eliminate one yolostring
  tsdb/index/index.go
Owners: @jesusvazquez

[PERF] TSDB: Cache all symbols for compaction
  tsdb/index/index.go
Owners: @jesusvazquez

fix changes function for mix of histogram and floats
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

fix lint
  promql/functions.go
Owners: @roidelapluie

[BUGFIX] PromQL: Fix behaviour of some aggregations with histograms (#15432)
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/limit.test
Owners: @roidelapluie

promql: fix issue where `group_right` with comparison binary operators returns metric name from right side, not left side
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

Update promql/quantile.go
  promql/quantile.go
Owners: @roidelapluie

Update doc string
  promql/quantile.go
Owners: @roidelapluie

wip
  go/cppbridge/wal_decoder.go
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/errors.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

fix stale nan
  go/relabeler/querier/querier.go
  prometheus/relabeler.h
Owners: none

TSDB: Demonstrating Chunk pool is unnecessary
  tsdb/chunkenc/chunk.go
  tsdb/chunkenc/chunk_test.go
  tsdb/compact.go
Owners: @jesusvazquez

Optimize l=~".+" matcher
  tsdb/querier.go
Owners: @jesusvazquez

Optimize l=~".+" matcher (#15474)
  tsdb/querier.go
Owners: @jesusvazquez

promql: Add NaN tests for avg and avg_over_time
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Export quantile functions (#15190)
  promql/functions.go
  promql/quantile.go
  promql/quantile_test.go
Owners: @roidelapluie

optimized memory usage in BasicEncoder::Buffer
  bare_bones/bitset.h
  bare_bones/sparse_vector.h
  bare_bones/tests/sparse_vector_tests.cpp
  performance_tests/dummy_wal.h
  wal/tests/wal_tests.cpp
  wal/wal.h
Owners: none

compare series on the go
  promql/functions.go
Owners: @roidelapluie

Scrape metrics
  entrypoint/prometheus_relabeler.cpp
  entrypoint/wal_hashdex.cpp
  go/cppbridge/entrypoint.go
  go/cppbridge/prometheus_relabeler.go
  go/cppbridge/prometheus_relabeler_test.go
  go/cppbridge/wal_hashdex.go
  go/cppbridge/wal_hashdex_test.go
  go/relabeler/appender/appender.go
  go/relabeler/appender/appender_test.go
  go/relabeler/appender/head.go
  go/relabeler/head/head.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/promise.go
  go/relabeler/head/shard.go
  go/relabeler/head/task.go
  go/relabeler/interface.go
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
Owners: none

git commit -m "Backport holt_winters alias to double_exponential_smoothing for Prometheus v2 (#15476)"
  promql/functions.go
  promql/parser/functions.go
  promql/promqltest/testdata/functions.test
  web/ui/package-lock.json
  web/ui/react-app/package-lock.json
Owners: @roidelapluie, @juliusv

fixed up the formating so hopefully test passed for this - Eric
  promql/functions.go
  promql/parser/functions.go
Owners: @roidelapluie

Add support for values unescaping on `/v1/label/:name/values` endpoint
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

[BUGFIX] PromQL: Fix behaviour of `changes()` for mix of histograms and floats (#15469)
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

prepare release 3.0.1
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

ignore histogram in dateWrapper
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

rebuild
  go/cppbridge/wal_decoder_test.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

fix test
  wal/tests/output_decoder_tests.cpp
Owners: none

ref: JSONFileLogger slog handler, add scrape.FailureLogger interface
  promql/engine.go
  promql/engine_test.go
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
  util/logging/file.go
  util/logging/file_test.go
Owners: @roidelapluie

tsdb/chunkenc: don't reuse custom value slices between histograms
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/histogram_test.go
Owners: @jesusvazquez

MemPostings: keep a map of label values slices (#15426)
  tsdb/index/postings.go
Owners: @jesusvazquez

Make the behavior configurable
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_service_name_in_target_info.good.yml
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Rename to keep_identifying_resource_attributes
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_keep_identifying_resource_attributes.good.yml
  config/testdata/otlp_allow_service_name_in_target_info.good.yml
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Lint fix
  config/config_test.go
Owners: none

Add documentation
  docs/configuration/configuration.md
Owners: none

Fix typo
  docs/configuration/configuration.md
Owners: none

Test PR (testing prombench).
  README.md
Owners: none

adds tests with histograms for simple functions
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Update storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
