Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

add CHANGELOG entry
  CHANGELOG.md
Owners: none

storage: Implement limit in mergeGenericQuerier
  cmd/promtool/tsdb.go
  storage/merge.go
  storage/merge_test.go
  tsdb/compact.go
  tsdb/querier_test.go
  web/api/v1/api.go
  web/federate.go
Owners: @dgl, @jesusvazquez

[Test] Scraping: check reload metrics
  scrape/scrape_test.go
Owners: none

[REFACTOR] Scraping: rename variables for clarity
  scrape/scrape.go
Owners: none

Fixing review findings
  config/config.go
  docs/configuration/configuration.md
  storage/remote/client.go
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

Minimize archive
  BUILD
  bazel/toolchain/cc_toolchain_config.bzl
  entrypoint/primitives_lss.cpp
  entrypoint/prometheus_relabeler.cpp
  entrypoint/wal_encoder.cpp
  go/cppbridge/prometheus_relabeler_test.go
Owners: none

Reduce code duplication
  model/labels/labels_stringlabels.go
Owners: none

TSDB: compute size of name and value of each label
  model/labels/labels.go
  model/labels/labels_dedupelabels.go
  model/labels/labels_stringlabels.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

[ENHANCEMENT] TSDB: Improve calculation of space used by labels
  model/labels/labels.go
  model/labels/labels_dedupelabels.go
  model/labels/labels_stringlabels.go
  tsdb/head.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Add tests from interleaving head chunks PR
  tsdb/db_test.go
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

Add test from compaction interleaving PR
  tsdb/db_test.go
Owners: @jesusvazquez

Fix config tests
  config/config.go
Owners: none

Add test showcasing known bug
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Extend tests to check first sample of chunk hint
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram_test.go
Owners: @jesusvazquez

Fix comment
  tsdb/chunkenc/histogram_meta.go
Owners: @jesusvazquez

Scraper metadata
  BUILD
  WORKSPACE
  bare_bones/preprocess.h
  bare_bones/xxhash.h
  entrypoint/common.cpp
  entrypoint/wal_hashdex.cpp
  entrypoint/wal_hashdex.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_hashdex.go
  go/cppbridge/wal_hashdex_test.go
  prometheus/metadata.h
  prometheus/query.h
  prometheus/relabeler.h
  prometheus/remote.h
  prometheus/textparse/tokenizer.cpp
  prometheus/textparse/tokenizer.cxx
  prometheus/textparse/tokenizer.h
  prometheus/textparse/tokenizer_tests.cpp
  series_index/querier/label_names_querier.h
  series_index/querier/label_values_querier.h
  third_party/patches/google_benchmark/BUILD
  third_party/patches/google_benchmark/BUILD.bazel.patch
  wal/hashdex/scraper.h
  wal/hashdex/scraper_benchmark.cpp
  wal/hashdex/scraper_tests.cpp
Owners: none

Fixing a wrong function call
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

Allow UTF-8 characters in metric and label names as opt-in feature (#15258)
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_utf8.bad.yml
  config/testdata/otlp_allow_utf8.good.yml
  config/testdata/otlp_allow_utf8.incompatible.yml
  documentation/examples/prometheus-otlp.yml
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Update mixin dashboard
  documentation/prometheus-mixin/dashboards.libsonnet
  documentation/prometheus-mixin/jsonnetfile.json
Owners: @metalmatze

ignore asan build library
  go/.gitignore
Owners: none

Fixing review findings
  docs/configuration/configuration.md
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

refac: make typeRequiresCT private
  model/textparse/openmetricsparse.go
  model/textparse/promparse_test.go
Owners: none

Update golangci-lint
  .github/workflows/ci.yml
  scripts/golangci-lint.yml
Owners: none

Fixing review findings
  docs/configuration/configuration.md
Owners: none

feat: naive fixes and optimzations for `CreatedTimestamp` function (#14965)
  model/textparse/openmetricsparse.go
  model/textparse/openmetricsparse_test.go
Owners: none

Parallelize tests in cmd/promtool/
  cmd/promtool/analyze_test.go
  cmd/promtool/backfill_test.go
  cmd/promtool/main_test.go
  cmd/promtool/rules_test.go
  cmd/promtool/sd_test.go
  cmd/promtool/tsdb_test.go
  cmd/promtool/unittest_test.go
Owners: @dgl

docs: update README with v3 tagging update
  README.md
Owners: none

Noop PR to trigger prombench for the old version.
  README.md
Owners: none

reduces code and corrects some typo
  promql/engine.go
  promql/promqltest/testdata/native_histograms.test
  util/annotations/annotations.go
Owners: @roidelapluie

Update sigv4 library
  config/config.go
  go.mod
  go.sum
  notifier/notifier.go
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

parllelize tests for prompb package
  prompb/io/prometheus/write/v2/custom_test.go
  prompb/io/prometheus/write/v2/types_test.go
  prompb/rwcommon/codec_test.go
Owners: none

tsdb tests: avoid capture-by-reference in goroutines
  tsdb/compact_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

tsdb tests: restrict some 'defer' operations
  tsdb/db_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez

tsdb tests: avoid 'defer' till end of function
  tsdb/head_test.go
Owners: @jesusvazquez

tsdb.PostingsForMatchers: Optimize inverse matching
  tsdb/block.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

Apply reviewer feedback
  tsdb/index/postings.go
  tsdb/querier.go
Owners: @jesusvazquez

Remove redundant check
  tsdb/index/postings.go
Owners: @jesusvazquez

Fix AllPostings added twice (#13893)
  tsdb/querier.go
Owners: @jesusvazquez

allow customizing TSDB postings decoder
  cmd/promtool/tsdb.go
  tsdb/block.go
  tsdb/block_test.go
  tsdb/blockwriter_test.go
  tsdb/compact.go
  tsdb/compact_test.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
  tsdb/repair_test.go
Owners: @dgl, @jesusvazquez

updated the index file
  web/ui/mantine-ui/index.html
Owners: @juliusv

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
