Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

TSDB BenchmarkMerge: run fewer sizes
  tsdb/index/postings_test.go
Owners: @jesusvazquez

TSDB: Move merge of head postings into index
  tsdb/head_read.go
  tsdb/head_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

TSDB: Optimization: Merge postings using concrete type
  tsdb/index/index.go
Owners: @jesusvazquez

merge fix
  go/relabeler/head/manager/head.go
Owners: none

merge fix v2
  go/relabeler/appender/appender_test.go
  go/relabeler/head/head.go
  go/relabeler/head/load_test.go
  go/relabeler/interface.go
Owners: none

merge fix v3
  go/relabeler/appender/rotator.go
Owners: none

test(cmd): add test for GOGC setting
  cmd/prometheus/main_test.go
Owners: none

Revert "Process `MemPostings.Delete()` with `GOMAXPROCS` workers"
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Exporing newBlockSeriesSet and newNopChunkReader
  tsdb/querier.go
Owners: @jesusvazquez

MemPostings.Delete(): make pauses to unlock
  tsdb/index/postings.go
Owners: @jesusvazquez

Do not treat explicit counter resets special in OOO
  tsdb/head_test.go
  tsdb/ooo_head.go
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

corrects the behaviour of some operator and aggregations
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/operators.test
  promql/promqltest/testdata/test.test
  util/annotations/annotations.go
Owners: @roidelapluie

Support UTF-8 metric names and labels in web UI
  web/ui/mantine-ui/src/components/LabelBadges.tsx
  web/ui/mantine-ui/src/lib/formatSeries.ts
  web/ui/mantine-ui/src/pages/query/SeriesName.tsx
  web/ui/mantine-ui/src/promql/format.tsx
  web/ui/mantine-ui/src/promql/serialize.ts
  web/ui/mantine-ui/src/promql/serializeAndFormat.test.ts
  web/ui/mantine-ui/src/promql/utils.ts
Owners: @juliusv

removes extra test file
  promql/promqltest/testdata/test.test
Owners: @roidelapluie

chore: add tcp events to remote store span
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

chore: added idleTimeMs and fixed linting issues
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

chore: only create span events
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

chore: use otelhttptrace instead
  go.mod
  go.sum
  storage/remote/client.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fixup: re-add erroneously removed lines
  web/ui/mantine-ui/src/pages/query/SeriesName.tsx
Owners: @juliusv

test(web): speed up test execution
  web/api/v1/api_test.go
  web/api/v1/codec_test.go
  web/api/v1/errors_test.go
  web/api/v1/json_codec_test.go
  web/federate_test.go
  web/web_test.go
Owners: none

otlp translator: Add test showing bugs
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
Owners: @aknuds1, @jesusvazquez

bugfix: Fix otlp translator for colons and foreign characters
  storage/remote/otlptranslator/prometheus/normalize_label.go
Owners: @aknuds1, @jesusvazquez

chore: updated unit tests
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
Owners: @aknuds1, @jesusvazquez

chore: fix unused metadata function
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
Owners: @aknuds1, @jesusvazquez

feat: otlp allow not translating dots
  config/config.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

chore: updated unit tests, missed one before
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Allow UTF-8 characters in metric and label names as opt-in feature
  config/config.go
  config/config_test.go
  documentation/examples/prometheus-otlp.yml
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

otlp translator: Add test showing bugs
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

bugfix: Fix otlp translation of foreign characters
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
Owners: @aknuds1, @jesusvazquez

run scrape manager and target tests in parallel
  scrape/manager_test.go
  scrape/scrape_test.go
  scrape/target_test.go
Owners: none

run named testcases
  scrape/manager_test.go
  scrape/scrape_test.go
Owners: none

add parallel to missing tests
  scrape/scrape_test.go
Owners: none

fix failed tests in windows
  scrape/scrape_test.go
Owners: none

fix round function ignoring enableDelayedNameRemoval feature flag
  promql/engine_test.go
  promql/functions.go
  promql/promqltest/testdata/name_label_dropping.test
Owners: @roidelapluie

Scraper optimization
  bare_bones/stream_v_byte.h
  primitives/primitives.h
  primitives/snug_composites_filaments.h
  prometheus/relabeler.h
  wal/hashdex.h
  wal/hashdex/scraper.h
Owners: none

fixed bug in ChunkRecoder
  head/chunk_recoder.h
  head/chunk_recoder_tests.cpp
Owners: none

Clear explicit counter reset from OOO samples
  tsdb/head_test.go
  tsdb/ooo_head.go
  tsdb/ooo_head_test.go
Owners: @jesusvazquez

some optim
  prometheus/relabeler.h
Owners: none

bugfix: Fix otlp translator switching colons to undescores
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

CHANGELOG: remove duplicate entry
  CHANGELOG.md
Owners: none
