Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

Wal output decoder
  BUILD
  bare_bones/snug_composite.h
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  go/cppbridge/wal_encode_decode_test.go
  primitives/primitives.h
  prometheus/relabeler.h
  prometheus/stateless_relabeler.h
  prometheus/tests/relabeler_tests.cpp
  prometheus/tests/stateless_relabeler_tests.cpp
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
  wal/wal.h
Owners: none

Adding t.Parallel() for tests in model package
  model/histogram/float_histogram_test.go
  model/histogram/generic_test.go
  model/histogram/histogram_test.go
  model/labels/labels_dedupelabels_test.go
  model/labels/labels_test.go
  model/labels/matcher_test.go
  model/labels/regexp_test.go
  model/labels/sharding_test.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
Owners: none

adds tests to promql-test framework
  promql/engine_test.go
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

[PERF] TSDB: Optimize inverse matching (#14144)
  tsdb/block.go
  tsdb/head_read.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
  tsdb/ooo_head_read.go
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

fix
  entrypoint/wal_decoder.cpp
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  primitives/primitives.h
  wal/output_decoder.h
Owners: none

fix count_values for histograms
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
Owners: @roidelapluie

Fix populate series behavior
  promql/engine.go
Owners: @roidelapluie

tests(promql/testdata): add regression test for and-on
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

restore clear
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

tests(promql/testdata): add regression test for and-on (#15425)
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

OTLP receiver: Convert also metric metadata (#15416)
  CHANGELOG.md
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/otlptranslator/prometheusremotewrite/timeseries.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

PromQL: Convert more native histogram tests to promql-test framework (#15419)
  promql/engine_test.go
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

MemPostings: allocate ListPostings once in PFLM
  tsdb/index/postings.go
Owners: @jesusvazquez

Upgrade to golangci-lint v1.62.0
  .github/workflows/ci.yml
  Makefile.common
  documentation/examples/remote_storage/remote_storage_adapter/opentsdb/client_test.go
  model/labels/labels_test.go
  promql/histogram_stats_iterator_test.go
  scrape/scrape_test.go
  scripts/golangci-lint.yml
  storage/remote/codec_test.go
  storage/remote/intern_test.go
  storage/series_test.go
  tsdb/index/index_test.go
  web/api/v1/api_test.go
Owners: @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

promqltest: Complete the tests for info annotations
  promql/engine_test.go
  promql/promqltest/test.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/at_modifier.test
  promql/promqltest/testdata/functions.test
  promql/promqltest/testdata/histograms.test
  promql/promqltest/testdata/name_label_dropping.test
  promql/promqltest/testdata/operators.test
  promql/promqltest/testdata/selectors.test
  promql/promqltest/testdata/subquery.test
Owners: @roidelapluie

docs: update README with v3 tagging update (#15361)
  README.md
Owners: none

Upgrade to golangci-lint v1.62.0 (#15424)
  .github/workflows/ci.yml
  Makefile.common
  documentation/examples/remote_storage/remote_storage_adapter/opentsdb/client_test.go
  model/labels/labels_test.go
  promql/histogram_stats_iterator_test.go
  scrape/scrape_test.go
  scripts/golangci-lint.yml
  storage/remote/codec_test.go
  storage/remote/intern_test.go
  storage/series_test.go
  tsdb/index/index_test.go
  web/api/v1/api_test.go
Owners: @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

MemPostings: allocate ListPostings once in PFLM (#15427)
  tsdb/index/postings.go
Owners: @jesusvazquez

rules.NewGroup: Fix when no logger is passed
  rules/group.go
  rules/group_test.go
Owners: none

Update promql/promqltest/testdata/at_modifier.test
  promql/promqltest/testdata/at_modifier.test
Owners: @roidelapluie

promqltest: Complete the tests for info annotations (#15429)
  promql/engine_test.go
  promql/promqltest/test.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/at_modifier.test
  promql/promqltest/testdata/functions.test
  promql/promqltest/testdata/histograms.test
  promql/promqltest/testdata/name_label_dropping.test
  promql/promqltest/testdata/operators.test
  promql/promqltest/testdata/selectors.test
  promql/promqltest/testdata/subquery.test
Owners: @roidelapluie

promql: Fix subqueries to be really left-open
  promql/engine.go
  promql/engine_test.go
Owners: @roidelapluie

fix some aggregations for histograms
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/limit.test
Owners: @roidelapluie

fix test
  promql/promqltest/testdata/limit.test
Owners: @roidelapluie

adds some more tests
  promql/promqltest/testdata/aggregators.test
Owners: @roidelapluie

docs: fix typo
  docs/configuration/configuration.md
Owners: none

for save
  wal/output_decoder.h
Owners: none

rules.NewGroup: Fix when no logger is passed (#15356)
  rules/group.go
  rules/group_test.go
Owners: none

for save
  entrypoint/wal_decoder.cpp
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

some nits
  promql/engine.go
  promql/promqltest/testdata/limit.test
Owners: @roidelapluie

fix promtool analyze block shows metric name with 0 cardinality
  cmd/promtool/tsdb.go
Owners: @dgl

for save
  wal/output_decoder.h
Owners: none

for save
  wal/output_decoder.h
Owners: none

MemPostings: keep a map of label values slices
  tsdb/index/postings.go
Owners: @jesusvazquez

rebuild encode
  wal/output_decoder.h
Owners: none

Fix: OTLP translator now keeps multiple separators in metric names
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

for save
  entrypoint/wal_decoder.cpp
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

apply DRY on clamp
  promql/functions.go
Owners: @roidelapluie

Use utf8 lib to count runes, intead of counting bytes
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Remove conditional inside loop
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
Owners: @aknuds1, @jesusvazquez
