Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

fix zookeeper test
  discovery/zookeeper/zookeeper_test.go
Owners: none

Update cmd/promtool/main.go
  cmd/promtool/main.go
Owners: @dgl

dont register zookeeper metrics twice
  discovery/zookeeper/metrics.go
  discovery/zookeeper/zookeeper_test.go
Owners: none

serve metrics from custom registry, rename var name, promtool has its own custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  web/web.go
Owners: @dgl

refactor(treecache): remove global prometheus registration
  discovery/zookeeper/metrics.go
  discovery/zookeeper/zookeeper.go
  util/treecache/treecache.go
Owners: none

use custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  storage/remote/client.go
  storage/remote/client_test.go
  storage/remote/storage.go
  storage/remote/write.go
  template/template.go
  web/web.go
Owners: @dgl, @cstyan, @bwplotka, @tomwilkie

fix lint
  discovery/zookeeper/metrics.go
Owners: none

refactor(treecache): remove global prometheus registration
  discovery/zookeeper/metrics.go
Owners: none

fix test failure
  storage/remote/client.go
  storage/remote/storage.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix lint error
  discovery/zookeeper/metrics.go
  discovery/zookeeper/zookeeper_test.go
Owners: none

replace promauto.NewCounter with custom registry
  storage/remote/intern.go
  storage/remote/intern_test.go
  storage/remote/queue_manager_test.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

check for reg is nil
  storage/remote/intern.go
Owners: @cstyan, @bwplotka, @tomwilkie

First pass at auto-resolving IPv6 only instances
  discovery/aws/ec2.go
  discovery/aws/ec2_test.go
Owners: none

Fix
  cmd/promtool/main_test.go
  cmd/promtool/testdata/bad-sd-file-extension.nonexistant
  cmd/promtool/testdata/bad-sd-file-extension.nonexistent
  discovery/aws/ec2_test.go
  docs/configuration/alerting_rules.md
  docs/migration.md
  docs/querying/api.md
  promql/promqltest/testdata/functions.test
  storage/remote/write_handler.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie

Fix typos (#16076)
  cmd/promtool/main_test.go
  cmd/promtool/testdata/bad-sd-file-extension.nonexistant
  cmd/promtool/testdata/bad-sd-file-extension.nonexistent
  discovery/aws/ec2_test.go
  docs/configuration/alerting_rules.md
  docs/migration.md
  docs/querying/api.md
  promql/promqltest/testdata/functions.test
  storage/remote/write_handler.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie

WAL: Mark duplicate series records as deleted during replay
  tsdb/agent/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

ct: Support CTs in WAL; change sample record; use in PRW 2.0
  cmd/prometheus/main.go
  docs/feature_flags.md
  scrape/helpers_test.go
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/fanout.go
  storage/interface.go
  storage/remote/queue_manager.go
  storage/remote/write.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  storage/remote/write_test.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Querier regexp bugfix
  bare_bones/algorithm.h
  prometheus/label_matcher.h
  series_index/querier/querier.h
  series_index/querier/regexp_searcher.h
  series_index/querier/selector_querier.h
  series_index/querier/set_operations.h
  series_index/tests/querier/querier_tests.cpp
  series_index/tests/querier/regexp_search_tests.cpp
  series_index/tests/querier/selector_querier_tests.cpp
Owners: none

write_handler: Use client_golang/exp/api/remote for handling remote writes
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Rm config entries for remote write message types
  config/config.go
  config/config_test.go
  storage/remote/client.go
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  storage/remote/write_test.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fix lint
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

Use remote.MessageType for acceptedMessages
  cmd/prometheus/main.go
  cmd/prometheus/main_test.go
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

Fix config test
  config/config_test.go
Owners: none

move directory scan outside of the loop
  tsdb/head_wal.go
Owners: @jesusvazquez

config: set gogc default value when config body is empty (#16052)
  config/config.go
  config/config_test.go
Owners: none

Optimize Decode/Encode and WAL watching.
  tsdb/agent/db.go
  tsdb/compression/compression.go
  tsdb/db.go
  tsdb/head_append.go
  tsdb/record/bench_test.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/tsdbutil/record.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/reader.go
  tsdb/wlog/reader_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
  tsdb/wlog/wlog.go
  tsdb/wlog/wlog_test.go
Owners: @jesusvazquez

head.deleted -> head.walExpiries
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

head.checkWALExpiry -> head.getWALExpiry; check implies a comparison that doesn't happen in the function
  tsdb/head.go
  tsdb/head_test.go
Owners: @jesusvazquez

promql: histogram_fraction for bucket histograms
  promql/functions.go
  promql/promqltest/testdata/histograms.test
  promql/quantile.go
Owners: @roidelapluie

First pass at auto-resolving IPv6 only instances
  discovery/aws/ec2.go
  discovery/aws/ec2_test.go
  docs/configuration/configuration.md
Owners: none

fix: format float to avoid overflow (#16083)
  promql/parser/printer.go
  promql/parser/printer_test.go
Owners: @roidelapluie

stubs for columnar storage blocks (#2)
  cmd/prometheus/main.go
  tsdb/block.go
  tsdb/columnar/block.go
  tsdb/compact_columnar.go
  tsdb/db.go
  tsdb/head_read.go
  tsdb/ooo_head_read.go
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

add example that creates schemas based on series label set
  cmd/parquettest/main.go
  go.mod
  go.sum
Owners: none

Optimize Decode/Encode and WAL watching.
  cmd/prometheus/main.go
  tsdb/agent/db.go
  tsdb/compact_test.go
  tsdb/compression/compression.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_bench_test.go
  tsdb/head_test.go
  tsdb/ooo_head_read_test.go
  tsdb/record/bench_test.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/reader.go
  tsdb/wlog/reader_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
  tsdb/wlog/wlog.go
  tsdb/wlog/wlog_test.go
  util/testrecord/record.go
Owners: @jesusvazquez

progress
  cmd/tsdbblock2columnarblock/.gitignore
  cmd/tsdbblock2columnarblock/columnar.go
  cmd/tsdbblock2columnarblock/main.go
  cmd/tsdbblock2columnarblock/tsdb.go
  go.mod
  go.sum
Owners: none

rename
  cmd/tsdb2columnar/.gitignore
  cmd/tsdb2columnar/columnar.go
  cmd/tsdb2columnar/main.go
  cmd/tsdb2columnar/tsdb.go
Owners: none

progress
  cmd/tsdb2columnar/columnar.go
Owners: none

changes
  cmd/tsdb2columnar/tsdb.go
Owners: none

Initial testdata
  cmd/tsdb2columnar/main.go
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/chunks/000001
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/index
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/meta.json
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/tombstones
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_0.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_1.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_2.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_3.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_4.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_5.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_6.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_7.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_8.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_9.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/meta.json
  cmd/tsdb2columnar/tsdb.go
Owners: none

Initial testdata
  cmd/tsdb2columnar/.gitignore
  cmd/tsdb2columnar/columnar.go
  cmd/tsdb2columnar/main.go
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/chunks/000001
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/index
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/meta.json
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J/tombstones
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_0.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_1.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_2.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_3.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_4.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_5.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_6.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_7.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_8.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/data/tsdb2columnar_gauge_9.parquet
  cmd/tsdb2columnar/testdata/01JNE1SGT7RYXAZYG902502X6J_columnar/meta.json
  cmd/tsdb2columnar/tsdb.go
  go.mod
  go.sum
Owners: none
