Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

remote/otlp: inline deltatocumulative construction
  storage/remote/write_handler.go
  util/otel/fake/fake.go
  util/otel/meter.go
  util/otel/pipeline.go
  util/otel/pipeline_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: panic on otel init failure
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: benchmark
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

util/otel: noop telemetry
  go.mod
  go.sum
  util/otel/meter.go
  util/otel/pipeline_test.go
Owners: none

storage/otlp: otlp-delta feature flag
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  docs/querying/api.md
  storage/remote/check.diff
  storage/remote/fast.bench
  storage/remote/sum.bench
  storage/remote/write_handler.go
  storage/remote/write_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

Merge 3.1 into main (#15775)
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

storage/remote: skip deltatocumulative if no delta
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

Revert changes made to BuildCompliantName.
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

Add option for metric names that don't follow Prometheus conventions
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
Owners: @aknuds1, @jesusvazquez

lint
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Clean up perUnits ending with underscores
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Split concerns for buildUnitSuffixes.
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Address PR comments.
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Remove unused file
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
Owners: @aknuds1, @jesusvazquez

Include colon in BuildCompliantMetricName test
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

lint
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

template: Use cases.Title instead of deprecated strings.Title (#15721)
  docs/configuration/template_reference.md
  template/template.go
Owners: none

move the long scrape interval config and look back delta config to lint config check
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

PromTool: Support Scrape Interval Lint Checking
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.yml
  docs/command-line/promtool.md
Owners: @dgl

fix test file
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.long_scrape_interval.yml
  cmd/promtool/testdata/prometheus-config.lint.yml
Owners: @dgl

Separate rules from scrape config linting
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.long_scrape_interval.yml
  cmd/promtool/testdata/prometheus-config.lint.too_long_scrape_interval.yml
  docs/command-line/promtool.md
Owners: @dgl

Improve the tests
  cmd/promtool/main.go
  cmd/promtool/main_test.go
Owners: @dgl

Add changelog entry
  CHANGELOG.md
Owners: none

Apply suggestions from code review
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Fix order of trim and contains
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
Owners: @aknuds1, @jesusvazquez

Remove empty lines from tests
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
Owners: @aknuds1, @jesusvazquez

Refactor VectorAnd for invariant exprs
  promql/bench_test.go
  promql/engine.go
  promql/promql_test.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

Add benchmark for warnIfTargetsRelabelledToSameLabels
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Fix the target count to 10k
  scrape/manager_test.go
Owners: none

Add test for same label set in targets
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Add warning log for same labelset after relabeling
  discovery/targetgroup/targetgroup.go
  scrape/manager.go
Owners: none

Preallocate map with required size
  scrape/manager.go
Owners: none

Extract to separate method
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Invert predicate to use !ok
  scrape/manager.go
Owners: none

Revert unrelated changes
  discovery/targetgroup/targetgroup.go
  scrape/manager.go
Owners: none

Use label bytes as key
  scrape/manager.go
Owners: none

add warn under feature flag
  CHANGELOG.md
  cmd/prometheus/main.go
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Reshard by redistributing samples to new queues
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

use dummy data (failing due to mismatch in timestamps)
  web/api/v1/api_test.go
Owners: none

[fix] - doc
  docs/configuration/configuration.md
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
