Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

[CHORE] adding startup min retention time
  cmd/prometheus/main.go
  tsdb/db.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db.go
  tsdb/head.go
  tsdb/head_wal.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  cmd/promtool/backfill_test.go
  tsdb/db_test.go
Owners: @dgl, @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db.go
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] deleting blocks on startup
  cmd/prometheus/main.go
  tsdb/db.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] deleting blocks on startup
  cmd/promtool/backfill_test.go
  tsdb/db.go
Owners: @dgl, @jesusvazquez

[FIX] failing tests
  .vscode/launch.json
  .vscode/prometheus.yml
  helper.sh
  tsdb/db_test.go
Owners: @jesusvazquez

[FIX] failing tests
  .vscode/launch.json
  .vscode/prometheus.yml
  helper.sh
Owners: none

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[CHORE] filtering out samples before the startup time retention
  tsdb/db_test.go
Owners: @jesusvazquez

[FIX] failing tests
  tsdb/db_test.go
Owners: @jesusvazquez

feat: add helper function to get heatmap aligned data
  web/ui/mantine-ui/src/pages/query/QueryPanel.tsx
  web/ui/mantine-ui/src/pages/query/uPlotChartHelpers.ts
Owners: @juliusv

feat: add dev script
  web/ui/mantine-ui/package.json
Owners: @juliusv

Added missing colons for consistency and correctness
  README.md
Owners: none

Fix convert head on error
  go/relabeler/appender/head.go
  go/relabeler/appender/storage.go
  go/relabeler/head/head.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
  go/relabeler/interface.go
Owners: none

Active head load segment count fix
  go/relabeler/head/load.go
  go/relabeler/head/manager/manager.go
Owners: none

textparse: Refactor benchmark testdata for all types.
  model/textparse/benchmark_test.go
  model/textparse/testdata/1histogram.om.txt
  model/textparse/testdata/alltypes.237mfs.nometa.prom.txt
  model/textparse/testdata/alltypes.237mfs.prom.txt
  model/textparse/testdata/alltypes.5mfs.om.txt
  model/textparse/testdata/promtestdata.nometa.txt
  model/textparse/testdata/promtestdata.txt
  scrape/scrape_test.go
Owners: none

Improve tick rendering
  web/ui/mantine-ui/src/pages/query/uPlotChartHelpers.ts
Owners: @juliusv

Improve tick rendering (#15999)
  web/ui/mantine-ui/src/pages/query/uPlotChartHelpers.ts
Owners: @juliusv

textparse: Refactor benchmark testdata for all types. (#15998)
  model/textparse/benchmark_test.go
  model/textparse/testdata/1histogram.om.txt
  model/textparse/testdata/alltypes.237mfs.nometa.prom.txt
  model/textparse/testdata/alltypes.237mfs.prom.txt
  model/textparse/testdata/alltypes.5mfs.om.txt
  model/textparse/testdata/promtestdata.nometa.txt
  model/textparse/testdata/promtestdata.txt
  scrape/scrape_test.go
Owners: none

Make theme switcher a single three-state toggle button
  web/ui/mantine-ui/src/components/ThemeSelector.tsx
Owners: @juliusv

util/httputil: Benchmark newCompressedResponseWriter
  util/httputil/compression_test.go
Owners: none

util/httputil: Improve newCompressedResponseWriter
  util/httputil/compression.go
Owners: none

test(discovery/file): add a test to ensure that as long as the file is updated atomically, continuous updates should be possible.
  discovery/file/file_test.go
Owners: none

enable test
  .github/workflows/ci.yml
Owners: none

chore: enable early-return from revive
  .golangci.yml
  discovery/azure/azure.go
  discovery/linode/linode.go
  discovery/manager.go
  discovery/moby/docker.go
  documentation/examples/remote_storage/remote_storage_adapter/influxdb/client.go
  promql/engine.go
  storage/remote/azuread/azuread.go
  tsdb/agent/db.go
  tsdb/isolation.go
Owners: @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

feat(tsdb/(head|agent)): reuse pools across segments to avoid generating garbage during WL replay
  tsdb/agent/db.go
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

switch write v2 proto to vtprotobuf with pooling and unmarshal_unsafe; adjust genproto script and generate the protos. no other changes - will not compile
  .gitignore
  go.mod
  go.sum
  prompb/io/prometheus/write/v2/types.pb.go
  prompb/io/prometheus/write/v2/types.proto
  prompb/io/prometheus/write/v2/types_vtproto.pb.go
  scripts/genproto.sh
Owners: none

revert some dependency downgrades, compile, pass all tests & lint; no vtprotobuf optimizations yet
  go.mod
  go.sum
  prompb/io/prometheus/write/v2/codec.go
  prompb/io/prometheus/write/v2/custom.go
  prompb/io/prometheus/write/v2/custom_test.go
  prompb/io/prometheus/write/v2/types_test.go
  prompb/rwcommon/codec_test.go
  storage/remote/codec.go
  storage/remote/codec_test.go
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

apply object pooling for v2 timeseries, metadata, and samples
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix panic in BenchmarkBuildV2WriteRequest
  go.mod
  go.sum
  storage/remote/queue_manager_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix tests which require clone of fixture after enabling pooling
  storage/remote/codec_test.go
  storage/remote/queue_manager.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix up go.mod with main
  go.mod
  go.sum
Owners: none

Fix typo
  docs/querying/operators.md
Owners: none

Clarify sorting behaviour of `topk` and `bottomk`.
  docs/querying/operators.md
Owners: none

add comment
  tsdb/index/postings.go
Owners: @jesusvazquez

Update collision hashes for stringlabels
  tsdb/agent/series_test.go
  tsdb/head_test.go
Owners: @jesusvazquez
