Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

[ENHANCEMEN] Remote-Write: optionally use a DNS resolver that picks a random IP (#15329)
  config/config.go
  docs/configuration/configuration.md
  storage/remote/client.go
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

Explain padding
  README.md
Owners: none

added vultr baremetal support
  discovery/vultr/mock_test.go
  discovery/vultr/vultr.go
  discovery/vultr/vultr_test.go
  docs/configuration/configuration.md
Owners: none

chore(deduper): add compile check that slog.Handler int is satisfied
  util/logging/dedupe.go
Owners: none

parllelize tests for config package
  config/config_test.go
Owners: none

Use PostingsForLabelMatching for inverse matching
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

corrects (in)equality operator behaviour between two histograms
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

Fix issue where comparison operations with `bool` modifier and native histograms return histograms rather than 0 or 1
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

promql: fix incorrect "native histogram ignored in aggregation" annotations
  promql/engine.go
Owners: @roidelapluie

Export quantile functions
  promql/functions.go
  promql/quantile.go
  promql/quantile_test.go
Owners: @roidelapluie

Update doc strings
  promql/quantile.go
Owners: @roidelapluie

Export missing parts
  promql/quantile.go
  promql/quantile_test.go
Owners: @roidelapluie

Don't emit anything for comparisons between floats and histograms when `bool` modifier is used
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

for save
  BUILD
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  go/cppbridge/wal_encode_decode_test.go
  primitives/primitives.h
  prometheus/tests/relabeler_tests.cpp
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

Introduce method PostingsForAllLabelValues
  tsdb/block.go
  tsdb/head_read.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
  tsdb/ooo_head_read.go
  tsdb/querier.go
  tsdb/querier_test.go
Owners: @jesusvazquez

Openmetrics parser
  entrypoint/_helpers.hpp
  entrypoint/wal_decoder.cpp
  entrypoint/wal_hashdex.cpp
  entrypoint/wal_hashdex.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_hashdex.go
  go/cppbridge/wal_hashdex_test.go
  prometheus/metadata.h
  prometheus/textparse/README.md
  prometheus/textparse/open_metrics/tokenizer.cpp
  prometheus/textparse/open_metrics/tokenizer.cxx
  prometheus/textparse/open_metrics/tokenizer.h
  prometheus/textparse/open_metrics/tokenizer_tests.cpp
  prometheus/textparse/prometheus/tokenizer.cpp
  prometheus/textparse/prometheus/tokenizer.cxx
  prometheus/textparse/prometheus/tokenizer.h
  prometheus/textparse/prometheus/tokenizer_tests.cpp
  prometheus/textparse/tokenizer_tests.cpp
  prometheus/textparse/types.h
  wal/hashdex/scraper/parser.h
  wal/hashdex/scraper/scraper.h
  wal/hashdex/scraper/scraper_benchmark.cpp
  wal/hashdex/scraper/scraper_tests.cpp
  wal/hashdex/scraper_tests.cpp
Owners: none

revert
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

for save
  go/relabeler/querier/querier.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

fix review
  wal/output_decoder.h
Owners: none

bad test
  wal/tests/output_decoder_tests.cpp
Owners: none

for save
  wal/output_decoder.h
Owners: none

Apply reviewer feedback
  tsdb/block.go
Owners: @jesusvazquez

Apply reviewer feedback
  tsdb/index/index.go
  tsdb/querier.go
Owners: @jesusvazquez

OTLP receiver: Convert also metric metadata
  CHANGELOG.md
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/otlptranslator/prometheusremotewrite/timeseries.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Address PR feedback: add comment
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

Don't emit anything for comparisons between floats and histograms when `bool` modifier is used between a vector and a scalar
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

chore: fix some function names in comment
  model/textparse/openmetricsparse.go
  promql/engine.go
  web/web.go
Owners: @roidelapluie

for save
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

promql: fix incorrect "native histogram ignored in aggregation" annotations (#15414)
  promql/engine.go
Owners: @roidelapluie

for save
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  wal/output_decoder.h
Owners: none

fix test
  go/cppbridge/wal_decoder_test.go
Owners: none

promql: fix issues with comparison binary operations with `bool` modifier and native histograms (#15413)
  promql/engine.go
  promql/promqltest/testdata/operators.test
Owners: @roidelapluie

add test
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  wal/output_decoder.h
Owners: none

fix drop
  wal/output_decoder.h
Owners: none

add test
  wal/tests/output_decoder_tests.cpp
Owners: none

fix(lezer-promql): add missing types export in package.json (#15398)
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

fix test
  wal/tests/output_decoder_tests.cpp
Owners: none

fix(lezer-promql): add missing types export in package.json (#15397)
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

for save
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
Owners: none

wip
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/cursor_test.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/remotewriter_test.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
Owners: none
