Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @jesusvazquez, @roidelapluie, @dgl

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl

Fixed go.mod lint
  go.mod
Owners: none

Remove samplesPerChunk from memSeries (#12390)
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

Fix wording from "jitterSeed" -> "offsetSeed" for server-wide scrape offsets
  scrape/manager.go
  scrape/manager_test.go
  scrape/scrape.go
  scrape/target_test.go
Owners: none

Mark 2.45 as LTS
  RELEASE.md
Owners: none

Fixed the lint errors and the test yamls
  storage/remote/azuread/azuread.go
  storage/remote/azuread/testdata/azuread_bad_cloudmissing.yaml
  storage/remote/azuread/testdata/azuread_bad_invalidclientid.yaml
  storage/remote/azuread/testdata/azuread_good.yaml
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Fixed the failing unit test
  storage/remote/azuread/azuread.go
  storage/remote/azuread/azuread_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Group args to append to memSeries in chunkOpts
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

Also pass chunkOpts into appendPreprocessor
  tsdb/head_append.go
Owners: @jesusvazquez

Fixed the tests
  storage/remote/azuread/azuread_test.go
  storage/remote/azuread/testdata/azuread_bad_invalidclientid.yaml
  storage/remote/azuread/testdata/azuread_good_cloudmissing.yaml
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Fix lint
  storage/remote/azuread/azuread.go
  storage/remote/azuread/azuread_test.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Update functions.md
  docs/querying/functions.md
Owners: none

Update OpenTelemetry dependencies
  go.mod
  go.sum
Owners: none

fix: apply suggested changes
  cmd/promtool/main.go
Owners: @dgl

'Updated .travis.yml'
  netlify/functions/hello-world.js
Owners: none

Update index.ts
  web/ui/react-app/src/pages/index.ts
Owners: @juliusv

Create hello-world.js
  web/netlify/functions/hello-world.js
Owners: none

Create hello-world.js
  web/ui/netlify/functions/hello-world.js
Owners: @juliusv

fix: update doc
  docs/command-line/promtool.md
Owners: none

fix: import optimization
  cmd/promtool/main.go
Owners: @dgl

fix problematic link
  web/ui/module/codemirror-promql/README.md
Owners: @juliusv, @nexucis

fix problematic link (#12405)
  web/ui/module/codemirror-promql/README.md
Owners: @juliusv, @nexucis

Make comments consistent wrt 0 meaning no limit
  config/config.go
Owners: none

Document global limits
  docs/configuration/configuration.md
Owners: none

Update exporter-toolkit
  docs/configuration/https.md
  go.mod
  go.sum
Owners: none

Add limits to global config (#12126)
  config/config.go
  config/config_test.go
  config/testdata/conf.good.yml
  docs/configuration/configuration.md
Owners: none

add alert for sd refresh failure
  documentation/prometheus-mixin/alerts.libsonnet
Owners: none

Opmizing Group Regex (#12375)
  tsdb/querier.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez

add label and labelpresent for endpointslice role in k8s discovery
  discovery/kubernetes/endpoints.go
  discovery/kubernetes/endpointslice.go
  discovery/kubernetes/endpointslice_adaptor.go
  discovery/kubernetes/endpointslice_test.go
  discovery/kubernetes/ingress.go
  discovery/kubernetes/ingress_adaptor.go
  discovery/kubernetes/kubernetes.go
  discovery/kubernetes/node.go
  discovery/kubernetes/pod.go
  discovery/kubernetes/service.go
Owners: @brancz

update tests and docs
  discovery/kubernetes/endpoints_test.go
  discovery/kubernetes/endpointslice_test.go
  docs/configuration/configuration.md
Owners: @brancz

fix lint issue
  discovery/kubernetes/endpointslice.go
  discovery/kubernetes/kubernetes.go
  discovery/kubernetes/service.go
Owners: @brancz

Update prom/common to v0.43.0
  go.mod
  go.sum
Owners: none

Improving Performance on the API Gzip Handler (#12363)
  go.mod
  go.sum
  util/httputil/compression.go
  util/httputil/compression_test.go
Owners: none

Formatted readme
  storage/remote/azuread/README.md
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Rename remaining jitterSeed -> offsetSeed variables
  scrape/target.go
Owners: none

feat: support histogram and summary metric types
  util/fmtutil/format.go
  util/fmtutil/format_test.go
Owners: none

feat: enhance stdin check and add tests parsing error
  cmd/promtool/main.go
  cmd/promtool/metrics.go
  docs/command-line/promtool.md
  util/fmtutil/format_test.go
Owners: @dgl

Update go dependencies for 2.45
  go.mod
  go.sum
Owners: none

Feat: Get block by id directly on promtool analyze & get latest block if ID not provided (#12031)
  cmd/promtool/tsdb.go
  tsdb/db.go
  tsdb/db_test.go
Owners: @dgl, @jesusvazquez

feat refactoring checkrules func
  cmd/promtool/main.go
Owners: @dgl

promql: refactor: extract fn to wait on concurrency limit
  promql/engine.go
Owners: @roidelapluie
