Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

rebase and cherry-pick, add pressure test report.
  discovery/aliyun/PRESSURE_TEST.md
  discovery/aliyun/README.md
  discovery/aliyun/client_mock.go
  discovery/aliyun/ecs.go
  discovery/aliyun/ecs_test.go
  discovery/aliyun/metrics.go
  discovery/config/config.go
  discovery/ecs/README.md
  discovery/ecs/ecs.go
  discovery/install/install.go
  go.mod
  go.sum
  plugins.yml
Owners: none

fix(plugins): make plugins (#10)
  plugins/plugins.go
Owners: none

同步 fix patch 20200506
  discovery/ecs/ecs.go
Owners: none

fix aliyun ecs discovery.
  discovery/ecs/ecs.go
Owners: none

[REFACTORY] removing series from commit context struct
  tsdb/head_append.go
Owners: @jesusvazquez

[REFACTORY] removing series from commit context struct
  tsdb/head_append.go
Owners: @jesusvazquez

[CHANGE] Remote-write: default enable_http2 to false
  CHANGELOG.md
  config/config.go
  docs/configuration/configuration.md
Owners: none

migration: add new enable_http2 default for remote write
  docs/migration.md
Owners: none

tsbd: open blocks in parallel.
  tsdb/db.go
Owners: @jesusvazquez

delete empty line
  tsdb/db.go
Owners: @jesusvazquez

Docs: Remove experimental note on out of order feature
  docs/configuration/configuration.md
Owners: none

Updating lastTs for series when adding CT to invalidate duplicates
  promql/parser/generated_parser.y.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @roidelapluie, @jesusvazquez

making sure that updating the lastTS wont cause OOO later on in Commit();
  tsdb/agent/db.go
  tsdb/agent/db_test.go
Owners: @jesusvazquez

fix(nhcb): do not return nhcb from parse if exponential is present (#15209)
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

Docs: Remove experimental note on out of order feature (#15215)
  docs/configuration/configuration.md
Owners: none

log last series labelset when hitting OOO series labels during compaction
  tsdb/index/index.go
Owners: @jesusvazquez

Update docs/feature_flags.md
  docs/feature_flags.md
Owners: none

append: expand the append interface to add ct to each Append call
  cmd/prometheus/main.go
  cmd/prometheus/main_test.go
  cmd/promtool/backfill.go
  cmd/promtool/rules.go
  cmd/promtool/tsdb.go
  promql/bench_test.go
  promql/engine_test.go
  promql/functions_test.go
  promql/promqltest/test.go
  rules/group.go
  rules/manager_test.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/fanout.go
  storage/fanout_test.go
  storage/interface.go
  storage/remote/queue_manager.go
  storage/remote/write.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/block_test.go
  tsdb/blockwriter_test.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/example_test.go
  tsdb/head_append.go
  tsdb/head_read_test.go
  tsdb/head_test.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
  tsdb/record/record.go
  tsdb/testutil.go
  tsdb/tsdbblockutil.go
  web/federate_test.go
Owners: @dgl, @roidelapluie, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

[CHANGE] Remote-write: default enable_http2 to false
  CHANGELOG.md
  config/config.go
  docs/configuration/configuration.md
Owners: none

remote-write: change test default expected to http2 disabled
  config/config_test.go
Owners: none

fix: avoid data race in log deduper
  util/logging/dedupe.go
Owners: none

ref: remove unused deduper log wrapper methods
  util/logging/dedupe.go
Owners: none

fixed creation BasicEncoder from BasicDecoder
  bare_bones/gorilla.h
  bare_bones/lz4_stream.h
  bare_bones/tests/gorilla_tests.cpp
  wal/wal.h
Owners: none

wip
  go/relabeler/head/load.go
Owners: none

fix(nhcb): created timestamp fails when keeping classic histograms
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

wip
  go/relabeler/head/load.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
  wal/wal.h
Owners: none

migration: fix typo
  docs/migration.md
Owners: none

3.0 migration guide (#15099)
  docs/migration.md
  docs/stability.md
Owners: none

Short-cut common memChunk operations
  tsdb/head.go
Owners: @jesusvazquez

catalog fix
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/manager/manager.go
Owners: none

fix(tsdb): Clear reset hint when switching between ino and ooo head
  tsdb/head_read.go
  tsdb/ooo_head_read.go
Owners: @jesusvazquez

fix(tsdb): interleaved OOO and In-order chunks with NH counter resets
  tsdb/db_test.go
Owners: @jesusvazquez

support int exemplar value type
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
Owners: @aknuds1, @jesusvazquez

head manager metrics
  go/relabeler/appender/head.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
Owners: none

fix
  go/relabeler/head/head.go
Owners: none

Fix merge conflicts in CHANGELOG.md
  CHANGELOG.md
Owners: none

Documented that WAL can still be written after memory-snapshot-on-shutdown (#15179)
  docs/feature_flags.md
Owners: none

update CHANGELOG
  CHANGELOG.md
Owners: none

Agent: allow for ingestion of CT samples (#15124)
  storage/remote/write.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/head.go
  tsdb/head_append.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

refactor: reorder fields in defaultSDConfig initialization for consistency
  discovery/http/http.go
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
