Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

PromQL: improve some test comments
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

tsdb: export CheckpointPrefix constant
  tsdb/db.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

tsdb: Extract index file path logic into a helper function
  tsdb/block.go
  tsdb/compact.go
  tsdb/repair.go
Owners: @jesusvazquez

metrics added
  go/relabeler/remotewriter/README.md
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/remotewriter_test.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

Prepare release 3.1.0-rc.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

Support ingesting PWRv2's Created Timestamp as 0 samples
  storage/remote/codec_test.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix linter
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Put PRWv2 created timestamp ingestion behing feature-flag
  cmd/prometheus/main.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

handle histogram CT
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Handle histogram's created timestamp
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

Inline conditionals and CT handling
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

promtool: add --ignore-unknown-fields
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/rules.go
  cmd/promtool/testdata/rules_extrafields.yml
  cmd/promtool/testdata/rules_run_extrafields.yml
  cmd/promtool/unittest.go
  cmd/promtool/unittest_test.go
  docs/command-line/promtool.md
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
  rules/manager.go
  rules/manager_test.go
Owners: @dgl

[EXPERIMENT] Try Go 1.24rc1
  go.mod
Owners: none

PromQL: avoid new 'go vet' check
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

Review feedback: make target labels naming consistent
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
Owners: none

TSDB: Make mergedPostings generic
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

TSDB BenchmarkMerge: run fewer sizes
  tsdb/index/postings_test.go
Owners: @jesusvazquez

TSDB: extend BenchmarkMemPostings_PostingsForLabelMatching to check merge speed
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Store alert state using file storage
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Fix lint errors
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Remove storage hook and metrics for errors
  cmd/prometheus/main.go
  rules/group.go
  rules/manager.go
  rules/manager_test.go
  rules/store.go
  rules/store_test.go
Owners: none

Update JSON nesting, fix file permissions Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/store.go
Owners: none

Add license header to fix CI Signed-off-by: Mustafain Ali Khan <mustalik@amazon.com>
  rules/alerting.go
  rules/manager.go
  rules/store.go
  rules/store_test.go
Owners: none

feat(exemplars): exemplars support for recording rules
  cmd/prometheus/main.go
  cmd/promtool/unittest.go
  docs/feature_flags.md
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/lex.go
  promql/parser/lex_test.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/promqltest/test.go
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: @dgl, @roidelapluie

TSDB: Move merge of head postings into index
  tsdb/head_read.go
  tsdb/head_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

[CHORE] adding startup min retention time
  cmd/prometheus/main.go
  tsdb/db.go
Owners: @jesusvazquez

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

wip
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

[CHORE] deleting blocks on startup
  cmd/prometheus/main.go
  tsdb/db.go
Owners: @jesusvazquez

[CHORE] deleting blocks on startup
  tsdb/db.go
Owners: @jesusvazquez

Scraping: stop storing discovered labels (#15261)
  cmd/promtool/sd.go
  scrape/manager_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  scrape/target_test.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @dgl

otlptranslator: Remove unused function TrimPromSuffixes
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

otlptranslator: Remove unused function TrimPromSuffixes (#15709)
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

OTLP receiver: Allow colons in non-standard units
  CHANGELOG.md
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Try GOAMD64=v3 for performance
  Makefile.common
Owners: none

PromQL: avoid new 'go vet' check
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

[EXPERIMENT] Try Go 1.24rc1
  go.mod
Owners: none

Try GOAMD64=v3 for performance
  Makefile.common
Owners: none

return changing length
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

fix aggr_over_time with histograms
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie
