Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

[BUGFIX] TSDB: Fix race on stale values in headAppender (#15322)
  tsdb/head_append.go
Owners: @jesusvazquez

Always return unknown hint for first sample in non-gauge histogram chunk (#15343)
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram_meta.go
  tsdb/chunkenc/histogram_test.go
  tsdb/db_test.go
  tsdb/head_test.go
  tsdb/ooo_head_test.go
  tsdb/testutil.go
Owners: @jesusvazquez

[BUGFIX] PromQL: Corrects the behaviour of some operator and aggregators with Native Histograms (#15245)
  promql/engine.go
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/native_histograms.test
  promql/promqltest/testdata/operators.test
  util/annotations/annotations.go
Owners: @roidelapluie

bugfix: allow quoted exemplar keys in openmetrics text format
  model/textparse/openmetricslex.l
  model/textparse/openmetricslex.l.go
  model/textparse/openmetricsparse_test.go
Owners: none

add json tags
  model/relabel/relabel.go
  model/relabel/relabel_test.go
Owners: none

edit again
  web/ui/mantine-ui/index.html
Owners: @juliusv

again again
  web/ui/mantine-ui/index.html
Owners: @juliusv

set store status back to 1
  web/web.go
Owners: none

migration: add removal of AM v1 api
  docs/migration.md
Owners: none

prepare release 3.0.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Fixing review findings
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

make DesymbolizeLabels func public
  prompb/io/prometheus/write/v2/codec.go
  prompb/io/prometheus/write/v2/symbols.go
  prompb/io/prometheus/write/v2/symbols_test.go
Owners: none

Parallelize discovery/kubernetes tests using t.Parallel()
  discovery/kubernetes/endpoints_test.go
  discovery/kubernetes/endpointslice_adaptor_test.go
  discovery/kubernetes/endpointslice_test.go
  discovery/kubernetes/ingress_test.go
  discovery/kubernetes/kubernetes_test.go
  discovery/kubernetes/node_test.go
  discovery/kubernetes/pod_test.go
  discovery/kubernetes/service_test.go
Owners: @brancz

for save
  bare_bones/snug_composite.h
  primitives/primitives.h
  prometheus/output_relabeler.h
  prometheus/relabeler.h
  prometheus/stateless_relabeler.h
  prometheus/tests/relabeler_tests.cpp
  prometheus/tests/stateless_relabeler_tests.cpp
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

for save
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

fix(lezer-promql): add missing types export in package.json
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

fix(lezer-promql): add missing types export in package.json
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

add and fix test
  bare_bones/snug_composite.h
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
  wal/wal.h
Owners: none

ctor,dtor
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

some fix
  bare_bones/snug_composite.h
  wal/output_decoder.h
Owners: none

up to go
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
Owners: none

fix test
  wal/tests/output_decoder_tests.cpp
Owners: none

Fix typo in list rules API response
  web/api/v1/api.go
Owners: none

add decode to ref
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_encode_decode_test.go
  wal/output_decoder.h
Owners: none

Fixing review findings
  storage/remote/dial_context.go
  storage/remote/dial_context_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Add test to validate empty response
  web/api/v1/api_test.go
Owners: none

MemPostings.Commit() before using them
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/index/postings.go
Owners: @jesusvazquez

Control pending list size in WAL replay
  tsdb/head_wal.go
  tsdb/index/postings.go
Owners: @jesusvazquez

MemPostings.Commit() in tests
  tsdb/head_test.go
  tsdb/index/index_test.go
  tsdb/index/postings_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez

MemPostings: Commit() in Delete()
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Tests: s/head.getOrCreate/getOrCreateAndCommit/
  tsdb/db_test.go
  tsdb/head_bench_test.go
  tsdb/head_test.go
  tsdb/ooo_head_read_test.go
Owners: @jesusvazquez

Update comments on MemPostints Add/Commit
  tsdb/index/postings.go
Owners: @jesusvazquez

Keep a watermark of Committed series
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_bench_test.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/index/index_test.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
  tsdb/querier_test.go
Owners: @jesusvazquez

MemPostings.TryCommit()
  tsdb/head_append.go
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Fix panic: unaligned 64-bit atomic operation
  tsdb/index/postings.go
Owners: @jesusvazquez

Null gorilla decoder
  bare_bones/bit_sequence.h
  bare_bones/gorilla.h
  bare_bones/tests/gorilla_tests.cpp
  head/chunk_recoder.h
  prometheus/tests/tsdb/chunkenc/xor_tests.cpp
  prometheus/tsdb/chunkenc/xor.h
  scripts/ci_run_unit_tests.sh
  series_data/decoder/asc_integer_values_gorilla.h
  series_data/decoder/values_gorilla.h
  series_data/encoder/gorilla.h
  series_data/encoder/timestamp/encoder.h
  series_data/encoder/timestamp/state.h
  series_data/encoder/value/asc_integer_values_gorilla.h
  series_data/encoder/value/values_gorilla.h
Owners: none

Shrinkable encoding bimap
  bare_bones/snug_composite.h
  bare_bones/tests/snug_composite_tests.cpp
  primitives/snug_composites.h
  primitives/snug_composites_filaments.h
  primitives/tests/snug_composites_filaments_tests.cpp
  series_index/queryable_encoding_bimap.h
  wal/encoder.h
Owners: none

[TESTS] Remote-Write: Fix BenchmarkStartup
  storage/remote/queue_manager_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

[TEST] apply blocks retention on tsdb open
  tsdb/db_test.go
Owners: @jesusvazquez

Use a function to determine if an aggregation function is experimental (#15331)
  promql/parser/lex.go
  promql/parser/parse.go
Owners: @roidelapluie
