Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @codesome, @roidelapluie

Further increase max log line in remote write client (#8616)
  storage/remote/client.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Correctly pass key in metrics exporer
  web/ui/react-app/src/pages/graph/MetricsExplorer.tsx
Owners: @juliusv

Checkbox should use onChange, not onClick
  web/ui/react-app/src/pages/alerts/AlertContents.tsx
Owners: @juliusv

Update tests
  web/ui/react-app/src/pages/alerts/AlertContents.test.tsx
  web/ui/react-app/src/pages/alerts/__snapshots__/AlertContents.test.tsx.snap
Owners: @juliusv

Add method to get reference number for TSDB Appender
  tsdb/db.go
  tsdb/head.go
Owners: @codesome

[UI] Fix small issues generating console errors (#8622)
  web/ui/react-app/src/pages/alerts/AlertContents.test.tsx
  web/ui/react-app/src/pages/alerts/AlertContents.tsx
  web/ui/react-app/src/pages/alerts/__snapshots__/AlertContents.test.tsx.snap
  web/ui/react-app/src/pages/graph/MetricsExplorer.tsx
Owners: @juliusv

Add explicit interface for GetRef() method
  storage/interface.go
  tsdb/db.go
  tsdb/head.go
Owners: @codesome

Rename OptionalGetRef to GetRef
  storage/interface.go
  tsdb/db.go
  tsdb/head.go
Owners: @codesome

Optimize aggregations in PromQL engine (#8594)
  promql/bench_test.go
  promql/engine.go
Owners: @codesome, @roidelapluie

Simplify return value of GetRef()
  storage/interface.go
  tsdb/db.go
  tsdb/head.go
Owners: @codesome

[RFC] Add method to get reference number for TSDB Appender (#8600)
  storage/interface.go
  tsdb/db.go
  tsdb/head.go
Owners: @codesome

Switch to alertmanager api v2
  config/config.go
  config/config_test.go
  docs/configuration/configuration.md
  notifier/notifier_test.go
Owners: none

:zap: Adds debounce in graph time range input setting changes
  web/ui/react-app/src/pages/graph/GraphControls.tsx
Owners: @juliusv

:zap: Adds debounce in graph end time setting changes
  web/ui/react-app/package.json
  web/ui/react-app/src/pages/graph/TimeInput.test.tsx
  web/ui/react-app/src/pages/graph/TimeInput.tsx
  web/ui/react-app/yarn.lock
Owners: @juliusv

add changes per comments, fix tests
  .gitignore
  cmd/promtool/main.go
  cmd/promtool/rules.go
  cmd/promtool/rules_test.go
  tsdb/blockwriter.go
Owners: @codesome

Implement Docker discovery
  discovery/dockerswarm/docker.go
  discovery/dockerswarm/docker_test.go
  discovery/dockerswarm/mock_test.go
  discovery/dockerswarm/network.go
  discovery/dockerswarm/services.go
  discovery/dockerswarm/tasks.go
  discovery/dockerswarm/testdata/dockerprom/_ping.json
  discovery/dockerswarm/testdata/dockerprom/containers/json_limit_0.json
  discovery/dockerswarm/testdata/dockerprom/headers.yml
  discovery/dockerswarm/testdata/dockerprom/networks.json
  docs/configuration/configuration.md
  documentation/examples/prometheus-docker.yml
Owners: none

Apply suggestions from code review
  discovery/dockerswarm/docker.go
  docs/configuration/configuration.md
Owners: none

Move up documentation section
  docs/configuration/configuration.md
Owners: none

Fix documentation link
  docs/configuration/configuration.md
Owners: none

fix convert missing method LabelValues became UnsortedLabelValues
  tsdb/block_test.go
  tsdb/head_test.go
  tsdb/querier_test.go
Owners: @codesome

fix convert missing method LabelValues became UnsortedLabelValues
  tsdb/querier.go
Owners: @codesome

implement cleanup tsdb sorted label value
  tsdb/index/index.go
  tsdb/index/index_test.go
Owners: @codesome

fix convert missing method LabelValues became UnsortedLabelValues
  tsdb/head.go
Owners: @codesome

fix convert missing method LabelValues became UnsortedLabelValues
  tsdb/block.go
Owners: @codesome

.github/CODEOWNERS:

/web/ui @juliusv
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @codesome
/promql @codesome @roidelapluie
