Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

fix test
  tsdb/querier_test.go
Owners: @jesusvazquez

added support shrinkable tables in load method
  bare_bones/snug_composite.h
  bare_bones/tests/snug_composite_tests.cpp
  primitives/snug_composites_filaments.h
  primitives/tests/snug_composites_filaments_tests.cpp
  series_index/queryable_encoding_bimap.h
Owners: none

feat: Allow customizing TSDB postings decoder (#13567)
  cmd/promtool/tsdb.go
  tsdb/block.go
  tsdb/block_test.go
  tsdb/blockwriter_test.go
  tsdb/compact.go
  tsdb/compact_test.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/index/index.go
  tsdb/index/index_test.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
  tsdb/repair_test.go
Owners: @dgl, @jesusvazquez

Update linting
  .yamllint
  Makefile.common
Owners: none

for save
  prometheus/relabeler.h
Owners: none

renamed EncodingTable to ShrinkableEncodingBimap
  bare_bones/snug_composite.h
  bare_bones/tests/snug_composite_tests.cpp
  primitives/snug_composites.h
  primitives/tests/snug_composites_filaments_tests.cpp
  wal/encoder.h
Owners: none

discovery: use a more direct and less error-prone return value
  discovery/uyuni/uyuni.go
Owners: none

[REFACTOR] Small improvement to top-level naming
  cmd/prometheus/main.go
Owners: none

fix stateless relabeler
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
Owners: none

for save
  prometheus/output_relabeler.h
  prometheus/relabeler.h
  prometheus/stateless_relabeler.h
  prometheus/tests/relabeler_tests.cpp
  prometheus/tests/stateless_relabeler_tests.cpp
Owners: none

Enable auto-gomemlimit by default
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

for save
  prometheus/stateless_relabeler.h
  prometheus/tests/relabeler_tests.cpp
  prometheus/tests/stateless_relabeler_tests.cpp
Owners: none

Completely remove auto-gomemlimit from feature flags.
  cmd/prometheus/main.go
  docs/feature_flags.md
Owners: none

Enable auto-gomemlimit by default (#15373)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Enable auto-gomemlimit by default
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Enable auto-gomaxprocs by default
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Add default false `IgnoreWALReadingCorruption` option
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  tsdb/agent/db.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/reader.go
  tsdb/wlog/watcher_test.go
  tsdb/wlog/wlog_test.go
Owners: @jesusvazquez

Create prometheus
  config/testdata/Rockyspade/prometheus
Owners: none

Enable auto-gomaxprocs by default (#15376)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Enable auto-gomemlimit by default (#15372)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Enable auto-gomaxprocs by default
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Add newlines before code blocks
  docs/migration.md
Owners: none

Add backticks to fallback_scrape_protocol
  docs/migration.md
Owners: none

Format PromQL section, replace table
  docs/migration.md
Owners: none

Better spacing for flags
  docs/migration.md
Owners: none

[BUGFIX] TSDB: Apply fixes from loadWAL to loadWBL
  tsdb/head_wal.go
Owners: @jesusvazquez

[DO NOT MERGE] Prombench cmp with 2.18
  README.md
Owners: none

Update migration.md for TSDB storage upgrade
  docs/migration.md
Owners: none

implement json encoder/decoder for regexp
  model/relabel/relabel.go
  model/relabel/relabel_test.go
Owners: none

Allow UTF-8 characters in metric and label names as opt-in feature (#15258)
  config/config.go
  config/config_test.go
  config/testdata/otlp_allow_utf8.bad.yml
  config/testdata/otlp_allow_utf8.good.yml
  config/testdata/otlp_allow_utf8.incompatible.yml
  documentation/examples/prometheus-otlp.yml
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

Added config entry.
  docs/configuration/configuration.md
Owners: none

e2e test for telemetrygen -> Prometheus with UTF-8 support.
  test/go.mod
  test/go.sum
  test/otel_test.go
Owners: none

update CHANGELOG and migration guide
  CHANGELOG.md
  docs/migration.md
Owners: none

Prepare v3.0.0-rc.1
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Updated CHANGELOG.md
  CHANGELOG.md
Owners: none

Fix release date
  CHANGELOG.md
Owners: none

Fix auto reload when a config file with a syntax error is reverted
  cmd/prometheus/main.go
  cmd/prometheus/reload_test.go
Owners: none

Enable auto-gomaxprocs by default (#15378)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
Owners: none

Update linting (#15369)
  .yamllint
  Makefile.common
Owners: none
