Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

fix: os.MkdirTemp with t.TempDir (#15860)
  tsdb/tsdbutil/dir_locker_testutil.go
Owners: @jesusvazquez

replaced-tsdb-append-error-metrics
  tsdb/block_test.go
  tsdb/db_test.go
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/testutil.go
Owners: @jesusvazquez

fixed CI Erros
  tsdb/block_test.go
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/testutil.go
Owners: @jesusvazquez

otlp: depend on prom/common otlptranslator package
  go.mod
  go.sum
  storage/remote/otlptranslator/prometheus/metric_name_builder.go
  storage/remote/otlptranslator/prometheus/metric_name_builder_test.go
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_label_test.go
  storage/remote/otlptranslator/prometheus/testutils_test.go
  storage/remote/otlptranslator/prometheus/unit_to_ucum.go
  storage/remote/otlptranslator/prometheusremotewrite/context.go
  storage/remote/otlptranslator/prometheusremotewrite/context_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points_test.go
  storage/remote/otlptranslator/prometheusremotewrite/otlp_to_openmetrics_metadata.go
  storage/remote/otlptranslator/prometheusremotewrite/testutil_test.go
  storage/remote/otlptranslator/prometheusremotewrite/timeseries.go
  storage/remote/write_handler.go
Owners: @aknuds1, @jesusvazquez, @cstyan, @bwplotka, @tomwilkie

[FEATURE] PromQL: Implements `idelta` and `irate` with histograms (#15853)
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

add todo and comments
  promql/engine.go
  util/annotations/annotations.go
Owners: @roidelapluie

chore: enable usetesting linter
  .golangci.yml
  cmd/prometheus/query_log_test.go
  documentation/examples/custom-sd/adapter/adapter_test.go
  rules/manager_test.go
  scrape/manager_test.go
  tsdb/wlog/reader_test.go
  util/logging/file_test.go
Owners: @jesusvazquez

[FIX] PromQL: Updates annotation for bin op between incompatible histograms (#15895)
  promql/engine.go
  util/annotations/annotations.go
Owners: @roidelapluie

fix scalar, sort and sort_desc for native histograms
  promql/functions.go
Owners: @roidelapluie

add tests
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

float32 constant encoder added
  bare_bones/numeric.h
  performance_tests/series_data_encoder_test.cpp
  series_data/chunk/data_chunk.h
  series_data/chunk/serialized_chunk.h
  series_data/data_storage.h
  series_data/decoder.h
  series_data/encoder.h
  series_data/encoder/numeric.h
  series_data/encoder/sample.h
  series_data/encoder/value/asc_integer_values_gorilla.h
  series_data/encoder/value/double_constant.h
  series_data/encoder/value/float32_constant.h
  series_data/encoder/value/two_double_constant.h
  series_data/encoder/value/values_gorilla.h
  series_data/outdated_chunk_merger.h
  series_data/serialization/deserializer.h
  series_data/serialization/serializer.h
  series_data/tests/encoder_tests.cpp
  series_data/tests/outdated_chunk_merger_tests.cpp
  series_data/tests/serialization/serializer_deserializer_tests.cpp
Owners: none

Series data encoder benchmark
  bare_bones/tests/vector_with_holes_tests.cpp
  bare_bones/vector_with_holes.h
  series_data/benchmarks/BUILD
  series_data/benchmarks/series_data_encoder_benchmark.cpp
Owners: none

primitives refactoring
  head/status_tests.cpp
  performance_tests/dummy_wal.h
  primitives/go_model.h
  primitives/label_set.h
  primitives/labels_builder.h
  primitives/primitives.h
  primitives/sample.h
  primitives/tests/labels_builder_tests.cpp
  primitives/tests/primitives_tests.cpp
  primitives/tests/snug_composites_filaments_tests.cpp
  primitives/timeseries.h
  prometheus/block.h
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
  prometheus/tests/stateless_relabeler_tests.cpp
  prometheus/tests/tsdb/chunkenc/xor_tests.cpp
  series_index/tests/prometheus/tsdb/index/section_writer/label_indices_writer_tests.cpp
  series_index/tests/prometheus/tsdb/index/section_writer/postings_writer_tests.cpp
  series_index/tests/prometheus/tsdb/index/section_writer/series_writer_tests.cpp
  series_index/tests/prometheus/tsdb/index/section_writer/symbols_writer_tests.cpp
  series_index/tests/querier/label_names_querier_tests.cpp
  series_index/tests/querier/label_values_querier_tests.cpp
  series_index/tests/querier/querier_tests.cpp
  series_index/tests/querier/selector_querier_tests.cpp
  series_index/tests/querier/set_operations_tests.cpp
  series_index/tests/queryable_encoding_bimap_tests.cpp
  wal/hashdex/go_model.h
  wal/hashdex/go_model_tests.cpp
  wal/hashdex/metric.h
  wal/hashdex/protobuf.h
  wal/hashdex/protobuf_tests.cpp
  wal/hashdex/scraper/scraper.h
  wal/hashdex/scraper/scraper_tests.cpp
  wal/hashdex/test_fixture.h
  wal/heartbeat_metrics_inserter.h
  wal/output_decoder.h
  wal/wal.h
Owners: none

scrape: Add realistic data case for scrape loop append bench.
  model/textparse/benchmark_test.go
  scrape/scrape_test.go
Owners: none

feat(promql): offset from static time expression
  promql/engine.go
  promql/engine_test.go
  promql/parser/ast.go
  promql/parser/functions.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/parser/printer.go
  promql/parser/printer_test.go
  promql/promqltest/testdata/duration_arithmetic.test
Owners: @roidelapluie

replaced success metric and removed comments
  tsdb/block_test.go
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/testutil.go
Owners: @jesusvazquez

Update scrape/scrape_test.go
  scrape/scrape_test.go
Owners: none

scrape: Add realistic data case for scrape loop append bench. (#15966)
  model/textparse/benchmark_test.go
  scrape/scrape_test.go
Owners: none

textparse: Optimized protobuf parser with custom streaming decoder.
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  prompb/io/prometheus/client/decoder.go
  prompb/io/prometheus/client/decoder_test.go
  scrape/scrape_test.go
Owners: none

ci: Add GH action that clicks "enable auto-merge" on dependabot PRs
  .github/workflows/automerge-dependabot.yml
Owners: none

Prepare release 3.2.0-rc.0 (#15901)
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

prepare 3.2.0-rc.1
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

More consistent wording
  docs/querying/functions.md
Owners: none

doc: clarify `rate` values are averaged (#14045)
  docs/querying/functions.md
Owners: none

prepare 3.2.0-rc.1 (#15968)
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

tuning test
  go/cppbridge/wal_encode_decode_test.go
  go/go.mod
  go/relabeler/appender/appender_test.go
Owners: none

feat(tsdb/head): reuse pools across segments to avoid generating garbage during WAL replay
  tsdb/head.go
  tsdb/head_test.go
  tsdb/head_wal.go
Owners: @jesusvazquez

sde benchmark include fix
  series_data/benchmarks/series_data_encoder_benchmark.cpp
Owners: none

Add unit tests
  promql/engine_test.go
Owners: @roidelapluie

Expand `TestInstantQueryWithRangeVectorSelector` to include histograms
  promql/engine_test.go
Owners: @roidelapluie

Fix issue
  promql/engine.go
Owners: @roidelapluie

format comments
  promql/functions.go
Owners: @roidelapluie

Tmp
  model/textparse/testdata/promtestdata.txt
Owners: none

experiment
  model/textparse/testdata/promtestdata.txt
Owners: none

Allow UTF-8 labels in label_replace
  promql/functions.go
Owners: @roidelapluie

Fix duplicate output vector if delayed name removal is disabled
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Update the test to invalid utf-8
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Update promql/promqltest/testdata/functions.test
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Fix duplicate output vector if delayed name removal is disabled (#15975)
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

[EXPERIMENT] Try Go 1.24rc2
  go.mod
Owners: none
