Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

review fix v6 metrics
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

Signed-off-by: crystalstall <crystalruby@qq.com>
  discovery/consul/consul.go
  tsdb/block.go
  util/testutil/port.go
Owners: @jesusvazquez

add more annotations and handle errors
  promql/functions.go
Owners: @roidelapluie

fix rangeTooShort case
  promql/functions.go
Owners: @roidelapluie

ruler: stop all rule groups asynchronously on shutdown
  rules/group.go
  rules/manager.go
Owners: none

fix parsing utf8 label in grouping
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/parse_test.go
Owners: @roidelapluie

indentation
  promql/parser/generated_parser.y
Owners: @roidelapluie

parser: fix misleading error message in grouping processing
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

Make "hide empty rules persistent"
  web/ui/mantine-ui/src/components/SettingsMenu.tsx
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/state/localStorageMiddleware.ts
  web/ui/mantine-ui/src/state/settingsSlice.ts
Owners: @juliusv

sorted alphabetically
  .golangci.yml
Owners: none

update by codereview
  .golangci.yml
Owners: none

added cmake to Docker ubuntu build
  .bazelignore
  WORKSPACE
  scripts/ci_run_unit_tests.sh
Owners: none

bug search
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/errors.go
Owners: none

Make "show empty pools" setting persistent
  web/ui/mantine-ui/src/components/SettingsMenu.tsx
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/targets/ScrapePoolsList.tsx
  web/ui/mantine-ui/src/state/localStorageMiddleware.ts
  web/ui/mantine-ui/src/state/settingsSlice.ts
Owners: @juliusv

Merge two accidental "Alerts page settings" sections into one
  web/ui/mantine-ui/src/components/SettingsMenu.tsx
Owners: @juliusv

Stalenan options
  entrypoint/prometheus_relabeler.cpp
  entrypoint/prometheus_relabeler.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/prometheus_relabeler.go
  go/relabeler/appender/appender_test.go
  go/relabeler/head/shard.go
  go/relabeler/head/task.go
  primitives/primitives.h
  prometheus/relabeler.h
  prometheus/tests/relabeler_tests.cpp
Owners: none

Remove settings from setting menu
  web/ui/mantine-ui/src/components/SettingsMenu.tsx
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/targets/ScrapePoolsList.tsx
  web/ui/mantine-ui/src/state/localStorageMiddleware.ts
  web/ui/mantine-ui/src/state/settingsSlice.ts
Owners: @juliusv

Add agg_over_time tests for nhcb with incompatible schemas
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

Add more function and comparison operator tests
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

Update storage keys
  web/ui/mantine-ui/src/pages/AlertsPage.tsx
  web/ui/mantine-ui/src/pages/targets/ScrapePoolsList.tsx
Owners: @juliusv

less context cancellation check for series API
  web/api/v1/api.go
Owners: none

fix test
  go/cppbridge/wal_encode_decode_test.go
Owners: none

fixing errors
  storage/remote/read.go
  storage/remote/read_test.go
  storage/remote/storage.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: convert delta to cumulative (#15165)
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  docs/querying/api.md
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

docs: Clarify PromQL interval changes
  docs/migration.md
Owners: none

fix(remotewrite2): do not overwrite help text with unit in enqueue
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

chore: Upgrade to golangci-lint v1.63.4 (#15799)
  .github/workflows/ci.yml
  .golangci.yml
  Makefile.common
  scripts/golangci-lint.yml
Owners: none

replace use of 'cluster' with clusterLabel variable
  documentation/prometheus-mixin/dashboards.libsonnet
Owners: @metalmatze

smol fix
  documentation/prometheus-mixin/dashboards.libsonnet
Owners: @metalmatze

chore: fix function name and struct name in comment
  tsdb/record/record_test.go
  web/api/v1/errors_test.go
Owners: @jesusvazquez

promtool: Support linting of scrape interval (#15719)
  CHANGELOG.md
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/testdata/prometheus-config.lint.too_long_scrape_interval.yml
  docs/command-line/promtool.md
Owners: @dgl

replace prometheus.DefaultRegisterer with single instance of prometheus.NewRegistry
  cmd/prometheus/main.go
Owners: none

promtool: add --ignore-unknown-fields
  cmd/promtool/main.go
  cmd/promtool/main_test.go
  cmd/promtool/rules.go
  cmd/promtool/testdata/rules_extrafields.yml
  cmd/promtool/testdata/rules_run_extrafields.yml
  cmd/promtool/unittest.go
  cmd/promtool/unittest_test.go
  docs/command-line/promtool.md
  model/rulefmt/rulefmt.go
  model/rulefmt/rulefmt_test.go
  rules/manager.go
  rules/manager_test.go
Owners: @dgl

fix(remotewrite2): do not send uninitialized garbage if there's no metadata
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

Ensure metric name is present on histogram_quantile annotations
  promql/engine_test.go
  promql/functions.go
  promql/quantile.go
Owners: @roidelapluie

Add test for malformed le label
  promql/engine_test.go
Owners: @roidelapluie

Reproduction of the metadata-wal-records bug.
  scrape/scrape_test.go
Owners: none

Serialization/Deserialization
  storage/remote/codec.go
Owners: @cstyan, @bwplotka, @tomwilkie

upgrade influxdb client to v2
  documentation/examples/remote_storage/go.mod
  documentation/examples/remote_storage/go.sum
  documentation/examples/remote_storage/remote_storage_adapter/README.md
  documentation/examples/remote_storage/remote_storage_adapter/influxdb/client.go
  documentation/examples/remote_storage/remote_storage_adapter/influxdb/client_test.go
  documentation/examples/remote_storage/remote_storage_adapter/main.go
Owners: none

remote write segment check
  go/relabeler/head/wal.go
  go/relabeler/head/wal_test.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/errors.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
Owners: none
