Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

review fixes
  go/cppbridge/prometheus_relabeler.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
Owners: none

scrape: Fix metadata in WAL not working for histograms and summaries.
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/remote/metadata_watcher_test.go
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

scrape: Fix metadata in WAL not working for histograms and summaries.
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/remote/metadata_watcher_test.go
  storage/remote/queue_manager.go
  storage/remote/queue_manager_test.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Update storage/remote/queue_manager.go
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

Addressed Krajo's comment.
  scrape/scrape.go
Owners: none

parser: fix non-constant format string call
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

Revert "Merge pull request #15455 from bboreham/compact-cache-symbols"
  tsdb/index/index.go
Owners: @jesusvazquez

review fixes v2
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/load.go
  go/relabeler/head/wal.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writer.go
Owners: none

scrape: Add metadata for automatic metrics.
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

docs: Clarify PromQL interval changes
  docs/migration.md
Owners: none

docs: further clarifications to PromQL interval changes
  docs/migration.md
Owners: none

serve metrics from custom registry, rename var name, promtool has its own custom registry
  cmd/prometheus/main.go
  cmd/promtool/main.go
  web/web.go
Owners: @dgl

Update scrape/scrape.go
  scrape/scrape.go
Owners: none

Simplify operator tests
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

review fixes v3 cache writer
  go/relabeler/remotewriter/datasource.go
Owners: none

Add additional incompatible nhcb schemas tests for functions and comparison operators (#15813)
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

docs: clarify PromQL interval changes (#15824)
  docs/migration.md
Owners: none

Fix lint errors/warnings
  web/ui/mantine-ui/src/components/EndpointLink.tsx
  web/ui/mantine-ui/src/components/ReadinessWrapper.tsx
  web/ui/mantine-ui/src/pages/query/Graph.tsx
  web/ui/mantine-ui/src/pages/query/TableTab.tsx
  web/ui/mantine-ui/src/pages/query/TreeNode.tsx
  web/ui/mantine-ui/src/pages/query/uPlotStackHelpers.ts
  web/ui/mantine-ui/src/pages/service-discovery/ServiceDiscoveryPage.tsx
  web/ui/mantine-ui/src/pages/targets/TargetsPage.tsx
  web/ui/react-app/src/pages/graph/DataTable.test.tsx
Owners: @juliusv

Fix up
  web/ui/mantine-ui/package.json
  web/ui/package-lock.json
Owners: @juliusv

chore: fix function name and struct name in comment (#15827)
  tsdb/record/record_test.go
  web/api/v1/errors_test.go
Owners: @jesusvazquez

parser: fix non-constant format string call (#15835)
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

promql_parser: Fix invalid format return by `/format_query`.
  model/labels/matcher.go
  promql/parser/printer.go
Owners: @roidelapluie

autocomplete_ui: Improve metric autocomplete.
  web/ui/module/codemirror-promql/src/complete/hybrid.ts
Owners: @juliusv, @nexucis

Use wrappers in stop(); rename awaitStopped()
  rules/group.go
  rules/manager.go
Owners: none

Add comment
  rules/manager.go
Owners: none

review fixes v4 load fix
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
Owners: none

fix len labels
  go/cppbridge/prometheus_relabeler.go
Owners: none

Update documentation/examples/prometheus.yml
  documentation/examples/prometheus.yml
Owners: none

ruler: stop all rule groups asynchronously on shutdown (#15804)
  rules/group.go
  rules/manager.go
Owners: none

fix: discovery improvements
  discovery/openstack/instance.go
  discovery/openstack/mock_test.go
Owners: none

Check cyrillic characters instead of non-ascii
  Makefile
Owners: none

Added method for serialize all chunks in series_data::Serializer
  head/status.h
  head/status_tests.cpp
  series_data/chunk/serialized_chunk.h
  series_data/data_storage.h
  series_data/querier/query.h
  series_data/serialization/serializer.h
  series_data/tests/querier/querier_tests.cpp
  series_data/tests/serialization/serializer_deserializer_tests.cpp
Owners: none

Cpp code coverage
  Makefile
  scripts/bazel.mk
Owners: none

fix: simplify portList and rollback fixed ip condition
  discovery/openstack/instance.go
Owners: none

discovery: move openstack floating ips function from deprecated Compute API /os-floating-ips to Network API /floatingips (#14367)
  discovery/openstack/instance.go
  discovery/openstack/instance_test.go
  discovery/openstack/mock_test.go
Owners: none

fix: fix testing
  discovery/openstack/loadbalancer.go
  discovery/openstack/loadbalancer_test.go
Owners: none

fix: fix network endpoint id
  discovery/openstack/mock_test.go
Owners: none

Upgrade client_golang to 1.21.0-rc.0
  go.mod
  go.sum
Owners: none

feat: add AWS ECS service discovery
  discovery/aws/ecs.go
  discovery/aws/metrics_ecs.go
  go.mod
  go.sum
Owners: none

remove: aws client credential overwrite
  discovery/aws/ec2.go
  discovery/aws/lightsail.go
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
