Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

Rename old histogram record type, use old names for new records
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/ooo_head_read_test.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/tsdbutil/histogram.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

Fix comment and histogram record string
  tsdb/record/record.go
Owners: @jesusvazquez

Use histogram records for custom value handling
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

Handle custom buckets in WAL and WBL
  tsdb/encoding/encoding.go
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

Remove references to custom values record
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/record/record.go
Owners: @jesusvazquez

Update WAL doc to include native histogram encodings
  tsdb/docs/format/wal.md
  tsdb/head_append.go
  tsdb/head_wal.go
Owners: @jesusvazquez

fix(remote): rename some remote read related metrics for better clarity.
  storage/remote/client.go
  storage/remote/read_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

fix: fix configuration and remove uneeded libs
  discovery/openstack/loadbalancer.go
  docs/configuration/configuration.md
Owners: none

fix alignment of atomic uint64
  util/testutil/context.go
Owners: none

Add specific Azure permissions required for Azure SD
  docs/configuration/configuration.md
Owners: none

fix TestCuttingNewHeadChunks/really_large_histograms on 32-bit archs
  model/histogram/test_utils.go
Owners: none

update tests to include and expect type and unit labels
  promql/promqltest/testdata/aggregators.test
  promql/promqltest/testdata/at_modifier.test
  promql/promqltest/testdata/collision.test
  promql/promqltest/testdata/functions.test
  promql/promqltest/testdata/histograms.test
  promql/promqltest/testdata/limit.test
  promql/promqltest/testdata/name_label_dropping.test
  promql/promqltest/testdata/native_histograms.test
  promql/promqltest/testdata/operators.test
  promql/promqltest/testdata/range_queries.test
  promql/promqltest/testdata/selectors.test
  promql/promqltest/testdata/staleness.test
  promql/promqltest/testdata/subquery.test
  promql/promqltest/testdata/trig_functions.test
Owners: @roidelapluie

ignore type and unit in functions and oeprations
  promql/engine.go
  promql/functions.go
Owners: @roidelapluie

Use new record type only for NHCB
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/testutil.go
  tsdb/wlog/checkpoint.go
  tsdb/wlog/checkpoint_test.go
  tsdb/wlog/watcher.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

Fix test
  tsdb/db_test.go
Owners: @jesusvazquez

add limit param to query and rangeQuery
  web/api/v1/api.go
Owners: none

scrape: update test after review
  scrape/scrape_test.go
Owners: none

wip
  entrypoint/wal_decoder.cpp
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/head.go
  go/relabeler/head/load.go
  go/relabeler/head/manager/head.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/ready/ready.go
  go/relabeler/head/wal.go
  go/relabeler/interface.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/errors.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/remotewriter_test.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

docs: Added native histogram WAL record documentation.
  tsdb/docs/format/wal.md
Owners: @jesusvazquez

remote write
  go/relabeler/head/catalog/catalog.go
  go/relabeler/head/catalog/catalog_test.go
  go/relabeler/head/catalog/decoder.go
  go/relabeler/head/catalog/encoder.go
  go/relabeler/head/catalog/gc.go
  go/relabeler/head/catalog/log.go
  go/relabeler/head/catalog/log_test.go
  go/relabeler/head/catalog/record.go
  go/relabeler/head/catalog/record_test.go
  go/relabeler/head/load.go
  go/relabeler/head/load_test.go
  go/relabeler/head/manager/manager.go
  go/relabeler/head/wal.go
  go/relabeler/remotewriter/remotewriter.go
  go/relabeler/remotewriter/writeloop.go
Owners: none

chore: fix some function names in comment
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

WIP: Add WAL segment versioning.
  tsdb/docs/format/wal.md
  tsdb/wlog/wlog.go
Owners: @jesusvazquez

feat(exemplars): exemplars support for recording rules
  cmd/prometheus/main.go
  cmd/promtool/unittest.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/lex.go
  promql/parser/lex_test.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/promqltest/test.go
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: @dgl, @roidelapluie

scrape: update test name
  scrape/scrape_test.go
Owners: none

deps: Use Gophercloud v2
  discovery/openstack/hypervisor.go
  discovery/openstack/instance.go
  discovery/openstack/openstack.go
  go.mod
  go.sum
Owners: none

RELEASE.md: schedule 3.[1,2,3,4] releases
  RELEASE.md
Owners: none

Linting
  docs/command-line/prometheus.md
  rules/fixtures/rules_multiple_dependents_on_base.yaml
  rules/manager.go
  rules/manager_test.go
Owners: none

fix(deduper): use ptr to sync.RWMutex, fix panic during concurrent use
  util/logging/dedupe.go
  util/logging/dedupe_test.go
Owners: none

deps: Use Gophercloud v2
  discovery/openstack/hypervisor.go
  discovery/openstack/instance.go
  discovery/openstack/openstack.go
  go.mod
  go.sum
Owners: none

Don't panic if ActiveQueryTracker is closed
  promql/query_logger.go
  promql/query_logger_test.go
Owners: @roidelapluie

feat: add floating ips logic to rely on ports API
  discovery/openstack/instance.go
  discovery/openstack/instance_test.go
  discovery/openstack/mock_test.go
Owners: none

fix(test): TestCheckpoint segment size too low
  tsdb/wlog/checkpoint_test.go
Owners: @jesusvazquez

Clarify the NoUTF8EscapingWithSuffixes and UnderscoreEscapingWithSuffixes modes
  config/config.go
  docs/configuration/configuration.md
  documentation/examples/prometheus-otlp.yml
Owners: none

fix(lint): linter errors
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

fix(test): if we are dereferencing a slice we should check its len
  tsdb/agent/db_test.go
Owners: @jesusvazquez

Protobuf encoder
  entrypoint/wal_decoder.cpp
  entrypoint/wal_decoder.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/wal_decoder.go
  go/cppbridge/wal_decoder_test.go
  go/cppbridge/wal_encode_decode_test.go
  go/relabeler/querier/querier.go
  primitives/primitives.h
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

Add old UI to dependabot
  .github/dependabot.yml
Owners: none

fix(test): do not run automatic WAL truncate during test
  tsdb/agent/db_test.go
Owners: @jesusvazquez

OTLP receiver: Use stdlib for splitting metric name in classical mode
  storage/remote/otlptranslator/prometheus/normalize_name.go
Owners: @aknuds1, @jesusvazquez

feat(exemplars): exemplars support for recording rules
  cmd/prometheus/main.go
  cmd/promtool/unittest.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/lex.go
  promql/parser/lex_test.go
  promql/parser/parse.go
  promql/parser/parse_test.go
  promql/promqltest/test.go
  rules/alerting.go
  rules/group.go
  rules/manager.go
  rules/origin_test.go
  rules/recording.go
  rules/recording_test.go
  rules/rule.go
Owners: @dgl, @roidelapluie
