Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @codesome, @roidelapluie

.github/CODEOWNERS:

/web/ui @juliusv
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @codesome
/promql @codesome @roidelapluie

Add link to https://developers.scaleway.com/en/ for zones
  docs/configuration/configuration.md
Owners: none

Fix NameFilter and TagsFilter documentation
  docs/configuration/configuration.md
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

make field private
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

make secret_key mandatory in the docs
  docs/configuration/configuration.md
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

add omitempty
  discovery/scaleway/scaleway.go
Owners: none

simplify loadProfile
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/scaleway/scaleway.go
Owners: none

Add link to scaleway website
  docs/configuration/configuration.md
Owners: none

Fix tests
  config/config_test.go
  config/testdata/scaleway_role.bad.yml
  discovery/scaleway/scaleway.go
Owners: none

add proxy_url (part of HTTPClientConfig), tls_config and follow_redirects.
  docs/configuration/configuration.md
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

change order of import
  config/config_test.go
Owners: none

Make telemetry explicitely off
  discovery/scaleway/scaleway.go
Owners: none

rename fields and make them private
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/scaleway/scaleway.go
  docs/configuration/configuration.md
Owners: none

Update discovery/scaleway/scaleway.go
  discovery/scaleway/scaleway.go
Owners: none

make access key mandatory
  config/config_test.go
  config/testdata/conf.good.yml
  discovery/scaleway/scaleway.go
Owners: none

Update discovery/scaleway/scaleway.go
  discovery/scaleway/scaleway.go
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

Update docs/configuration/configuration.md
  docs/configuration/configuration.md
Owners: none

Fix test
  config/config_test.go
Owners: none

Fix inconsistent display of word 'ago' on rules page (#8566)
  web/ui/react-app/src/pages/rules/RulesContent.tsx
  web/ui/react-app/src/utils/index.ts
  web/ui/react-app/src/utils/utils.test.ts
Owners: @juliusv

Contribute grafana/agent sigv4 code (#8509)
  config/config.go
  docs/configuration/configuration.md
  storage/remote/client.go
  storage/remote/sigv4.go
  storage/remote/sigv4_test.go
  storage/remote/write.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Add @dgl as maintainer of promtool
  MAINTAINERS.md
Owners: none

Multiple improvements
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/scaleway/scaleway.go
  docs/configuration/configuration.md
  documentation/examples/prometheus-scaleway.yml
Owners: none

Switch baremetal to one target
  discovery/scaleway/baremetal.go
  docs/configuration/configuration.md
  documentation/examples/prometheus-scaleway.yml
Owners: none

Build for Apple Silicon
  .promu.yml
Owners: none

Fix test
  config/config_test.go
  config/testdata/conf.good.yml
  documentation/examples/prometheus-scaleway.yml
Owners: none

Fix ip addresses
  discovery/scaleway/baremetal.go
Owners: none

Remove un-needed clone
  discovery/scaleway/baremetal.go
Owners: none

Add num scrapes as tsdb write benchmark command flag
  cmd/promtool/main.go
  cmd/promtool/tsdb.go
Owners: none

add support for scaleway service discovery (#8555)
  config/config_test.go
  config/testdata/conf.good.yml
  config/testdata/scaleway_role.bad.yml
  discovery/install/install.go
  discovery/scaleway/baremetal.go
  discovery/scaleway/instance.go
  discovery/scaleway/scaleway.go
  docs/configuration/configuration.md
  documentation/examples/prometheus-scaleway.yml
  go.mod
  go.sum
Owners: none

storage: Split chunks if more than 120 samples
  storage/merge_test.go
  storage/series.go
  tsdb/tsdbutil/chunks.go
Owners: @codesome

storage: Don't set maxt which is overwritten right away
  storage/series.go
Owners: none

Bump promu ; build prometheus with default platforms
  .promu.yml
  Makefile.common
Owners: none

web/ui: Hitting enter on range input creates a new query
  web/ui/react-app/src/pages/graph/GraphControls.tsx
Owners: @juliusv

Optimized vector selector
  promql/engine.go
  storage/buffer_test.go
  storage/memoized_iterator.go
  storage/memoized_iterator_test.go
Owners: @codesome, @roidelapluie

web/ui: Hitting enter on range input creates a new query (#8581)
  web/ui/react-app/src/pages/graph/GraphControls.tsx
Owners: @juliusv

Fix the installation from source instruction in README
  README.md
Owners: none
