Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

refactor: explicitly check value 75 in `TestGoGCDefaultValueOnEmptyConfigBody`
  config/config_test.go
Owners: none

refactor: remove `TestGoGCDefaultValueOnEmptyConfigBody` to reduce duplicate assertions
  config/config_test.go
Owners: none

Fix health color for target pools with single target that is down
  web/ui/mantine-ui/src/pages/targets/ScrapePoolsList.tsx
Owners: @juliusv

Labels: simpler/faster stringlabels encoding
  model/labels/labels_stringlabels.go
Owners: none

refactor: use a more straightforward return value
  scrape/helpers_test.go
Owners: none

fix golangci-lint tsdb.go error
  cmd/promtool/tsdb.go
Owners: @dgl

update dumpseries cache key with string
  cmd/promtool/tsdb.go
Owners: @dgl

scraper: fix UTF-8 scraping header always sent with PrometheusText1.0.0
  config/config.go
  scrape/scrape_test.go
Owners: none

refactor: use a more straightforward return value (#16070)
  scrape/helpers_test.go
Owners: none

GСС-13
  BUILD
  MODULE.bazel
  Makefile
  bare_bones/tests/bit_sequence_tests.cpp
  bare_bones/tests/bitset_tests.cpp
  bare_bones/tests/gorilla_tests.cpp
  bare_bones/tests/snug_composite_tests.cpp
  bare_bones/tests/sparse_vector_tests.cpp
  bazel/toolchain/BUILD
  bazel/toolchain/cc_toolchain_config.bzl
  primitives/tests/snug_composites_filaments_tests.cpp
  prometheus/block.h
  prometheus/blocks_chunks.h
  prometheus/remote_write.h
  prometheus/tests/block_tests.cpp
  prometheus/tests/blocks_chunks_tests.cpp
  prometheus/tests/prometheus_block_index_reading_api_tests.cpp
  scripts/test_coredump.sh
  wal/output_decoder.h
  wal/tests/wal_tests.cpp
  wal/wal.h
Owners: none

textparse: Optimize CreatedTimestamp; It returns int64 value now.
  model/textparse/benchmark_test.go
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  scrape/scrape.go
Owners: none

add suggestions
  promql/promqltest/test.go
Owners: @roidelapluie

fix lint
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

Decoding table optimization
  bare_bones/memory.h
  bare_bones/snug_composite.h
  bare_bones/vector.h
  entrypoint/head/lss.h
  entrypoint/index_writer.cpp
  primitives/snug_composites_filaments.h
  series_index/prometheus/tsdb/index/index_writer.h
  series_index/queryable_encoding_bimap.h
Owners: none

Refactored Go::Slice and optimized BareBones::Vector size
  bare_bones/bit_sequence.h
  bare_bones/bitset.h
  bare_bones/memory.h
  bare_bones/stream_v_byte.h
  bare_bones/tests/memory_tests.cpp
  bare_bones/vector.h
  entrypoint/common.cpp
  entrypoint/head_status.cpp
  entrypoint/primitives_lss.cpp
  performance_tests/benchmarks/generate_reverse_index_benchmark.cpp
  primitives/go_slice.h
  primitives/go_slice_protozero.h
Owners: none

Make /prometheus group writable
  Dockerfile
Owners: none

Add a TSDB PreInitFunc hook and move mapCommonLabelSymbols() call there
  cmd/prometheus/main.go
  tsdb/db.go
Owners: @jesusvazquez

Prepare release 3.2.1
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

chore: enable all rules of perfsprint lint
  .golangci.yml
  cmd/prometheus/main.go
  cmd/prometheus/query_log_test.go
  discovery/digitalocean/mock_test.go
  discovery/hetzner/mock_test.go
  discovery/ionos/server_test.go
  discovery/kubernetes/service_test.go
  discovery/linode/mock_test.go
  discovery/vultr/mock_test.go
  discovery/xds/client.go
  promql/bench_test.go
  promql/engine.go
  promql/parser/prettier.go
  rules/alerting.go
  rules/manager_test.go
  tsdb/chunks/chunks.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/ooo_head_read_test.go
  util/documentcli/documentcli.go
  web/api/v1/api_test.go
Owners: @brancz, @roidelapluie, @jesusvazquez

fix: don't throw error if dropped sd target has custom job label
  web/ui/mantine-ui/src/pages/service-discovery/ServiceDiscoveryPoolsList.tsx
Owners: @juliusv

Add additional error tests
  promql/engine.go
  promql/engine_test.go
Owners: @roidelapluie

notifier: Consider alert relabeling when deciding if alerts are dropped
  notifier/notifier.go
  notifier/notifier_test.go
Owners: none

Asan bugfix
  bare_bones/bit_sequence.h
  prometheus/tests/tsdb/chunkenc/bstream_tests.cpp
  prometheus/tsdb/chunkenc/bstream.h
  series_index/querier/querier.h
  series_index/querier/set_operations.h
  series_index/tests/querier/querier_tests.cpp
Owners: none

Fix parse error for paren_exprs
  promql/engine_test.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
Owners: @roidelapluie

doc: clarified behaviour of source_labels in relabel_config
  docs/configuration/configuration.md
Owners: none

doc: Update nodejs and npm requirements for build
  README.md
Owners: none

doc: Update nodejs and npm requirements for build (#16082)
  README.md
Owners: none

Fix
  cmd/promtool/main_test.go
  discovery/aws/ec2_test.go
  docs/configuration/alerting_rules.md
  docs/migration.md
  docs/querying/api.md
  storage/remote/write_handler.go
Owners: @dgl, @cstyan, @bwplotka, @tomwilkie

fix: format float to avoid overflow
  promql/parser/printer.go
  promql/parser/printer_test.go
Owners: @roidelapluie

Bump component version to 2.14.0
  COMPONENT_VERSION
Owners: none

Targets API: Remove superfluous if() and make variable names more intuitive
  web/api/v1/api.go
Owners: none

write_handler: Use client_golang/exp/api/remote for handling remote writes
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

Konflux for 2.14 (#102)
  .tekton/prometheus-acm-214-pull-request.yaml
  .tekton/prometheus-acm-214-push.yaml
Owners: none

Fix lint
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

config: set gogc default value when config body is empty (#16052)
  config/config.go
  config/config_test.go
Owners: none

3rd party libraries
  BUILD
  WORKSPACE
  bare_bones/exception.cpp
  bare_bones/exception.h
  bare_bones/xxhash.h
  entrypoint/_helpers.hpp
  performance_tests/performance_tests.cpp
  performance_tests/series_index/generate_xcdat_series_index_test.cpp
  performance_tests/series_index/generate_xcdat_series_index_test.h
  prometheus/stateless_relabeler.h
  series_index/tests/trie/xcdat_trie_tests.cpp
  series_index/trie/xcdat_tree.h
  third_party/cedar.BUILD
  third_party/fastfloat/BUILD
  third_party/patches/cedar/BUILD
  third_party/patches/cedar/cedarpp.h.patch
  third_party/patches/quasis_crypto/BUILD
  third_party/patches/quasis_crypto/md5.hh.patch
  third_party/quasis_crypto.BUILD
  third_party/simdutf.BUILD
  third_party/xxHash.BUILD
Owners: none

Address review comments
  web/api/v1/api.go
Owners: none

Use remote.MessageType for acceptedMessages
  cmd/prometheus/main.go
  cmd/prometheus/main_test.go
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  web/api/v1/api.go
  web/api/v1/errors_test.go
  web/web.go
Owners: @cstyan, @bwplotka, @tomwilkie

Hotfix rw empty snappy
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/iterator.go
  go/relabeler/remotewriter/writer.go
Owners: none

Include scrape pool name for dropped targets in /api/v1/targets
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
  web/ui/mantine-ui/src/api/responseTypes/targets.ts
  web/ui/mantine-ui/src/pages/service-discovery/ServiceDiscoveryPoolsList.tsx
Owners: @juliusv

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
