Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

wip passing struct
  cmd/prometheus/main.go
  cmd/promtool/backfill.go
  rules/group.go
  scrape/helpers_test.go
  scrape/scrape.go
  scrape/scrape_test.go
  scrape/target.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
  tsdb/agent/db.go
  tsdb/agent/db_test.go
  tsdb/block_test.go
  tsdb/blockwriter_test.go
  tsdb/compact_test.go
  tsdb/db_test.go
  tsdb/example_test.go
  tsdb/head_append.go
  tsdb/head_read_test.go
  tsdb/head_test.go
  tsdb/querier_bench_test.go
  tsdb/querier_test.go
  tsdb/testutil.go
  tsdb/tsdbblockutil.go
Owners: @dgl, @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

Reuse generated test name from junit testing
  cmd/promtool/unittest.go
Owners: @dgl

Update generatedelaytest to try with limit values
  cmd/prometheus/main.go
  tsdb/db_test.go
Owners: @jesusvazquez

docs: add keep_firing_for in alerting rules
  docs/configuration/alerting_rules.md
Owners: none

feat(tools): add debug printouts to rules unit testing (#15196)
  cmd/promtool/main.go
  cmd/promtool/unittest.go
  cmd/promtool/unittest_test.go
  docs/command-line/promtool.md
Owners: @dgl

Move to in-histogram WAL record for the first iteration
  tsdb/encoding/encoding.go
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/checkpoint.go
Owners: @jesusvazquez

Update benchmark
  tsdb/head_test.go
Owners: @jesusvazquez

NHCB scrape: refactor state handling and speed up scrape test (#15193)
  model/textparse/nhcbparse.go
  scrape/scrape_test.go
Owners: none

Feature/aliyun ecs discovery 20241015 (#7)
  discovery/aliyun/README.md
  go.mod
  go.sum
Owners: none

Refactor nhcbparse Next to consistently handle p.entry and p.err
  model/textparse/nhcbparse.go
Owners: none

NHCB scrape: make created timestamp work with non classic histograms
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

Feature/aliyun ecs discovery 20241023 (#8)
  discovery/aliyun/ecs.go
  discovery/aliyun/ecs_test.go
  go.mod
  go.sum
Owners: none

fix(omparser): losing exemplars when CT is parsed
  model/textparse/interface_test.go
  model/textparse/openmetricsparse.go
Owners: none

feat(nhcb): implement CT for all types in parser
  model/textparse/nhcbparse.go
  model/textparse/nhcbparse_test.go
Owners: none

[CHORE] changing bench test structure
  tsdb/head_bench_test.go
Owners: @jesusvazquez

fix(plugins): make plugins (#10)
  plugins/plugins.go
Owners: none

fixed creation BasicEncoder from BasicDecoder
  bare_bones/lz4_stream.h
  series_index/tests/codec.cpp
  wal/decoder.h
  wal/wal.h
Owners: none

remote-write: add ability to set User-Agent
  storage/remote/client.go
  storage/remote/client_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

add CHANGELOG entry
  CHANGELOG.md
Owners: none

test outOfOrder
  scrape/scrape_test.go
Owners: none

changes in group.go
  rules/fixtures/rules1.yaml
  rules/group.go
  rules/manager_test.go
  util/teststorage/storage.go
Owners: none

implementation
  cmd/prometheus/main.go
  scrape/helpers_test.go
  storage/fanout.go
  storage/interface.go
  storage/remote/write.go
  storage/remote/write_handler_test.go
  tsdb/agent/db.go
  tsdb/head_append.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

test and scrape
  rules/manager_test.go
  scrape/scrape.go
  storage/fanout.go
  storage/remote/write_handler_test.go
  tsdb/head_append.go
  util/teststorage/storage.go
Owners: @cstyan, @bwplotka, @tomwilkie, @jesusvazquez

error resolve
  util/teststorage/storage.go
Owners: none

collectResultAppender error
  scrape/helpers_test.go
Owners: none

updated test
  scrape/scrape_test.go
Owners: none

error
  scrape/scrape_test.go
Owners: none

added scrape scenario test
  scrape/scrape_test.go
  util/teststorage/storage.go
Owners: none

updated TestSetHintsHandlingStaleness
  scrape/scrape_test.go
Owners: none

revived test functions
  rules/manager_test.go
  scrape/scrape_test.go
  util/teststorage/storage.go
Owners: none

testutil
  util/teststorage/storage.go
Owners: none

revived test functions
  scrape/scrape_test.go
Owners: none

fanout.go
  storage/fanout.go
Owners: none

helper_test
  scrape/helpers_test.go
Owners: none

final changes
  storage/fanout.go
Owners: none

Update helpers_test.go
  scrape/helpers_test.go
Owners: none

final changes
  storage/fanout.go
Owners: none

Update fanout.go
  storage/fanout.go
Owners: none

resolve reviews
  scrape/helpers_test.go
  scrape/scrape_test.go
Owners: none

final changes
  rules/manager_test.go
  scrape/helpers_test.go
  storage/fanout.go
Owners: none
