Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @jesusvazquez, @roidelapluie, @dgl

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl

Fix PR typo in 2.45.0-rc.1 CHANGELOG
  CHANGELOG.md
Owners: none

labels: faster Compare function when using -tags stringlabels (#12451)
  model/labels/labels_stringlabels.go
  model/labels/labels_test.go
Owners: none

Fix PR typo in 2.45.0-rc.1 CHANGELOG (#12479)
  CHANGELOG.md
Owners: none

draft example wrapped discovery for adding instance config name
  cmd/promtool/sd.go
  discovery/discovery.go
  discovery/kubernetes/kubernetes.go
  discovery/legacymanager/manager.go
  discovery/manager.go
  discovery/ovhcloud/ovhcloud_test.go
  discovery/wrapped.go
Owners: @dgl, @brancz

Refactorings for cbindings
  Makefile
  go/common/common.go
  go/common/decoder.go
  go/common/decoder_test.go
  go/common/encode_decode_test.go
  go/common/encoder.go
  go/common/encoder_test.go
  go/common/internal/init.go
  go/common/internal/package_test.go
  go/common/internal/types.go
  go/common/internal/wal_c_decoder.h
  go/common/internal/wal_c_encoder.h
  go/common/internal/wal_c_types.h
  go/common/model.go
  go/server/decoder.go
  go/server/decoder_amd64.go
  go/server/decoder_arm64.go
  go/server/transport.go
Owners: none

labels: test Get with varying lengths
  model/labels/labels_test.go
Owners: none

labels: optimise Get method for stringlabels build
  model/labels/labels_stringlabels.go
Owners: none

Release 2.45.0
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Release 2.45.0 (#12486)
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

extend benchmark with label not found
  model/labels/labels_test.go
Owners: none

Labels.Get quick check on first character
  model/labels/labels_stringlabels.go
Owners: none

Fix path handling in File-SD watcher to allow directory monitoring on Windows
  discovery/file/file.go
Owners: none
