Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

chore(deps-dev): bump prettier in /web/ui/react-app
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv

Add @babel/plugin-proposal-private-property-in-object to react-app deps.
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv

Add missing trailing comma in react-app.
  web/ui/react-app/src/pages/graph/DataTable.tsx
Owners: @juliusv

deps: Use Gophercloud v2
  discovery/openstack/hypervisor.go
  discovery/openstack/instance.go
  discovery/openstack/loadbalancer.go
  discovery/openstack/openstack.go
  go.mod
  go.sum
Owners: none

chore(deps): bump @fortawesome/free-solid-svg-icons in /web/ui/react-app
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv

Apply npm audit fix to react-app
  web/ui/react-app/package-lock.json
Owners: @juliusv

storage: add new interface to append with CT
  scrape/scrape.go
  storage/interface.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/record/record.go
  tsdb/record/record_test.go
  tsdb/wlog/watcher_test.go
Owners: @jesusvazquez

updates annotation for bin op between incompatible histograms
  promql/engine.go
  util/annotations/annotations.go
Owners: @roidelapluie

Fix count_values ordering for instant queries.
  promql/engine.go
Owners: @roidelapluie

feat: add multiple client and feature flag support
  discovery/openstack/instance.go
Owners: none

Upgrade react-router-dom
  web/ui/react-app/package-lock.json
  web/ui/react-app/package.json
  web/ui/react-app/src/App.tsx
Owners: @juliusv

feat: add missing client opts and gofmt
  discovery/openstack/instance.go
Owners: none

fix test failure
  storage/remote/client.go
  storage/remote/storage.go
  storage/remote/write.go
Owners: @cstyan, @bwplotka, @tomwilkie

feat: improve testing for GetSupportedMicroversions
  discovery/openstack/mock_test.go
Owners: none

fix: revert the logic to the previous one
  discovery/openstack/instance.go
Owners: none

promql: fix rate calculation with a counter reset after the 1st histogram
  promql/functions.go
  promql/promqltest/testdata/native_histograms.test
Owners: @roidelapluie

Queried series count
  bare_bones/bitset.h
  bare_bones/sparse_vector.h
  bare_bones/tests/bitset_tests.cpp
  entrypoint/head_status.cpp
  entrypoint/head_status.h
  entrypoint/primitives_lss.cpp
  entrypoint/primitives_lss.h
  go/cppbridge/entrypoint.go
  go/cppbridge/entrypoint.h
  go/cppbridge/head_status.go
  go/cppbridge/head_status_test.go
  go/cppbridge/primitives_lss.go
  go/cppbridge/primitives_lss_test.go
  go/relabeler/head/head.go
  go/relabeler/head/shard.go
  go/relabeler/interface.go
  go/relabeler/querier/querier.go
  head/status.h
  head/status_tests.cpp
  series_index/queried_series.h
  series_index/querier/querier.h
  series_index/queryable_encoding_bimap.h
  series_index/sorting_index.h
  series_index/tests/querier/querier_tests.cpp
Owners: none

Add +Inf bucket in MetricFamiliesToWriteRequest if not present
  util/fmtutil/format.go
  util/fmtutil/format_test.go
Owners: none

promqltest: Small formatting improvement for native histograms
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

Fixing linter errors
  util/fmtutil/format_test.go
Owners: none

Fixing linter errors
  util/fmtutil/format_test.go
Owners: none

Created benchmarks
  BUILD
  WORKSPACE
  bare_bones/benchmarks/BUILD
  bare_bones/benchmarks/stream_v_byte_benchmark.cpp
  performance_tests/benchmarks/BUILD
  performance_tests/benchmarks/generate_reverse_index_benchmark.cpp
  wal/benchmarks/BUILD
  wal/benchmarks/scraper_benchmark.cpp
Owners: none

Fixing linter errors
  util/fmtutil/format_test.go
Owners: none

docs: Update PromQL documentation to match the native histogram spec
  docs/querying/basics.md
  docs/querying/functions.md
  docs/querying/operators.md
Owners: none

storage/remote: add created timestamps to the PRW2 request
  storage/remote/queue_manager.go
Owners: @cstyan, @bwplotka, @tomwilkie

Apply npm audit fix to react-app
  web/ui/react-app/package-lock.json
Owners: @juliusv

gofumt error fix
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote-write-sorted-labels
  storage/remote/write_handler.go
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote-write: validate sorted labels (fixes #11505)
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

update in test
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

update in test
  package-lock.json
Owners: none

whitespace
  storage/remote/write_handler_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

promqltest: Small formatting improvement for native histograms
  promql/promqltest/test.go
  promql/promqltest/test_test.go
Owners: @roidelapluie

remote-write: validate sorted labels (fixes #11505)
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

[DO NOT MERGE] Prombench `metadata-wal-records` feature
  README.md
Owners: none

apply suggested changes
  promql/functions.go
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

Prepare release 3.2.0-rc.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

feat: Support multi-documents in a single yaml rule file
  model/rulefmt/rulefmt.go
Owners: none

fixed linting and formating
  model/rulefmt/rulefmt.go
Owners: none

[EXPERIMENT] Prombench #821 test
  README.md
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
