Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

for save
  wal/output_decoder.h
Owners: none

for save
  wal/output_decoder.h
Owners: none

fix!: stop unbounded memory usage from query log
  promql/engine.go
  promql/engine_test.go
  scrape/scrape.go
  util/logging/file.go
  util/logging/file_test.go
Owners: @roidelapluie

apply DRY on clamp (#15441)
  promql/functions.go
Owners: @roidelapluie

docs: fix typo (#15436)
  docs/configuration/configuration.md
Owners: none

api: fix typo in list rules API response (#15400)
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

fix promtool analyze block shows metric name with 0 cardinality (#15438)
  cmd/promtool/tsdb.go
Owners: @dgl

address comments
  model/relabel/relabel.go
Owners: none

Implement json encoder/decoder for regexp (#15383)
  model/relabel/relabel.go
  model/relabel/relabel_test.go
Owners: none

docs: fix range queries link
  docs/querying/basics.md
Owners: none

docs: add regex section in querying basics
  docs/querying/basics.md
  docs/querying/examples.md
  docs/querying/functions.md
Owners: none

docs: update required go version in readme to 1.22
  README.md
Owners: none

wip
  go/cppbridge/prometheus_relabeler.go
  go/relabeler/head/manager/manager.go
  go/relabeler/remotewriter/cursor.go
  go/relabeler/remotewriter/datasource.go
  go/relabeler/remotewriter/decoder.go
  go/relabeler/remotewriter/destination.go
  go/relabeler/remotewriter/walreader.go
  go/relabeler/remotewriter/writeloop.go
  go/relabeler/remotewriter/writeloop_test.go
Owners: none

OTLP translate: keep identifying attributes in target_info
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
Owners: @aknuds1, @jesusvazquez

remove unneccessary defer before t.Cleanup
  config/config_test.go
Owners: none

discovery: fix some function names in comment
  discovery/consul/consul.go
Owners: none

Test for avg_over_time bug related to NaN values
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

reorder test data for avg_over_time
  promql/promqltest/testdata/functions.test
Owners: @roidelapluie

textparse: Refactored benchmark (#15083)
  model/textparse/benchmark_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
  model/textparse/testdata/omtestdata.txt
  model/textparse/testdata/promtestdata.nometa.txt
  model/textparse/testdata/promtestdata.txt
Owners: none

textparse: Refactored main testing utils for reusability; fixed proto Units. (#15095)
  model/textparse/interface.go
  model/textparse/interface_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
Owners: none

[PERF] textparse: further optimzations for OM `CreatedTimestamps` (#15097)
  model/textparse/openmetricsparse.go
  model/textparse/openmetricsparse_test.go
Owners: none

[PERF] textparse: optimize OM `p.isCreatedSeries()` (#15150)
  model/textparse/openmetricsparse.go
Owners: none

rebuild encode
  go/cppbridge/wal_decoder_test.go
  wal/output_decoder.h
  wal/tests/output_decoder_tests.cpp
Owners: none

Small improvement in handling cases without count
  util/convertnhcb/convertnhcb.go
Owners: none

nhcb: optimize, do not recalculate suffixes multiple times
  model/textparse/nhcbparse.go
  promql/promqltest/test.go
  util/convertnhcb/convertnhcb.go
Owners: @roidelapluie

fix test
  wal/tests/output_decoder_tests.cpp
Owners: none

test
  wal/tests/output_decoder_tests.cpp
Owners: none

Add support for utf8 names on `/v1/label/:name/values` endpoint
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: @roidelapluie

Keep current behavior when translation strategy is to convert UTF to underscores
  storage/remote/otlptranslator/prometheus/helpers_from_stdlib.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Revert "chore(deps): bump github.com/fsnotify/fsnotify from 1.7.0 to 1.8.0 (#15300)"
  go.mod
  go.sum
Owners: none

document scraping change introduced in 2.52.0 (#15148)
  CHANGELOG.md
Owners: none

dded a basic config file for object storage.
  .gitignore
  objectconfig.yml
Owners: none

Added Key for the yaml file.
  .gitignore
  key.yml
  objectconfig.yml
Owners: none

[DOCS] Improve description of WAL record format (#14936)
  tsdb/docs/format/wal.md
Owners: @jesusvazquez

1. Changed key.yml to bucket-config.yml. 2. replaced key with path. Signed-off-by: Kushal Shukla <kushalshukla110@gmail.com>
  .gitignore
  bucket-config.yml
Owners: none

Set hasCount after setting count to be consistent
  util/convertnhcb/convertnhcb.go
Owners: none

MemPostings: allocate ListPostings once in PFALV
  tsdb/index/postings.go
Owners: @jesusvazquez

notifier: fix increment of metric prometheus_notifications_errors_total
  CHANGELOG.md
  documentation/prometheus-mixin/alerts.libsonnet
  notifier/notifier.go
Owners: @metalmatze

MemPostings: allocate ListPostings once in PFALV (#15465)
  tsdb/index/postings.go
Owners: @jesusvazquez

Revert "chore(deps): bump github.com/fsnotify/fsnotify from 1.7.0 to 1.8.0 (#15300)"
  go.mod
  go.sum
Owners: none

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze
