Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @gouthamve, @jesusvazquez, @brancz, @roidelapluie, @dgl

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @gouthamve @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl

modify
  documentation/examples/prometheus.yml
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
Owners: @juliusv, @nexucis

update
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
Owners: @juliusv, @nexucis

update
  web/ui/package-lock.json
Owners: @juliusv

update
  web/ui/package-lock.json
Owners: @juliusv

Update tsdb/compact.go
  tsdb/compact.go
Owners: @jesusvazquez

add without static
  go/common/internal/init.go
  go/common/internal/init_fastcgo.go
Owners: none

Update comments, bitwise comparison of float buckets
  model/histogram/float_histogram.go
  model/histogram/float_histogram_test.go
  model/histogram/generic.go
  model/histogram/histogram.go
Owners: none

Revert ListPostings change
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Clarify Postings.At() contract (#12921)
  tsdb/index/postings.go
Owners: @jesusvazquez

Added ability to specify scrape protocols to accept during HTTP content type negotiation.
  cmd/prometheus/main.go
  config/config.go
  config/config_test.go
  config/testdata/conf.good.yml
  config/testdata/scrape_config_files_scrape_protocols.bad.yml
  config/testdata/scrape_config_files_scrape_protocols2.bad.yml
  docs/configuration/configuration.md
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

Revert ListPostings change (#12955)
  tsdb/index/postings.go
  tsdb/index/postings_test.go
Owners: @jesusvazquez

Volunteer Levi Harrison for release shepherd
  RELEASE.md
Owners: none

scraping: delay creating buffer, to save memory (#12953)
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

Add created timestamps to prompb
  prompb/io/prometheus/client/metrics.pb.go
  prompb/io/prometheus/client/metrics.proto
Owners: none

Don't treat labels.Labels as slice
  rules/manager.go
Owners: none

Remove non-templated check and fix tests
  rules/manager.go
  web/api/v1/api_test.go
Owners: none

page ui update
  web/ui/react-app/src/pages/serviceDiscovery/Services.tsx
Owners: @juliusv

update test
  web/api/v1/errors_test.go
Owners: none

tsdb: Avoid potential overflow in SortFunc
  tsdb/db.go
Owners: @jesusvazquez

Add created timestamps to prompb (#12936)
  prompb/io/prometheus/client/metrics.pb.go
  prompb/io/prometheus/client/metrics.proto
Owners: none

tsdb: Avoid potential overflow in comparisons
  tsdb/index/postingsstats.go
  tsdb/ooo_head_read.go
Owners: @jesusvazquez

Fixed readability and log message.
  cmd/prometheus/main.go
  config/config.go
  scrape/scrape_test.go
Owners: none

tsdb: Avoid potential overflow in comparisons
  cmd/promtool/tsdb.go
Owners: @dgl

update lint
  web/ui/react-app/src/pages/graph/SeriesName.tsx
  web/ui/react-app/src/pages/status/Status.tsx
Owners: @juliusv

lint
  web/api/v1/api.go
Owners: none

update plugins.yml
  plugins.yml
Owners: none

Added ability to specify scrape protocols to accept during HTTP content type negotiation. (#12738)
  cmd/prometheus/main.go
  config/config.go
  config/config_test.go
  config/testdata/conf.good.yml
  config/testdata/scrape_config_files_scrape_protocols.bad.yml
  config/testdata/scrape_config_files_scrape_protocols2.bad.yml
  docs/configuration/configuration.md
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

add test Signed-off-by: liguozhong <fuling.lgz@alibaba-inc.com>
  notifier/notifier.go
  notifier/notifier_test.go
Owners: none

Fix issue where consumers of `chainSampleIterator.Seek()` can ignore errors
  storage/merge.go
  storage/merge_test.go
Owners: none

Update docs
  docs/querying/api.md
Owners: none

Uncommitted time window
  go/go.mod
  go/go.sum
Owners: none

restore from file
  go/common/decoder.go
  go/common/encode_decode_test.go
  go/common/internal/init.go
  go/common/internal/init_fastcgo.go
  go/common/internal/types.go
  go/common/internal/wal_c_decoder.h
  go/common/internal/wal_c_types.h
  go/frames/frames.go
  go/go.mod
  go/go.sum
  wal/wal_c_api.cpp
  wal/wal_c_api/wal_c_decoder.cpp
  wal/wal_c_api/wal_c_decoder.h
  wal/wal_c_api/wal_c_types.h
  wal/wal_c_decoder_api.h
  wal/wal_c_go_uni_api.cpp
Owners: none

STASH'EM vol2
  config/config.go
  docs/configuration/configuration.md
  storage/remote/queue_manager.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

Adding a query parameter to filter out active alerts
  CHANGELOG.md
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

Merge pull request #12838 from krajorama/fix-disappearing-span-panic
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/float_histogram_test.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/histogram_meta.go
  tsdb/chunkenc/histogram_test.go
Owners: @jesusvazquez

Scrape metrics can now be registered with a non-default registry.
  cmd/prometheus/main.go
  scrape/manager.go
  scrape/manager_test.go
  scrape/metrics.go
  scrape/scrape.go
  scrape/scrape_test.go
Owners: none

Release 2.47.2
  CHANGELOG.md
  VERSION
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Fix similar issue for Next() as well.
  storage/merge.go
  storage/merge_test.go
Owners: none

Make the linter happy
  storage/merge.go
Owners: none

Use common logger instance to reduce duplication in `Group.Eval()`
  rules/manager.go
Owners: none
