Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @cstyan, @bwplotka, @tomwilkie, @aknuds1, @jesusvazquez, @brancz, @roidelapluie, @dgl, @metalmatze

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @cstyan @bwplotka @tomwilkie
/storage/remote/otlptranslator @aknuds1 @jesusvazquez
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl
/documentation/prometheus-mixin @metalmatze

[BUGFIX] avoid closing the query engine until it is guaranteed to no longer be in use. (#15724)
  cmd/prometheus/main.go
  promql/engine.go
Owners: @roidelapluie

prompb: Generate client proto using Opaque API, for parsing only.
  model/textparse/protobufparse.go
  prompb/buf.gen.yaml
  prompb/io/prometheus/client/metrics.pb.go
  prompb/io/prometheus/client/metrics.proto
  prompb/io/prometheus/client/registry.go
  scrape/scrape_test.go
  scripts/genproto.sh
Owners: none

OTLP receiver: Allow colons in non-standard units
  CHANGELOG.md
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

OTLP receiver: Allow colons in non-standard units (#15728)
  CHANGELOG.md
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
Owners: @aknuds1, @jesusvazquez

Prepare release 3.1.0-rc.1
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

Prepare release 3.1.0-rc.1 (#15730)
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

prompb: Generate client proto using Opaque API, for parsing only.
  model/textparse/nhcbparse_test.go
  model/textparse/protobufparse.go
  model/textparse/protobufparse_test.go
  prompb/buf.gen.yaml
  prompb/buf.yaml
  prompb/io/prometheus/client/metrics.pb.go
  prompb/io/prometheus/client/v1/custom.go
  prompb/io/prometheus/client/v1/metrics.pb.go
  prompb/io/prometheus/client/v1/metrics.proto
  scrape/scrape_test.go
  scripts/genproto.sh
Owners: none

GetLabel is lazy; Added optimized ParseLabels with different metric bytes.
  go.mod
  go.sum
  model/labels/labels_stringlabels.go
  model/textparse/protobufparse.go
  prompb/io/prometheus/client/v1/custom.go
  prompb/io/prometheus/client/v1/custom_test.go
  prompb/io/prometheus/client/v1/metrics.pb.go
  prompb/io/prometheus/client/v1/metrics.proto
Owners: none

TSDB benchmarks: Commit periodically to speed up init
  tsdb/querier_bench_test.go
Owners: @jesusvazquez

OTLP receiver: Optimize by initializing regexps at program start
  storage/remote/otlptranslator/prometheus/normalize_name.go
Owners: @aknuds1, @jesusvazquez

feat(chunkenc): use an iterator pool to avoid generating garbage during WAL replay
  tsdb/chunkenc/xor.go
Owners: @jesusvazquez

Migrating ec2 service discovery to the AWS sdk v2
  discovery/aws/ec2.go
  discovery/aws/ec2_test.go
  discovery/aws/lightsail.go
  go.mod
  go.sum
Owners: none

fix lint
  discovery/aws/ec2.go
  discovery/aws/ec2_test.go
  discovery/aws/lightsail.go
Owners: none

OTLP receiver: Optimize by initializing regexps at program start (#15733)
  storage/remote/otlptranslator/prometheus/normalize_name.go
Owners: @aknuds1, @jesusvazquez

Prepare release 3.1.0
  CHANGELOG.md
  VERSION
  web/ui/mantine-ui/package.json
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
Owners: @juliusv, @nexucis

Add one missed bugfix
  CHANGELOG.md
Owners: none

Adding t.Parallel() for tests in model package
  model/histogram/float_histogram_test.go
  model/histogram/generic_test.go
  model/histogram/histogram_test.go
  model/labels/labels_dedupelabels_test.go
  model/labels/labels_test.go
  model/labels/matcher_test.go
  model/labels/regexp_test.go
  model/labels/sharding_test.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
Owners: none

record_test.go: avoid captures, simply return test refs
  tsdb/record/record_test.go
Owners: @jesusvazquez

Removing redundant comments and range var capture
  model/histogram/float_histogram_test.go
  model/histogram/generic_test.go
  model/histogram/histogram_test.go
  model/labels/labels_test.go
  model/labels/matcher_test.go
  model/labels/regexp_test.go
  model/labels/sharding_test.go
  model/relabel/relabel_test.go
  model/rulefmt/rulefmt_test.go
  model/textparse/interface_test.go
  model/textparse/nhcbparse_test.go
  model/textparse/openmetricsparse_test.go
  model/textparse/promparse_test.go
  model/textparse/protobufparse_test.go
Owners: none

perf(nhcbparse): unroll recursion
  model/textparse/nhcbparse.go
Owners: none

Fix format of release heading
  CHANGELOG.md
Owners: none

promtool: update help strings
  cmd/promtool/main.go
  docs/command-line/promtool.md
Owners: @dgl

feat: rename status to provisioning_status and add operating_status
  discovery/openstack/loadbalancer.go
  discovery/openstack/loadbalancer_test.go
  docs/configuration/configuration.md
Owners: none

perf(nhcbparse): unroll recursion (#15776)
  model/textparse/nhcbparse.go
Owners: none

feat(tsdb/head): reuse pools and other data stores across segments to avoid generating garbage during WAL replay
  tsdb/head.go
  tsdb/head_wal.go
Owners: @jesusvazquez

feat(tsdb): allow using Direct IO for chuncks segments writing
  .github/workflows/ci.yml
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  tsdb/chunks/chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/fileutil/direct_io.go
  tsdb/fileutil/direct_io_force.go
  tsdb/fileutil/direct_io_linux.go
  tsdb/fileutil/direct_io_unsupported.go
  tsdb/fileutil/direct_io_writer.go
  tsdb/fileutil/direct_io_writer_test.go
Owners: @jesusvazquez

Add test for same label set in targets
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Add warning log for same labelset after relabeling
  discovery/targetgroup/targetgroup.go
  scrape/manager.go
Owners: none

Extract to separate method
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Add benchmark for warnIfTargetsRelabelledToSameLabels
  scrape/manager.go
  scrape/manager_test.go
Owners: none

Preallocate map with required size
  scrape/manager.go
Owners: none

Invert predicate to use !ok
  scrape/manager.go
Owners: none

Revert unrelated changes
  discovery/targetgroup/targetgroup.go
  scrape/manager.go
Owners: none

Use label bytes as key
  scrape/manager.go
Owners: none

Fix the target count to 10k
  scrape/manager_test.go
Owners: none

add warn under feature flag
  CHANGELOG.md
  cmd/prometheus/main.go
  scrape/manager.go
  scrape/manager_test.go
Owners: none

remote/otlp: use consumer.Metrics api
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: add delta test
  storage/remote/write_test.go
Owners: @cstyan, @bwplotka, @tomwilkie

util: otel pipelines
  go.mod
  go.sum
  storage/remote/write_handler.go
  storage/remote/write_test.go
  util/otel/fake/fake.go
  util/otel/meter.go
  util/otel/pipeline.go
  util/otel/pipeline_test.go
  web/api/v1/api.go
Owners: @cstyan, @bwplotka, @tomwilkie

remote/otlp: use deltatocumulative
  go.mod
  go.sum
  storage/remote/write_handler.go
Owners: @cstyan, @bwplotka, @tomwilkie
