Repository prometheus/prometheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @juliusv, @nexucis, @csmarchbanks, @cstyan, @bwplotka, @tomwilkie, @brancz, @jesusvazquez, @roidelapluie, @dgl

.github/CODEOWNERS:

/web/ui @juliusv
/web/ui/module @juliusv @nexucis
/storage/remote @csmarchbanks @cstyan @bwplotka @tomwilkie
/discovery/kubernetes @brancz
/tsdb @jesusvazquez
/promql @roidelapluie
/cmd/promtool @dgl

promql: refactor: create query object before parsing
  promql/engine.go
Owners: @roidelapluie

promql: include parsing in active-query tracking
  promql/engine.go
Owners: @roidelapluie

Placate lint
  promql/engine.go
Owners: @roidelapluie

Add Azure AD package for remote write (#11944)
  config/config.go
  config/config_test.go
  docs/configuration/configuration.md
  go.mod
  go.sum
  storage/remote/azuread/README.md
  storage/remote/azuread/azuread.go
  storage/remote/azuread/azuread_test.go
  storage/remote/azuread/testdata/azuread_bad_clientidmissing.yaml
  storage/remote/azuread/testdata/azuread_bad_invalidclientid.yaml
  storage/remote/azuread/testdata/azuread_good.yaml
  storage/remote/azuread/testdata/azuread_good_cloudmissing.yaml
  storage/remote/client.go
  storage/remote/write.go
Owners: @csmarchbanks, @cstyan, @bwplotka, @tomwilkie

apply suggestions
  documentation/prometheus-mixin/alerts.libsonnet
Owners: none

feat: dont compile regex matcher if we know its a literal
  model/labels/matcher.go
  model/labels/matcher_test.go
  model/labels/regexp.go
  promql/parser/printer_test.go
Owners: @roidelapluie

feat: move literal shortcut to fast regex matcher
  model/labels/matcher.go
  model/labels/regexp.go
  promql/parser/printer_test.go
Owners: @roidelapluie

Create new release candidate 2.45.0-rc0
  CHANGELOG.md
  VERSION
Owners: none

Rename remaining jitterSeed -> offsetSeed variables (#12414)
  scrape/target.go
Owners: none

Update npm dependencies
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Accept suggestions
  CHANGELOG.md
Owners: none

Go dependency update
  go.mod
  go.sum
Owners: none

Use pointers instead of values to avoid copying lock value by value
  web/api/v1/api.go
  web/web.go
Owners: none

Release 2.45.0 will be an LTS with support for 12 months
  CHANGELOG.md
Owners: none

Omit minor enhacements from changelog
  CHANGELOG.md
Owners: none

s/azure/Azure/g
  CHANGELOG.md
Owners: none

Fix enhancement typo
  CHANGELOG.md
Owners: none

Refactor/clean test c bindings
  arch_detector/arch_detector.cpp
  arch_detector/arch_detector.h
  wal/wal_c_api.cpp
  wal/wal_c_api.h
  wal/wal_c_api/tests/basic_reader_c_api_smoke_tests.cpp
  wal/wal_c_api/tests/smoke_decoder_tests.cpp
  wal/wal_c_api/tests/smoke_encoder_tests.cpp
  wal/wal_c_api/tests/smoke_types_tests.cpp
  wal/wal_c_api/wal_basic_decoder.h
  wal/wal_c_api/wal_basic_encoder.cpp
  wal/wal_c_api/wal_basic_encoder.h
  wal/wal_c_api/wal_basic_reader.cpp
  wal/wal_c_api/wal_c_decoder.h
  wal/wal_c_api/wal_c_decoder_api.cpp
  wal/wal_c_api/wal_c_encoder.h
  wal/wal_c_api/wal_c_encoder_api.cpp
  wal/wal_c_api/wal_c_types.h
  wal/wal_c_api/wal_c_types_api.cpp
  wal/wal_c_decoder_api.h
  wal/wal_c_encoder_api.h
  wal/wal_c_types.cpp
  wal/wal_c_types_api.h
Owners: none

refactor(wal_c_decoder): Use C++23's std::spanstream
  .bazelrc
  arch_detector/arch_detector.cpp
  arch_detector/arch_detector.h
  bazel/toolchain/cc_toolchain_config.bzl
  wal/wal_c_api.cpp
  wal/wal_c_api.h
  wal/wal_c_api/tests/basic_reader_c_api_smoke_tests.cpp
  wal/wal_c_api/tests/smoke_decoder_tests.cpp
  wal/wal_c_api/tests/smoke_encoder_tests.cpp
  wal/wal_c_api/tests/smoke_types_tests.cpp
  wal/wal_c_api/wal_basic_decoder.h
  wal/wal_c_api/wal_basic_encoder.cpp
  wal/wal_c_api/wal_basic_encoder.h
  wal/wal_c_api/wal_basic_reader.cpp
  wal/wal_c_api/wal_c_decoder.cpp
  wal/wal_c_api/wal_c_decoder.h
  wal/wal_c_api/wal_c_decoder_api.cpp
  wal/wal_c_api/wal_c_encoder.cpp
  wal/wal_c_api/wal_c_encoder.h
  wal/wal_c_api/wal_c_encoder_api.cpp
  wal/wal_c_api/wal_c_types.h
  wal/wal_c_api/wal_c_types_api.cpp
  wal/wal_c_decoder_api.h
  wal/wal_c_encoder_api.h
  wal/wal_c_types.cpp
  wal/wal_c_types_api.h
Owners: none

include missing changelog items
  CHANGELOG.md
Owners: none

Create release candidate 2.45.0-rc.0 (#12435)
  CHANGELOG.md
  VERSION
  go.mod
  go.sum
  web/api/v1/api.go
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
  web/web.go
Owners: @juliusv, @nexucis

add alert for sd refresh failure (#12410)
  documentation/prometheus-mixin/alerts.libsonnet
Owners: none

Bump UI version
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

Bump UI version (#12440)
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/react-app/package.json
Owners: @juliusv, @nexucis

feat: dont compile regex matcher if we know its a literal (#12434)
  model/labels/matcher_test.go
  model/labels/regexp.go
Owners: none

Remove trailing commas from Exemplar API docs
  docs/querying/api.md
Owners: none

Add feature flag to squash metadata from /api/v1/metadata
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

Start work on histogram visualization in the table view
  web/ui/react-app/src/pages/graph/DataTable.test.tsx
  web/ui/react-app/src/pages/graph/DataTable.tsx
  web/ui/react-app/src/pages/graph/HistogramChart.tsx
  web/ui/react-app/src/themes/_shared.scss
  web/ui/react-app/src/themes/dark.scss
  web/ui/react-app/src/themes/light.scss
Owners: @juliusv

Add feature flag to squash metadata from /api/v1/metadata (#12391)
  docs/querying/api.md
  web/api/v1/api.go
  web/api/v1/api_test.go
Owners: none

docs: update prometheus-operator link
  docs/configuration/configuration.md
Owners: none

Hide `which` stderr output
  Makefile
  Makefile.common
Owners: none

mv labels_string.go labels_as_string.go
  model/labels/labels_as_string.go
Owners: none

mv labels_as_string.go labels_stringlabels.go
  model/labels/labels_stringlabels.go
Owners: none

histogram chunks set CounterReset in header if first histograms has it
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
Owners: @jesusvazquez

mv labels_string.go labels_stringlabels.go (#12328)
  model/labels/labels_stringlabels.go
Owners: none

labels: add benchmark for Compare
  model/labels/labels_test.go
Owners: none

labels: faster Compare function when using -tags stringlabels
  model/labels/labels_stringlabels.go
Owners: none

rewrite `which` with `command -v`
  Makefile
  Makefile.common
Owners: none

labels: extend Compare test
  model/labels/labels_test.go
Owners: none

labels: correct stringlabels Compare on empty argument
  model/labels/labels_stringlabels.go
Owners: none
