Repository prometheus/prometheus, pull requests merged in 2021-08, with the labels that each got.

#9147 Breakdown tsdb/head.go into multiple files
  tsdb/head.go
  tsdb/head_append.go
  tsdb/head_read.go
  tsdb/head_wal.go
Labels: component/tsdb, kind/cleanup

#9226 Do not replay checkpoint if it is covered by snapshot
  tsdb/head.go
Labels: component/tsdb

#9254 Build with Go 1.17 / npm 7 / node 16
  .circleci/config.yml
  .promu.yml
  cmd/prometheus/main_unix_test.go
  config/config_default_test.go
  documentation/prometheus-mixin/tools.go
  pkg/runtime/limits_default.go
  pkg/runtime/limits_windows.go
  pkg/runtime/statfs.go
  pkg/runtime/statfs_default.go
  pkg/runtime/statfs_linux_386.go
  pkg/runtime/statfs_uint32.go
  pkg/runtime/uname_default.go
  pkg/runtime/vmlimits_default.go
  pkg/runtime/vmlimits_openbsd.go
  promql/fuzz.go
  scripts/tools.go
  tsdb/chunks/head_chunks_other.go
  tsdb/fileutil/dir_unix.go
  tsdb/fileutil/dir_windows.go
  tsdb/fileutil/flock_solaris.go
  tsdb/fileutil/flock_unix.go
  tsdb/fileutil/mmap_386.go
  tsdb/fileutil/mmap_amd64.go
  tsdb/fileutil/mmap_unix.go
  tsdb/fileutil/preallocate_other.go
  tsdb/fileutil/sync.go
  tsdb/fileutil/sync_darwin.go
  tsdb/fileutil/sync_linux.go
  tsdb/goversion/goversion.go
  tsdb/wal_test.go
  web/ui/assets_generate.go
  web/ui/ui.go
Labels: prombench
