Repository prometheus/prometheus, pull requests merged in 2024-08, with the labels that each got.

#14609 promql: fix "cannot reduce resolution to custom buckets schema" panic in `rate` over native histograms with mix of custom and exponential buckets
  promql/functions.go
  promql/promqltest/test.go
  promql/promqltest/testdata/native_histograms.test
Labels: component/promql

#14510 otlptranslator: Add tests for BuildCompliantName
  storage/remote/otlptranslator/prometheus/normalize_label.go
  storage/remote/otlptranslator/prometheus/normalize_name.go
  storage/remote/otlptranslator/prometheus/normalize_name_test.go
  storage/remote/otlptranslator/prometheus/testutils_test.go
Labels: kind/enhancement, component/otlp

#14042 tsdb/wlog: Only treat unknown record types as failure
  CHANGELOG.md
  tsdb/wlog/watcher.go
Labels: kind/bug, component/tsdb

#14490 feat(utf8): utf-8 content negotiation and flags
  cmd/prometheus/main.go
  config/config.go
  docs/command-line/prometheus.md
  docs/configuration/configuration.md
  docs/feature_flags.md
  scrape/manager.go
  scrape/scrape.go
  scrape/scrape_test.go
Labels: priority/P2

#14691 Upgrade golangci-lint to v1.60.1
  .github/workflows/ci.yml
  Makefile.common
  cmd/promtool/tsdb.go
  discovery/eureka/client.go
  discovery/hetzner/robot.go
  discovery/kubernetes/kubernetes_test.go
  notifier/notifier.go
  promql/functions.go
  promql/parser/lex.go
  scripts/golangci-lint.yml
  storage/buffer_test.go
  storage/remote/client.go
  storage/remote/queue_manager.go
  storage/remote/write_handler_test.go
  template/template.go
  tsdb/chunks/queue_test.go
  tsdb/db.go
  tsdb/db_test.go
  tsdb/head_append.go
  tsdb/head_test.go
  tsdb/index/postingsstats_test.go
  tsdb/wlog/wlog.go
  util/testutil/directory.go
  web/web.go
Labels: kind/cleanup

#14706 OTLP receiver: Warn when encountering invalid exponential histograms
  CHANGELOG.md
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/write_handler.go
Labels: component/otlp, area/opentelemetry

#14707 Upgrade golangci-lint to v1.60.2
  .github/workflows/ci.yml
  Makefile.common
  scripts/golangci-lint.yml
  template/template.go
Labels: kind/cleanup

#14715 lint: Revamp our linting rules, mostly around doc comments
  .golangci.yml
  cmd/promtool/main.go
  cmd/promtool/metrics.go
  discovery/discoverer_metrics_noop.go
  discovery/discovery.go
  discovery/manager.go
  discovery/metrics_refresh.go
  discovery/util.go
  model/exemplar/exemplar.go
  model/labels/labels.go
  model/textparse/interface.go
  promql/engine.go
  promql/parser/ast.go
  scrape/clientprotobuf.go
  storage/interface.go
  storage/remote/azuread/azuread.go
  template/template.go
  tsdb/chunks/head_chunks.go
  tsdb/db.go
  tsdb/encoding/encoding.go
  tsdb/head_other.go
  tsdb/index/index.go
  tsdb/ooo_head_read.go
  tsdb/wlog/watcher.go
  tsdb/wlog/wlog.go
  util/annotations/annotations.go
  util/testutil/cmp.go
Labels: kind/cleanup

#14719 [COMMENT] tsdb: Fix ValNone typo
  tsdb/querier.go
Labels: kind/cleanup, component/tsdb

#14477 PromQL engine: Delay deletion of __name__ label to the end of the query evaluation
  cmd/prometheus/main.go
  docs/command-line/prometheus.md
  docs/feature_flags.md
  promql/engine.go
  promql/engine_test.go
  promql/functions.go
  promql/promqltest/test.go
  promql/promqltest/testdata/name_label_dropping.test
  promql/value.go
Labels: prombench
