Repository prometheus/prometheus, pull requests merged in 2024-05, with the labels that each got.

#14021 promql.evaluator.rangeEvalTimestampFunctionOverVectorSelector: Don't care about sample values
  promql/engine.go
  promql/engine_test.go
Labels: kind/bug, component/promql

#14043 tsdb/chunkenc.Pool: Refactor Get and Put
  tsdb/chunkenc/bstream.go
  tsdb/chunkenc/bstream_test.go
  tsdb/chunkenc/chunk.go
  tsdb/chunkenc/chunk_test.go
  tsdb/chunkenc/float_histogram.go
  tsdb/chunkenc/histogram.go
  tsdb/chunkenc/xor.go
Labels: kind/cleanup, component/tsdb

#14020 prometheusremotewrite: Move TimeSeries method to timeseries.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/timeseries.go
Labels: component/otlp

#14041 Fix language in docs and comments
  model/relabel/relabel.go
  storage/series.go
  tsdb/blockwriter.go
  tsdb/chunkenc/varbit.go
  tsdb/chunks/chunks.go
  tsdb/chunks/head_chunks.go
  tsdb/compact.go
  tsdb/db.go
  tsdb/docs/format/head_chunks.md
  tsdb/docs/format/index.md
  tsdb/docs/usage.md
  tsdb/exemplar.go
  tsdb/head_append.go
  tsdb/head_wal.go
  tsdb/index/index.go
  tsdb/record/record.go
Labels: kind/cleanup

#13620 tsdb.IndexReader: Add method PostingsForLabelMatching
  CHANGELOG.md
  tsdb/block.go
  tsdb/block_test.go
  tsdb/head_read.go
  tsdb/head_read_test.go
  tsdb/index/index.go
  tsdb/index/postings.go
  tsdb/ooo_head_read.go
  tsdb/querier.go
  tsdb/querier_test.go
Labels: kind/enhancement, component/tsdb, prombench

#14071 tsdb/index: Refactor Reader tests
  tsdb/index/index_test.go
Labels: kind/cleanup, component/tsdb

#13218 Make DBReadOnly more RO
  cmd/promtool/backfill.go
  cmd/promtool/main.go
  cmd/promtool/tsdb.go
  cmd/promtool/tsdb_test.go
  docs/command-line/promtool.md
  tsdb/chunks/head_chunks.go
  tsdb/compact_test.go
  tsdb/db.go
  tsdb/db_test.go
Labels: component/tsdb

#14000 promql.ActiveQueryTracker: Unmap mmapped file when done
  promql/engine_test.go
  promql/query_logger.go
  promql/query_logger_test.go
Labels: kind/bug, component/promql

#14153 Upgrade to golangci-lint v1.59.0
  .github/workflows/ci.yml
  .golangci.yml
  Makefile.common
  cmd/prometheus/query_log_test.go
  scripts/golangci-lint.yml
  tsdb/chunks/queue_test.go
  tsdb/db_test.go
  tsdb/head_test.go
  tsdb/wlog/checkpoint_test.go
  web/api/v1/api_test.go
Labels: kind/cleanup

#14083 promql: ensure series in matrix values returned for instant queries are sorted
  docs/querying/api.md
  docs/querying/functions.md
  promql/engine.go
  promql/engine_test.go
Labels: prombench
