Repository prometheus/prometheus, pull requests merged in 2024-09, with the labels that each got.

#14650 chore: migrate stale check to use stale github action
  .github/stale.yml
  .github/workflows/stale.yml
  scripts/sync_repo_files.sh
Labels: github_actions

#14064 Release PromQL engine resources on close, from tests
  cmd/prometheus/main.go
  promql/bench_test.go
  promql/engine.go
  promql/engine_test.go
  promql/functions_test.go
  promql/promql_test.go
  promql/promqltest/test.go
  promql/promqltest/test_test.go
  rules/alerting_test.go
  rules/manager_test.go
  rules/recording_test.go
  web/api/v1/api_test.go
  web/api/v1/errors_test.go
Labels: kind/bug, component/promql

#14697 chore: update min go version to 1.22 and update to the 1.23 toolchain
  .github/workflows/ci.yml
  .promu.yml
  documentation/examples/remote_storage/go.mod
  go.mod
  scripts/golangci-lint.yml
Labels: prombench

#14861 promql.Engine.Close: No-op if nil
  promql/engine.go
  promql/engine_test.go
Labels: kind/bug, component/promql

#14612 OTLP: Support context cancellation/timeout during translation
  CHANGELOG.md
  storage/remote/otlptranslator/prometheusremotewrite/context.go
  storage/remote/otlptranslator/prometheusremotewrite/context_test.go
  storage/remote/otlptranslator/prometheusremotewrite/helper.go
  storage/remote/otlptranslator/prometheusremotewrite/helper_test.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms.go
  storage/remote/otlptranslator/prometheusremotewrite/histograms_test.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw.go
  storage/remote/otlptranslator/prometheusremotewrite/metrics_to_prw_test.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points.go
  storage/remote/otlptranslator/prometheusremotewrite/number_data_points_test.go
  storage/remote/write_handler.go
Labels: kind/enhancement, component/otlp

#14897 Upgrade github.com/googleapis/enterprise-certificate-proxy to v0.3.4
  go.mod
  go.sum
Labels: kind/cleanup

#14849 storage: Update LabelQuerier interface to return sorted label values
  storage/interface.go
  tsdb/block_test.go
  tsdb/head_test.go
Labels: kind/enhancement, component/tsdb

#14910 Make rate possible non-counter annotation consistent
  CHANGELOG.md
  promql/engine.go
  promql/engine_test.go
Labels: kind/bug, component/promql

#14920 Prepare release 2.55.0-rc.0
  CHANGELOG.md
  RELEASE.md
  VERSION
  model/histogram/float_histogram_test.go
  promql/engine.go
  promql/parser/generated_parser.y
  promql/parser/generated_parser.y.go
  promql/parser/lex.go
  promql/parser/parse_test.go
  promql/promqltest/testdata/native_histograms.test
  web/ui/module/codemirror-promql/package.json
  web/ui/module/lezer-promql/package.json
  web/ui/package-lock.json
  web/ui/package.json
  web/ui/react-app/package.json
Labels: prombench

#14425 Neater string vs byte-slice conversions
  model/labels/labels_common.go
  model/labels/labels_stringlabels.go
  model/textparse/promparse.go
  tsdb/encoding/encoding.go
  tsdb/index/index.go
Labels: kind/cleanup

#14900 promql.Engine: Refactor vector selector evaluation into a method
  promql/engine.go
Labels: kind/cleanup, component/promql

#14972 UI: Make mantime UI assets relative
  web/ui/mantine-ui/vite.config.ts
Labels: component/ui

#14721 [PERF] TSDB: Grow postings by doubling
  tsdb/index/postings.go
Labels: prombench
